<?php 
$album = $this->restaurant->getDefaultPhotoAlbum(); 
if ($album instanceof \Ezy\Album && $album->getPhotos()) { ?>
    <div class="slider-area col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <?php
        echo '<ol class="carousel-indicators">';
        $i = 0;
        foreach ($album->getPhotos()->getItems() as $photo) {
            echo "<li data-target='#carousel-example-generic' data-slide-to='$i' class='active'></li>";
            $i++;
        }
        echo '</ol>';

        $i = 0;
        echo '<div class="carousel-inner" role="listbox">';
        foreach ($album->getPhotos()->getItems() as $photo) {
            $active = ($i == 0 ? "active" : "");
            echo "<div class='item $active'>";
                echo "<img src='{$photo->getImageUrl()}' alt='banner'>";
                echo '<div class="carousel-caption">';
                    echo ($album->getTitle() ? '<h2>'. $album->getTitle() .'</h2>' : '');
                    echo ($photo->getCaption() ? '<p>'. $photo->getCaption() .'</p>' : '');
                echo '</div>';
            echo '</div>';
            $i++;
        }
        echo '</div>'; ?>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
<?php } ?>


<?php
	$page = $this->restaurant->getPage('home');
	echo $this->restaurant->getThemeViewHelpers()->printPageDetails($page);
?>

<?php 
$specialOffers = $this->restaurant->getOffers();
if ($specialOffers->getTotal()) { ?> 
<div class="offers-area col-md-12 clearfix">
    <h2 class="title text-center">Our Special Offers</h2>
	<?php echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant, $homePage  = true); ?>
</div>
<?php } ?>

<div class="col-md-12 menu-area clearfix">
	<h2 class="title text-center">Our Menus</h2>
	<?php
	$menu = $this->restaurant->getMenu();
	$categories = $menu->getNormalCategories();
	if (!empty($categories)) {
		$menu_limit = 1;
		foreach($categories->getItems() as $category) {
            if ( $menu_limit <= 4 ) {
                $imageSrc = $this->baseUrl('/tr/themes/ch/theme1/img/'.$menu_limit.'.jpg'); ?>
                <div class="single col-md-3 col-sm-4 col-xs-6">
                    <div class="inner">
                        <img class="img-responsive" src="<?=$imageSrc?>" alt=""/>
                        <p class="title"><?=$category->getName();?></p>
                        <p class="description"><?=substr($category->getDescription(),0,120);?> ..</p>
                        <?php
                        echo "<ul class='list-group'>";
                        $foodItemLimit = 0;
                        foreach($category->getFoodItems()->getItems() as $foodItem) {
                            $foodItemLimit += 1;
                            echo ( $foodItemLimit < 4 ? "<li class='list-group-item'>{$foodItem->getName()} - {$this->restaurant->getCurrencySymbol()}{$foodItem->getPrice()}</li>" : "" );
                        }
                        echo "</ul>";
                        ?>
                        <a href="<?=$this->restaurant->getUrl('menu');?>" class="btn btn-danger">See All Items</a>
                    </div>
                </div>				 
<?php
            } 
            $menu_limit++;
		}
	} else {
		echo $this->restaurant->getThemeViewHelpers()->alert('Sorry no menu item published.');
	}
	?>
</div>


<?php $map = $this->restaurant->getGoogleMap(array('width' => '100%', 'height' => 450)); 
if ($map) {
?>
<div class="clearfix">
    <?php echo $map; ?>
</div>
<?php } ?>