<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <?php echo $this->headTitle() ?>
    <?php echo $this->headMeta();?>
    <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->baseUrl('favicon.ico');?>" />
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/font-awesome.min.css');?>">
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/slicknav.css');?>">
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/normalize.css');?>">
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/bootstrap.min.css');?>">
	<link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/jquery.fancybox.css');?>">
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/themes/ch/theme1/style.css');?>">
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/themes/ch/theme1/responsive.css');?>">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="<?php echo $this->baseUrl('/tr/vendor/js/vendor/modernizr-2.6.2.min.js');?>"></script>
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <?php echo $this->headLink() ?>
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="col-md-12 header clearfix">
			<div class="top-address text-right clearifx">
                <h4>
				<?php
					if ($this->restaurant->getPhoneTakeaway()) {
						echo "<a href='tel:{$this->restaurant->getPhoneTakeaway()}'><i class='fa fa-phone'></i> {$this->restaurant->getPhoneTakeaway()}</a>";
					}
					if ($this->restaurant->getPhoneReservation()) {
						echo " <span class='slash'>/</span> <a href='tel:{$this->restaurant->getPhoneReservation()}'> {$this->restaurant->getPhoneReservation()}</a>";
					}
					if ( $this->restaurant->getAddress()->getCountry() ) {
					   echo "<span class='address'><i class='fa fa-map-marker'></i> ".$this->restaurant->getThemeViewHelpers()->prettyPrintAddressInOneLine($this->restaurant)."</span>";
					}
				?>
                </h4>
			</div>
			
			<div class="logo text-center clearfix">
				<a href="<?=$this->restaurant->getUrl('home')?>">
					<?=( $this->restaurant->getLogoImageId() ? $this->restaurant->getLogo('', null) : $this->restaurant->getName() )?>
				</a>
			</div>
			
			<div class="menu">
				<ul id="nav" class="text-center list-unstyled">
					<li><a href="<?=$this->restaurant->getUrl('home')?>">Home</a></li>
					<li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
					<?=( $this->restaurant->getShowPageReviews() ?
					"<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a></li>" : ""
					)?>
					<?=( $this->restaurant->getShowPageVideos() ?
					"<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a></li>" : ""
					)?>
					<?=( $this->restaurant->getShowPagePhotos() ?
					"<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a></li>" : ""
					)?>
					<?=( $this->restaurant->getShowPageOffers() ?
					"<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a></li>" : ""
					)?>
				</ul>
			</div>
        </div>
    </header>
    
   <?php echo $this->layout()->content; ?>
   
   
   <section class="footer_bottom col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <div class="footer_txt">
         <p class="pull-left">
			<?=$this->restaurant->getWebsitePoweredByText();?><br/>
			<small><?=$this->restaurant->getSubUnsubLink();?></small>
		</p>
         <p class="pull-right">Designed & Developed By 
            <a target='_blank' href='<?=$this->restaurant->getWebsiteFooterLink();?>'><?=$this->restaurant->getWebsiteFooterLinkText();?></a>
		</p>
      </div>
   </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="vendor/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="<?php echo $this->baseUrl('/tr/vendor/js/bootstrap.min.js')?>">
	</script><script src="<?php echo $this->baseUrl('/tr/vendor/js/jquery.fancybox.pack.js');?>"></script>
    <script src="<?php echo $this->baseUrl('/tr/vendor/js/plugins.js')?>"></script>
    <script src="<?php echo $this->baseUrl('/tr/vendor/js/main.js')?>"></script>
	<script src="<?php echo $this->baseUrl('/tr/themes/ch/theme1/theme.js');?>"></script>	
    <?php echo $this->headScript();?>
    </body>
</html>
