<?php $currency = $this->restaurant->getCurrencySymbol(); ?>
<?php $cb = $this->checkoutBasket($this->restaurant); ?>
<?php $spiceLevel = $this->restaurant->getThemeViewHelpers()->spiceLevel($this->restaurant); ?>
<?php $recommendButton = $this->restaurant->getThemeViewHelpers()->recommendButton($this->user); ?>

<section class="videos_area">
    <div class="container menus">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <?php
					$page = $this->restaurant->getPage('menu');
					echo $this->restaurant->getThemeViewHelpers()->printPageInfo($page);
				?>
				
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <?php
                    $menu = $this->restaurant->getMenu();
                    $id = 0;
                    $categories = $menu->getNormalCategories();

                    if (!empty($categories)) {                     
                        foreach($categories->getItems() as $category) {
                            if (!$category->isPublished()) continue;
                            $id++; 
                        ?>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading<?=$id;?>">
                                <h4 class="panel-title">
                                <a <?=( $id != 1 ? 'class="collapsed"' : '');?> data-toggle="collapse" data-parent="#accordion" href="#collapse<?=$id;?>" aria-expanded="<?=( $id == 1 ? 'true' : 'false');?>" aria-controls="collapse<?=$id;?>">
                                <?=$category->getName();?>
                                </a>
                                </h4>
                            </div>
                            <div id="collapse<?=$id;?>" class="panel-collapse collapse<?=( $id == 1 ? ' in' : '');?>" role="tabpanel" aria-labelledby="heading<?=$id;?>">
                                <div class="panel-body">
                                    <?php 
										if ( $category->getImage() ) {
											$imageSrc = $category->getImage()->getThumbnailUrl();
											echo "<img class='img-responsive' src='{$imageSrc}' alt='' />";
										}else{
											$imageSrc = $this->baseUrl('/tr/themes/ch/theme1/img/fastfood.png');
											echo "<img class='img-responsive' src='{$imageSrc}' alt='' />";
										}
                                    ?>
                                    
                                    <p class="text-justify hidden-xs"><?=$category->getDescription();?></p>
                                    <?php
                                    echo "<ul class='list-group'>";
                                        foreach($category->getFoodItems()->getItems() as $foodItem) {
                                            echo "<li class='list-group-item' itemscope itemtype='http://schema.org/Product'>";
                                            echo "<meta itemprop='brand' content='{$category->getName()}' />";
                                            echo "<span itemprop='name'>{$foodItem->getName()}</span> - ";
                                            echo "<span itemprop='offers' itemscope itemtype='http://schema.org/Offer'>";
                                                echo "<meta itemprop='priceCurrency' content='{$this->restaurant->getWebsiteCurrency()}' />";
                                                echo "{$currency}<span itemprop='price'>{$foodItem->getPrice()}</span> ";
                                                echo "{$recommendButton->printButton($foodItem)}";
                                            echo "</span>";
                                            echo "&ensp;".$spiceLevel->printImage($foodItem);
											echo "&ensp;".$cb->printHtmlButton($foodItem);
                                            if ($foodItem->getDescription()) {
                                                echo "<p class='text-info' itemprop='description'>{$foodItem->getDescription()}</p>";
                                            }
                                            echo "</li>";
                                        }
                                    echo "</ul>";
                                    ?>
                                </div>
                            </div>
                        </div>

                    <?php } 
                    }else{
                     echo $this->restaurant->getThemeViewHelpers()->alertInfo('No published menu category found.');
                    }

                    $categories = $menu->getClassicCategories();
                    if (!empty($categories)) {
                        $content = '';
                        foreach($categories->getItems() as $category) { 
                            if (!$category->isPublished()) continue;
?>
                    
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseClassic" aria-expanded="false" aria-controls="collapseClassic">
                                    <?=$category->getName();?>
                                </a>
                                </h4>
                            </div>
                            <div id="collapseClassic" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
									<?php 
                                        if ($category->getImage()) {
                                            $categoryImageUrl = $category->getImage()->getThumbnailUrl();
                                            echo "<img src='$categoryImageUrl' alt='Category image' title='{$category->getName()}'/>";
                                        }
                                    ?>
                                    <p class="text-justify hidden-xs"><?=$category->getDescription();?></p>                                    
                                    <?php
                                        $content .= "<table class='table table-bordered '>";
                                        $content .= "<thead><tr><th>Item</th><th>Chi/Lmb</th>";
                                        if($category->getShowChickenLambTikkaPrice()) $content .= "<th>Chi/Lmb Tikka</th>";
                                        if($category->getShowLambPrice()) $content .= "<th>Lamb</th>";
                                        if($category->getShowBeefPrice()) $content .= "<th>Beef</th>";
                                        if($category->getShowDuckPrice()) $content .= "<th>Duck</th>";
                                        if($category->getShowPrawnPrice()) $content .= "<th>Prawn</th>";
                                        if($category->getShowKingPrawnPrice()) $content .= "<th>King Prawn</th>";
                                        if($category->getShowVegetablePrice()) $content .= "<th>Vegetable</th>";
                                        if($category->getShowMixedPrice()) $content .= "<th>Mixed</th>";
                                        $content .= "</tr></thead>";
                                        $content .= "<tbody>";

                                        foreach($category->getFoodItems()->getItems() as $item) {
                                            $content .= "<tr>";
                                            //$level = \Ezy\Ezy::getSpiceLevelName($item->getSpiceLevel());                    
                                            $content .= "<td>{$item->getName()}&ensp;{$spiceLevel->printImage($item)} <br/>";
                                            $content .= "<p class='text-info'>{$item->getDescription()}</p></td>";
                                            $content .= "<td>{$currency}{$item->getPrice()}</td>";

                                            $content .= ($category->getShowChickenLambTikkaPrice()
                                            ?  "<td>{$currency}{$item->getPriceChickenLambTikka()}</td>" : "");
                                            $content .= ($category->getShowLambPrice()
                                            ?  "<td>{$currency}{$item->getPriceLamb()}</td>" : "");
                                            $content .= ($category->getShowBeefPrice()
                                            ?  "<td>{$currency}{$item->getPriceBeef()}</td>" : "");
                                            $content .= ($category->getShowDuckPrice()
                                            ?  "<td>{$currency}{$item->getPriceDuck()}</td>" : "");
                                            $content .= ($category->getShowPrawnPrice()
                                            ?  "<td>{$currency}{$item->getPricePrawn()}</td>" : "");
                                            $content .= ($category->getShowKingPrawnPrice()
                                            ?  "<td>{$currency}{$item->getPriceKingPrawn()}</td>" : "");
                                            $content .= ($category->getShowVegetablePrice()
                                            ?  "<td>{$currency}{$item->getPriceVegetable()}</td>" : "");
                                            $content .= ($category->getShowMixedPrice()
                                            ?  "<td>{$currency}{$item->getPriceMixed()}</td>" : "");
                                            $content .= "</tr>";
                                        }

                                        $content .= "</tbody></table>";
                                        echo $content;
                                    ?>

                                </div>
                            </div>
                        </div>
                    <?php } ?>                    
                <?php } ?>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs text-right">
                <div class="address widget text-muted">
                    <?php $address = $this->restaurant->getAddress(); echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddress($address);?>
                </div>
                <div class="fb_sec widget">
                    <div class="facebook-likebox">								
                        <?php $soc = $this->restaurant->getSocial(); echo $soc->getFacebookLikeBox(); ?>
                    </div>
                </div>
                <div class="fb_sec widget">
                    <?php echo $cb->printBasketSmall(); ?>
                </div>	
            </div>
        </div>	
    </div>
</section>	
