<?php
	$page = $this->restaurant->getPage('photos');
	echo $this->restaurant->getThemeViewHelpers()->printPageDetails($page);
?>

    <div class="photos-area col-md-10 col-md-offset-1 margin-right-1-col clearfix">
        <?php
          $albums = $this->restaurant->getAlbums();
		  $sPhotos = null;
          $page = $this->restaurant->getPage('photos');
        ?>
       
          <div class="all-photos clearfix">
              <?php
              if ( !$albums->getTotal() ) {
                    echo $this->restaurant->getThemeViewHelpers()->alert('No published photo albums found.', 'alert alert-info');
              }else{
                    foreach ($albums->getItems() as $album ) { 
                         $albumTitle = $album->getTitle();
                         $albumDesc = $album->getDescription();
                         $albumThumbUrl = $album->getThumbnailUrl();                        
                         $albumSlideshowUrl = $this->restaurant->getUrl('photos', 'index', array('album_id' => $album->getId()));
                         foreach($album->getPhotos()->getItems() as $photo) {
                         echo "<div class='single-photo col-lg-3 col-md-3 col-sm-3 text-center'>";
                            echo "<a class='fancybox theme_color' href='{$photo->getImageUrl()}' title='{$photo->getCaption()}' rel='group'>";
                                echo "<img src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}'/>";
                                echo "<div>{$photo->getCaption()}</div>";
                            echo "</a>";
                            echo "</div>";
                         }
                            
                         }
                     }
                ?>
            </div>
    </div>