<section class="videos_area">
    <div class="container videos">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <?php $page = $this->restaurant->getPage('reservation'); ?>
                <?php echo ($page->title ? '<h2>'.$page->title.'</h2>' : '');?>
                <?php echo ($page->description ? '<h4 class="text-muted">'.$page->description.'</h4>' : '');?>
                <form class='ch-reservation-form' name='reservation' method='post'>
                    <div class='ch-reservation-form-caption'>Hey There</div>
                    <div class='ch-reservation-field name'>
                        <span class='ch-label'>Your Name: </span>
                        <span class='ch-field'><?=$this->form->customer_name;?></span>
                        <?php foreach($this->form->customer_name->getMessages() as $error) { ?>
                        <div class='ch-error'><?=$error?></div>
                        <?php } ?>
                    </div>
                    <div class='ch-reservation-field mobile'>
                        <span class='ch-label'>Your Mobile: </span>
                        <span class='ch-field'><?=$this->form->customer_mobile?></span>
                        <?php foreach($this->form->customer_mobile->getMessages() as $error) { ?>
                        <div class='ch-error'><?=$error?></div>
                        <?php } ?>
                    </div>
                    <div class='ch-reservation-field when'>
                        <span class='ch-label'>When: </span>
                        <span class='ch-field'>
                            <?=$this->form->date;?>
                            <?=$this->form->time;?>
                        </span>
                        <?php foreach($this->form->date->getMessages() as $error) { ?>
                        <div class='ch-error'><?=$error?></div>
                        <?php } ?>
                        <?php foreach($this->form->time->getMessages() as $error) { ?>
                        <div class='ch-error'><?=$error?></div>
                        <?php } ?>
                    </div>
                    <div class='ch-reservation-field nos'>
                        <span class='ch-label'>No of People: </span>
                        <span class='ch-field'><?=$this->form->no_of_people;?></span>
                        <?php foreach($this->form->no_of_people->getMessages() as $error) { ?>
                        <div class='ch-error'><?=$error?></div>
                        <?php } ?>
                    </div>
                    <div class='ch-reservation-field instruction'>
                        <span class='ch-label'>Instructions: </span>
                        <span class='ch-field'><?=$this->form->instruction;?></span>
                        <?php foreach($this->form->instruction->getMessages() as $error) { ?>
                        <div class='ch-error'><?=$error?></div>
                        <?php } ?>
                    </div>
                    <div class='ch-reservation-field register'>
                        <span class='ch-label'>&nbsp;</span>                        
                        <span class='ch-field'><?=$this->form->register;?> <?=$this->form->register->getDescription();?></span>
                        <?php foreach($this->form->register->getMessages() as $error) { ?>
                        <div class='ch-error'><?=$error?></div>
                        <?php } ?>
                    </div>
                    <div class='ch-reservation-field captcha'>
                        <span class='ch-label'>&nbsp;</span>                        
                        <span class='ch-field'><?="{$this->a} {$this->s} {$this->b} = ?"; ?><?=$this->form->v;?></span>
                        <?php foreach($this->form->register->getMessages() as $error) { ?>
                        <div class='ch-error'><?=$error?></div>
                        <?php } ?>
                    </div>        
                    <div class='ch-reservation-field submit'>
                        <span class='ch-label'>&nbsp;</span>
                        <span class='ch-field'><?=$this->form->submit;?></span>
                    </div>
                </form>
            </div>
            
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs text-right">
                <div class="address widget text-muted">
                   <?php $address = $this->restaurant->getAddress();
                    echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddress($address);?>
                </div>
                
                <div class="fb_sec widget">
                    <div class="facebook-likebox">
                        <?php
                           $soc = $this->restaurant->getSocial();
                           echo $soc->getFacebookLikeBox();
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>