@media only screen and (min-width: 992px) and (max-width: 1199px) {

div.videos-area div.single-video iframe {
  max-width: 100%;
  text-align: center;
}

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

div.menus-details div.single-item, div.margin-right-1-col{
	margin: 0;
	padding: 25px;
}
div.videos-area div.single-video iframe {
  max-width: 100%;
  text-align: center;
}
}

@media only screen and (max-width: 767px) {
div.header div.top-address{
	text-align: center;
}
div.slicknav_menu{
	display: block;
}
div.menu{
	display: none;
}
div.menu-area div.single{
margin-bottom: 15px;
min-height: 500px;
}
div.footer p{
	text-align: center;
}
div.menus-details div.single-item, div.margin-right-1-col{
	margin: 0;
	padding: 25px;
}
div.videos-area div.single-video iframe {
  max-width: 100%;
  text-align: center;
}

}


@media only screen and (max-width: 479px) {

form#review dl.zend_form dd#captcha-element pre {
  font-size: 8px;
}

form#review dl.zend_form dd#email-element input, form#review dl.zend_form dd#name-element input {
  max-width: 100%;
}

div.offers-area div.single, div.menu-area div.single {
  width: 100%;
  text-align: center;
}
div.offers-area h2.title{
	font-size: 25px;
}
div.slider-area{
	display: none;
}
div.menus-details div.single-item, div.margin-right-1-col{
	margin: 0;
	padding: 10px;
}



}


