div.header{
	background: @background_color;
}
div.menu, div.footer{
	background: @dark_background_color;
}
div.offers-area div.single-offer table tr td p.title b span, div.offers-area div.single-offer table tr td ul li span.priceCurrency, div.offers-area div.single-offer table tr td ul li span.price, div.reviews-area div.single-review div.review-details div.title-price span.author-name p.title, div.reviews-area div.single-review div.review-details div.title-price span.stars, div.videos-area div.single-video h4, div.menus-details div.single-item a.back-to-top{
	color: @background_color !important;
}
div.reviews-area div.single-review div.review-details div.title-price span.publish-date, div.reviews-area div.single-review div.review-details div.title-price span.review-details, div.offers-area div.single-offer div.inner p.title, div.offers-area div.single-offer div.inner ul li.price-info{
	color: @dark_background_color !important;
}
div.reviews-area div.single-review{
	border-bottom: 1px solid @background_color;
}
div.footer{
	border-top: 3px solid @background_color;
}