header.header_area,
.footer_bottom,
div.menus div.panel div.panel-heading {
  background: none repeat scroll 0 0 #0f5959;
}
header.header_area {
  border-bottom: 3px solid #ffffff;
}
div.logo,
div.logo a,
div.header div.logo h4 small,
div.mainmenu ul#nav li a,
div.socials ul li a,
div.single_menu div.panel div.panel-heading,
div.single_menu div.panel div.panel-body a.btn:hover,
.footer_area div.col-md-7 p.text-center,
.footer_area div.col-md-7 table,
.footer_area div.col-md-5 p.text-center,
.footer_area div.col-md-5 table,
div.footer_txt p,
div.menus div.panel h4 a {
  color: #ffffff;
}
div.sng_off p.ttl b {
  border-bottom: 1px solid #0f5959;
}
a.more:hover {
  background: none repeat scroll 0 0 #0f5959;
}
div.single_menu div.panel,
div.menus div.panel-default {
  border-color: #0f5959;
}
div.single_menu div.panel div.panel-heading {
  background: none repeat scroll 0 0 #0f5959;
  border-color: #0f5959;
}
div.single_menu div.panel div.panel-body a.btn:hover {
  background: none repeat scroll 0 0 #0f5959;
  border-color: #0f5959;
}
section.contact_area {
  border-bottom: 4px solid #0f5959;
  border-top: 4px solid #0f5959;
}
div.contact_info h2 {
  border-bottom: 1px dashed #0f5959;
  color: #0f5959;
}
.footer_area {
  background: none repeat scroll 0 0 #0f5959;
}
.widget h4 {
  border-bottom: 1px solid #0f5959;
}
div.footer_top div.col-md-3 p.ttl,
div.footer_bottomo p a,
div.cont_us_hm p.rht span {
  color: #bbbbbb;
}
ul.socials li a {
  border: 2px solid #bbbbbb;
}
