div.menu {
  background: #872db5 none repeat scroll 0 0;
}
div.single-featured p.title,
div.menu-details span p.title,
div.menu-details p.price,
div.footer-bottom p strong {
  color: #872db5;
}
div.slogan div.single-service a.btn,
div.single-featured a.readmore {
  background: #872db5 none repeat scroll 0 0;
}
div.slogan div.single-service a.btn {
  border: medium none;
}
div.single-footer h3 {
  color: #872db5;
}
