<section class="videos_area">
    <div class="container videos">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
               <?php
                  $sPhotos = null;
                  $albums = $this->restaurant->getAlbums();
                  $page = $this->restaurant->getPage('photos');
                  echo $this->restaurant->getThemeViewHelpers()->printPageInfo($page);
               ?>
               
               <div class="all_videos all_photos clearfix">
                    <div>
                    <?php
                    if ( !$albums->getTotal() ) {
                        echo $this->restaurant->getThemeViewHelpers()->alert('No published photo albums found.', 'alert alert-info');
                    }else{
                        foreach ($albums->getItems() as $album ) { 
                            $albumTitle = $album->getTitle();
                            $albumDesc = $album->getDescription();
                            $albumThumbUrl = $album->getThumbnailUrl();                        
                            $albumSlideshowUrl = $this->restaurant->getUrl('photos', 'index', array('album_id' => $album->getId()));
                            
                            echo "<div class='sng_photo col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center'>";
                                echo "<a href='$albumSlideshowUrl' title='$albumTitle'>";
                                    echo "<img height='200' src='$albumThumbUrl' class='img-responsive img-thumbnail' alt='$albumTitle'>";
                                    echo "<div>$albumTitle</div>";
                                echo "</a>";
                            echo "</div>";
                            
                            if (isset($_GET['album_id']) && $album->getId() == $_GET['album_id']) {
                                foreach($album->getPhotos()->getItems() as $photo) {                                
                                    $sPhotos .= "<a class='fancybox' href='{$photo->getImageUrl()}' title='{$photo->getCaption()}' rel='group'>";
                                        $sPhotos .= "<img src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}'/>";
                                    $sPhotos .= "</a>";
                                }
                            }
                         }
                     } ?>
                  </div>
                </div>
                
                <div id='links'>
                  <?php echo $sPhotos; ?>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs text-right">
                <div class="address widget text-muted">
                     <?php $address = $this->restaurant->getAddress();
                     echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddress($address);?>
                </div>
                
                <div class="fb_sec widget">
                    <div class="facebook-likebox">								
                        <?php
                           $soc = $this->restaurant->getSocial();
                           echo $soc->getFacebookLikeBox();
                        ?>
                    </div>
                </div>	
            </div>
        </div>	
    </div>
</section>	

<br /><br />
<section class="sp_offer_area">
   <div class="container sp_offer">
      <div class="row">
         <?php
            $specialOffers = $this->restaurant->getOffers();
            echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
         ?>
      </div>
      <br />
      <br />
      <br />
      <br />
   </div>		
</section>	