<section class="review_area">
    <div class="container review">        
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <?php
                    $page = $this->restaurant->getPage('reservation');
                    echo $this->restaurant->getThemeViewHelpers()->printPageInfo($page);
                ?>
                    <div class="give_rev">
                        <?php 
                            $rf = $this->reservationForm($this->restaurant);
                            echo $rf->getHtml();
                        ?>
                    </div>
            </div>
            
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs text-right">
                <div class="address widget text-muted">                    
                <?php $address = $this->restaurant->getAddress(); echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddress($address);?>
                </div>
                
                <div class="fb_sec widget">
                    <div class="facebook-likebox">								
                     <?php
                        $soc = $this->restaurant->getSocial();
                        echo $soc->getFacebookLikeBox();
                     ?>
                    </div>
                </div>	
            </div>
        </div>	
    </div>
</section>	


<section class="sp_offer_area">
   <div class="container sp_offer">
      <div class="row">
         <?php
            $specialOffers = $this->restaurant->getOffers();
            echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
         ?>
      </div>
      <br />
      <br />
      <br />
      <br />
   </div>		
</section>
