/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {

div.mainmenu ul#nav li {
  margin: 5px 10px;
}

div.mainmenu ul#nav li a {
  margin: 5px 10px;
}

div.good h1 {
  font-size: 30px;
}

div.good h1 i {
  font-size: 20px;
  margin: 0;
}

div.health div.row img {
  display: block;
  float: none !important;
  margin: 0 auto 15px;
  max-width: 100%;
}


}





@media only screen and (max-width: 767px) {

.slicknav_menu{
	display: block;
}
div.mainmenu {
  display: none;
}

div.logo {
   text-align: center;
}

div.carousel-inner div.active{
height: auto;
}

div.good h1, div.health h1 {
  font-size: 30px;
}

div.good h1 i {
  font-size: 20px;
  margin: 0;
}

div.health div.row img {
  display: block;
  float: none !important;
  margin: 0 auto 15px;
  max-width: 100%;
}

section.good_area, section.health_area{
	padding: 0 15px;
}

div.health h1{
	text-align: center;
}

div.health p {
  text-align: center;
}

div.health div.row a.more {
  display: block;
  text-align: center;
  width: 150px;
  margin: 0 auto 70px;
}

section.contact_area {
  padding: 0px;
}

div.footer_txt p {
  float: none !important;
  text-align: center;
}

section.contact_area iframe {
  display: none;
}

}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {

.footer_area {
  position: relative;
}


}


@media only screen and (min-width: 320px) and (max-width: 479px) {

form#review dl.zend_form dd#captcha-element pre {
  font-size: 8px;
}

form#review dl.zend_form dd#email-element input, form#review dl.zend_form dd#name-element input {
  max-width: 100%;
}

div.logo{
	width: 100%;
}

div.logo a {
  display: block;
  text-align: center;
}

div.logo span.phn_lg {
  padding: 10px;
  text-align: center;
}

.socials {
    width: 100%;
}
div.socials ul {
    text-align: center;
}

div.single_menu {
   width: 99%;
}

div.sing_vid, div.sng_photo {
  text-align: center;
  width: 99%;
}

.sng_off_out {
  margin: 10px auto;
  width: 99%;
}

.footer_area {
  position: relative;
}

}


@media only screen and (max-width: 319px) {


div.single_menu {
   width: 99%;
}

div.sing_vid, div.sng_photo {
  text-align: center;
  width: 99%;
}

.footer_area {
  position: relative;
}

.sng_off_out {
  margin: 10px auto;
  width: 99%;
}

}