@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);
img {

}

body {
	font-family: verdana;
}

a{
	transition: all .4s ease-in-out 0s;
}

.slicknav_menu{
	display: none;
}

.color-fff{
   color: #fff;
}

header.header_area {
border-bottom: 3px solid #dddddd;
padding: 20px 0;
}

header.header_area div.background-shape {
background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
border-radius: 5px;
padding: 20px 0;
}

.logo .brand-name {
  font-size: 25px;
}
.logo a:hover {
  text-decoration: none;
}

div.mainmenu {
    padding: 0;
}
span.phn_lg {
  color: #ddd;
  font-size: 12px;
  padding-left: 25px;
}
div.mainmenu ul#nav {
margin: 0;
padding: 0;
text-align: right;
}
div.mainmenu ul#nav li {
display: inline-block;
list-style: outside none none;
margin: 5px 15px;
}
div.mainmenu ul#nav li a {

}
div.socials ul {
    margin: 0;
    padding: 0;
    text-align: right;
}
div.socials ul li {
    display: inline-block;
    list-style: outside none none;
    margin: 5px;
}
div.socials ul li a {

}

div.socials ul li a i {
    transition: all .5s ease-in-out;
}
div.socials ul li a i:hover {
	-moz-transform: rotate(-360deg);
	-webkit-transform: rotate(-360deg);
	transform: rotate(-360deg);
}

.slider_area{

}

.slider_area img{
display: block;
margin: 0 auto;
}

/* menus */

div.menus_acc {
  margin: 30px auto;
}

div.menus ul li{
   overflow: hidden;
}

button.ch-recommend-customize {
  float: right;
}

div.carousel-inner div.active {
  height: 400px;
  overflow: hidden;
}

/* special offer */

div.sp_offer {
  margin: 0 auto;
}

div.sp_offer div.sng_off_out {
  padding: 2px;
}

.sng_off {
border: 1px solid rgb(221, 221, 221);
border-radius: 5px;
padding: 15px;
transition: all 0.4s ease-in-out 0s;
background: url("img/special-offer.png") no-repeat scroll 100% 0 / 25% auto rgba(0, 0, 0, 0);
}
div.sng_off:hover {
border-color: rgb(102, 175, 233);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
outline: 0 none;
}
div.sng_off p.ttl {
  padding-bottom: 10px;
}
div.sng_off p.ttl b {
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
}

section.good_area {
    padding: 50px 0;
}
div.good h1 {
margin: 40px auto;
}
div.good h1 i {
    color: #bbb;
    font-size: 30px;
    margin: 0 15px;
    vertical-align: top;
}
div.good p {
    color: #555;
    line-height: 25px;
    margin-bottom: 25px;
}
a.more {
    border: 1px solid #888;
    color: #555;
    display: inline-block;
    padding: 8px 20px;
}
a.more:hover {
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #dfd;
    color: #ffffff;
    text-decoration: none;
}

section.health_area {
  padding: 50px 0;
}

div.health h1 {
    color: #555;
    font-family: Lucida Console;
}
div.health p {
    color: #555;
    line-height: 25px;
    margin-bottom: 25px;
}

div.single_menu div.panel div.panel-heading {

}

div.single_menu div.panel div.panel-body a.btn:hover{

}

section.contact_area {
border-top: 4px solid #dddddd;
position: relative;
border-bottom: 4px solid #dddddd;
}
section.contact_area div.contact {
  position: absolute;
  top: 120px;
}
div.contact_info {
background-image: url("img/contact.jpg");
background-position: right center;
background-repeat: no-repeat;
background-size: cover;
color: rgb(255, 255, 255);
height: 600px;
padding: 200px 0 0;
}
.background-shade {
  background: rgba(0, 0, 0, 0.45) none repeat scroll 0 0;
  color: rgb(255, 255, 255);
  padding: 25px;
}
div.background-shade h1 {
border-bottom: 1px solid rgb(187, 187, 187);
padding-bottom: 8px;
}

a.map_lnk {
background: none repeat scroll 0 0 rgb(255, 211, 78);
bottom: 80px;
color: rgb(0, 0, 0);
display: inline-block;
left: 40%;
margin: 0 auto;
padding: 8px 0;
position: absolute;
text-align: center;
width: 195px;
}
div.contact_info h2 {
    border-bottom: 1px dashed #ffffff;
    margin: 10px auto 30px;
    padding-bottom: 25px;
}
div.contact_info p {
    font-size: 18px;
}

/* review */

div.review {
  margin: 50px auto;
}
.widget{
	padding-bottom: 20px;
}
.widget h4{
	border-bottom: 1px solid #333333;
	padding-bottom: 5px;
}
.rvw_name {
  color: #333;
}
.stars {
  color: #ffd34e;
}

.reviews {
  margin: 40px auto 20px;
}
div.sing_rev h4, div.sing_rev p {
    margin: 5px auto;
}
div.sing_rev {
    border-bottom: 1px solid #eee;
    padding: 20px 0 10px;
}


/* videos */

div.all_videos {
    margin: 60px auto;
}
div.videos {
    margin: 30px auto 70px;
}
div.sing_vid {
    margin-bottom: 70px;
}
div.active_video iframe {
  height: auto;
  width: 100%;
}

/* photos */

div.sng_photo {
  margin: 0 auto 30px;
}
div.sng_photo a {
  color: rgb(51, 51, 51);
  font-weight: bold;
}
div.sng_photo a:hover {
  opacity: 0.9;
}
div.sng_photo a img {
  height: 140px;
  margin: 0px auto 10px;
}

div.albums_photos a img {
  height: 120px;
  max-width: 100%;
  transition: all .4s ease-in-out 0s;
}

div.albums_photos a img:hover {
  opacity: .8;
}


/* menus */
div.menus {
   margin: 50px auto;
}
div.post_cont {
    margin: 15px auto 90px;
}
div.post_cont p {
    color: #444;
    line-height: 25px;
    margin-bottom: 35px;
    text-align: justify;
}

.fb_sec {
    width: 100%;
}
.fb_sec iframe {
    border: medium none;
	width: 100%;
}

.no_border{
   margin-bottom: 0px;
}

.footer_area {
bottom: 0;
overflow: hidden;
padding: 20px 0;
position: relative;
width: 100%;
}

/* Times */

.use-background-image {
  background-image: url("img/times_bg.jpg");
  padding: 70px 0px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

div.opening-time, div.others-info {
  background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
}

div.others-info {
  margin-top: 30px;
}


.footer_bottom {
overflow: hidden;
}
div.footer_txt {
padding: 20px 0;
overflow: hidden;
}
div.footer_txt p {
margin: 0px auto;
padding: 0 15px;
}
div.footer_txt p a {

}

.julius-font{
   font-family: "Julius Sans One",sans-serif;
}

/*
	reservation
*/
.ch-reservation-form {
	margin-top: 20px;
	margin-bottom: 20px;
}
.ch-reservation-form-caption{
	font-size: 25px;
}
.ch-reservation-field {
	margin: 5px;
}
.ch-reservation-form .ch-label {
	color: #B18D16;
	float: left;
    width: 200px;
}
.ch-reservation-form .ch-field {
    width: 400px;
}
.ch-reservation-form .ch-error {
	color: red;
	font-size: 9px;
}



div.ch-checkout-basket-row {
  padding:5px; 
  border-bottom:2px solid #DDDDDD;
}
div.ch-checkout-basket-row.none{
  padding:10px;
  background-color: #EEEEEE;
  border-bottom:2px solid #DDDDDD;
}
div.ch-checkout-basket-btn-group{
  padding:10px;
}
div.page-info{
	margin: 0 auto 45px;
}
