@background_color: #6A8D9D;
@oi_font_color: #333333;
@font_color: #ffffff;
@simple_white: #bbbbbb;

@import "color_scheme";

div.footer_top div.col-md-3 p.ttl, div.footer_bottomo p a, div.cont_us_hm p.rht span {
  color: @simple_white;
}

ul.socials li a {
  border: 2px solid @simple_white;
}