<?php 
$album = $this->restaurant->getDefaultPhotoAlbum(); 
if ($album instanceof \Ezy\Album && $album->getPhotos()) { ?>
    <div class="slider-area">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <?php
        echo '<ol class="carousel-indicators">';
        $i = 0;
        foreach ($album->getPhotos()->getItems() as $photo) {
            echo "<li data-target='#carousel-example-generic' data-slide-to='$i' class='active'></li>";
            $i++;
        }
        echo '</ol>';

        $i = 0;
        echo '<div class="carousel-inner" role="listbox">';
        foreach ($album->getPhotos()->getItems() as $photo) {
            $active = ($i == 0 ? "active" : "");
            echo "<div class='item $active'>";
                echo "<img src='{$photo->getImageUrl()}' alt='banner'>";
                echo '<div class="carousel-caption">';
                    echo ($album->getTitle() ? '<h2>'. $album->getTitle() .'</h2>' : '');
                    echo ($photo->getCaption() ? '<p>'. $photo->getCaption() .'</p>' : '');
                echo '</div>';
            echo '</div>';
            $i++;
        }
        echo '</div>'; ?>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
<?php } ?>
    <?php include('nav-menu.phtml');?>
	
    <div class="right-content col-md-8">
       <?php include('nav-menu2.phtml');?>
        
		<div class="page-info-area clearfix">
			<?php
				$pageInfo = $this->restaurant->getPage('home');
				echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
			?>
		</div>
		
        <div class="post-content clearfix">
            <div class="home-offers clearfix">
				<h2 class="title text-center">Special Offers</h2>
				<?php
				  $specialOffers = $this->restaurant->getOffers();
				  echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant, 'home');
				?>
			</div>
			
			<div class="home-menu clearfix">
				<h2 class="title text-center">Our Menu</h2>
				 <br />
				 <?php
				 $menu = $this->restaurant->getMenu();
				 $categories = $menu->getNormalCategories();
				 
				 if (!empty($categories)) {
					$menu_limit = 1;
					foreach($categories->getItems() as $category) {
						if ( $menu_limit <= 3 ) {
						if ( $category->getImage() ) {
							$imageSrc = $category->getImage()->getThumbnailUrl();
						}else{
							$imageSrc = $this->baseUrl('/tr/themes/ch/theme8/img/'.$menu_limit.'.jpg');
						}
				?>
					 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 single-item">
						<div class="panel">
						   <div class="panel-heading">
							  <b><?=$category->getName();?></b>
						   </div>
						   <div class="panel-body">
							  <img class="img-responsive" src="<?=$imageSrc?>" alt=""/>
							  
							  <?php
								 echo "<ul class='list-group'>";
								 $foodItemLimit = 0;
								 foreach($category->getFoodItems()->getItems() as $foodItem) {
									$foodItemLimit += 1;
									echo ( $foodItemLimit < 4 ? "<li class='list-group-item'>{$foodItem->getName()} - {$this->restaurant->getCurrencySymbol()}{$foodItem->getPrice()}</li>" : "" );
								 }
								 echo "</ul>";
							  ?> 
							  <a href="<?=$this->restaurant->getUrl('menu');?>" class="btn btn-default">See All Items</a>
						   </div>
						</div>
					 </div>
				 <?php
					} 
					$menu_limit++;
					}
				   }else{
					   echo $this->restaurant->getThemeViewHelpers()->alert('Sorry no menu item published.');
				   }
				 ?>
			</div>
        </div>
        
        <div class="timing-info">
			<h2 class="title text-center"><i class="fa fa-clock-o"></i> Opening Time</h2>
			<table class="table table-condensed no_border">
			<tr>
				<td>Day</td>
				<td>Lunch</td>
				<td>Dinner</td>
				<td>Delivery</td>
			</tr>
			<?php
				foreach ( $this->restaurant->getTimes()->getItems() as $time ) {
			?>
			<tr>
				<td><?=($time->getDays() ? $time->getDays() : '')?></td>
				<td><?=($time->getLunchStart() ? $time->getLunchStart() : '')?> - 
				<?=($time->getLunchEnd() ? $time->getLunchEnd() : '')?></td>
				<td><?=($time->getDinerStart() ? $time->getDinerStart() : '')?> - 
				<?=($time->getDinerEnd() ? $time->getDinerEnd() : '')?>
				</td>
				<td><?=($time->getDeliveryStart() ? $time->getDeliveryStart() : '')?> - 
				<?=($time->getDeliveryEnd() ? $time->getDeliveryEnd() : '')?>
				</td>
			</tr>
			<?php } ?>
			</table>
		</div>
    </div>		
