<div class="left-content col-md-4">	
	<div class="bottom">
        <ul class="list-unstyled">
			<?php
				$categories = $this->restaurant->getMenu()->getNormalCategories();
				if ( !empty( $categories ) ) {
					foreach ( $categories->getItems() as $category ) {
						echo "<li><a class='color-fff' href='{$this->restaurant->getUrl('menu')}#{$category->getName()}'>{$category->getName()}</a></li>";
					}
				}else{
					echo $this->restaurant->getThemeViewHelpers()->alert('No published menu item found.');
				}
			?>
        </ul>
		<hr />
		<div>   
			<?php echo $this->restaurant->getSocial()->getFacebookLikeBox(); ?>
		</div>
    </div>
</div>