<?php $offers = $this->restaurant->getOffers(); ?>
<?php include('nav-menu.phtml');?>
	
<div class="right-content col-md-8">
    <?php include('nav-menu2.phtml');?>
    
	<div class="page-info-area clearfix">
		<?php
			$pageInfo = $this->restaurant->getPage('offers');
			echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
		?>
	</div>
	
    <div class="offers-area">
        <?php
              $specialOffers = $this->restaurant->getOffers();
              echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
         ?>
    </div>
</div>