<?php $videos = $this->restaurant->getVideos(); ?>
<?php include('nav-menu.phtml');?>
	
<div class="right-content col-md-8">
    <?php include('nav-menu2.phtml');?>
    
	<div class="page-info-area clearfix">
		<?php
			$pageInfo = $this->restaurant->getPage('videos');
			echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
		?>
	</div>
	
    <div class="videos-area">                
        <?php
           $videoPlayer = null;
           $page = $this->restaurant->getPage('videos');
        ?>                  
         <?php 
             if ( !$videos->getTotal() ) {
                 echo $this->restaurant->getThemeViewHelpers()->alert('No published videos found.', 'alert alert-info');
             }else{
             foreach($videos->getItems() as $video) {
                echo '<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 single-video theme_color" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">';
                $videoUrl = $this->restaurant->getUrl('videos', 'index', array('video_id' => $video->getId()));
                echo "<meta itemprop='thumbnailUrl' content='{$video->getThumbnailUrl()}'/>";
                echo "<span itemprop='description'/>{$video->getDescription()}</span>";
                echo "<meta itemprop='contentURL' content='{$videoUrl}'/>";
                echo $video->getYoutubePlayer(array('width'=> '700px'));
                echo "<h4 itemprop='name'>{$video->getTitle()}</h4>";
                echo '</div>';	
             } 
            }
         ?>
    </div>
</div>