html,
body,
div.timing-info div.opening-info div.inner,
div.timing-info div.contact-info div.inner {
  background: linear-gradient(to bottom, #d63535 0%, #000000 100%) repeat scroll 0 0;
}
.download-menu a {
  background: #d63535;
}
.bottom ul li {
  background: #4e1313;
}
.bottom ul li {
  background: #4e1313;
}
.bottom ul li a:hover {
  background: #d63535;
}
div.right-content div.top ul#nav {
  background: #d63535;
}
div.timing-info div.opening-info div.inner p.open span,
div.timing-info div.contact-info div.inner p.open span,
div.reviews-area div.single-review,
div.videos-area div.single-video h4 {
  color: #ffffff;
}
div.developer-info p a {
  text-decoration: underline;
  color: #ffffff;
  font-style: italic;
}
div.menus-details div.single-item {
  border-bottom: 1px solid #d63535;
}
div.reviews-area div.single-review {
  border-bottom: 1px solid #ffffff;
}
div.photos-area div.single-photo a,
div.offers-area div.single-offer p.title,
div.offers-area div.single-offer li span {
  color: #ffffff !important;
}
div.offers-area div.single-offer div.inner {
  border: 1px solid #ffffff;
}
