<div id="navwrap" class="menubar">
   <ul id="nav">
      <li><a href="<?=$this->restaurant->getUrl('home')?>">Home</a></li>
      <li><a href="<?=$this->restaurant->getUrl('home')?>#menus">Menu</a></li>
      <li><a href="<?=$this->restaurant->getUrl('home')?>">About Us</a></li>
      <li><a href="<?=$this->restaurant->getUrl('home')?>#hours">Hours</a></li>
      <li><a href="<?=$this->restaurant->getUrl('home')?>#contact">Contact</a></li>
      <li><a href="<?=$this->restaurant->getUrl('home')?>#gallery">Gallery</a></li>
      <li><a href="<?=$this->restaurant->getUrl('home')?>#review">Review</a></li>
   </ul>
</div>

<div class="menus-area use-background-image padding-50-0">
   <div class="container menus-page">
      <div class="row">
         <div class="text-center">
            <div class="menu color-fff">
               <?php
                  $categories = $this->restaurant->getMenu()->getNormalCategories();
                  $recommendButton = $this->restaurant->getThemeViewHelpers()->recommendButton($this->user);
                  if ( !empty( $categories ) ) {
                     foreach ( $categories->getItems() as $category ) {
                        echo "<span itemscope itemtype='http://schema.org/Product'>";
                           echo "<meta itemprop='brand' content='{$category->getName()}' />";
                           echo "<h3 itemprop='name'><b>{$category->getName()}</b></h3>";
                        echo "</span>";
						
						if ($category->getDescription()) {
							echo "<p class='description' itemprop='description'>";
							echo $category->getDescription();
							echo "</p>";
						}
						
                        echo "<hr/>";
                        $currencySymbol = $this->restaurant->getCurrencySymbol();
                        $currency = $this->restaurant->getCurrencySymbol();
                        foreach ( $category->getFoodItems()->getItems() as $foodItem ) {
                           echo "<span itemprop='offers' itemscope itemtype='http://schema.org/Offer'>";
                              echo "<meta itemprop='priceCurrency' content='{$this->restaurant->getWebsiteCurrency()}' />";
                              echo "<h4 class='margin-0' itemprop='price'>{$foodItem->getName()} - {$currency}{$foodItem->getPrice()} {$recommendButton->printButton($foodItem)}</h4>";
                           echo "</span>";
                           if( $foodItem->getDescription() ) {
                              echo "<p>" . $foodItem->getDescription() . "<p />";
                           }
                           echo "<br/>";
                        }
                     }
                  }else{
                     echo $this->restaurant->getThemeViewHelpers()->alert('No published menu item found.');
                  }
               ?>
            </div>
			
			<hr />
			<div class="menus-details">
			  <?php
			  $categories = $this->restaurant->getMenu()->getClassicCategories();
			  $spiceLevel = $this->restaurant->getThemeViewHelpers()->spiceLevel($this->restaurant);
			  if ($categories->getItems()) {
			  $content = '';
			  foreach($categories->getItems() as $category) { ?>
			  <div class="single-item color-fff" id="<?=$category->getName();?>">
					<div class="others">
						<h3 class="title"><?=$category->getName();?></h3>
						<div class="image">
						<?php
							if ( $category->getImage() ) {
								$imageSrc = $category->getImage()->getThumbnailUrl();
								echo "<img class='img-responsive' src='{$imageSrc}' alt='' />";
							}
						?>
						</div>
						<?php 
						if ($category->getDescription()) {
							echo "<p class='description' itemprop='description'>";
							echo $category->getDescription();
							echo "</p>";
						}
						?>
						<hr/>
						
						<?php
							$content .= "<table class='table table-bordered '>";
							$content .= "<thead><tr><th>Item</th><th>Chi/Lmb</th>";
							if($category->getShowChickenLambTikkaPrice()) $content .= "<th>Chi/Lmb Tikka</th>";
							if($category->getShowLambPrice()) $content .= "<th>Lamb</th>";
							if($category->getShowBeefPrice()) $content .= "<th>Beef</th>";
							if($category->getShowDuckPrice()) $content .= "<th>Duck</th>";
							if($category->getShowPrawnPrice()) $content .= "<th>Prawn</th>";
							if($category->getShowKingPrawnPrice()) $content .= "<th>King Prawn</th>";
							if($category->getShowVegetablePrice()) $content .= "<th>Vegetable</th>";
							if($category->getShowMixedPrice()) $content .= "<th>Mixed</th>";
							$content .= "</tr></thead>";
							$content .= "<tbody>";

							foreach($category->getFoodItems()->getItems() as $item) {
								$content .= "<tr class=''>";
								//$level = \Ezy\Ezy::getSpiceLevelName($item->getSpiceLevel());                    
								$content .= "<td><span class='item-name'>{$item->getName()}</span>&ensp;{$spiceLevel->printImage($item)} <br/><p class=''>{$item->getDescription()}</p></td>";
								$content .= "<td><span class=' item-price'>{$currency}{$item->getPrice()}</span></td>";

								$content .= ($category->getShowChickenLambTikkaPrice()
								?  "<td><span class=' item-price'>{$currency}{$item->getPriceChickenLambTikka()}</span></td>" : "");
								$content .= ($category->getShowLambPrice()
								?  "<td><span class=' item-price'>{$currency}{$item->getPriceLamb()}</span></td>" : "");
								$content .= ($category->getShowBeefPrice()
								?  "<td><span class=' item-price'>{$currency}{$item->getPriceBeef()}</span></td>" : "");
								$content .= ($category->getShowDuckPrice()
								?  "<td><span class=' item-price'>{$currency}{$item->getPriceDuck()}</span></td>" : "");
								$content .= ($category->getShowPrawnPrice()
								?  "<td><span class=' item-price'>{$currency}{$item->getPricePrawn()}</span></td>" : "");
								$content .= ($category->getShowKingPrawnPrice()
								?  "<td><span class=' item-price'>{$currency}{$item->getPriceKingPrawn()}</span></td>" : "");
								$content .= ($category->getShowVegetablePrice()
								?  "<td><span class=' item-price'>{$currency}{$item->getPriceVegetable()}</span></td>" : "");
								$content .= ($category->getShowMixedPrice()
								?  "<td><span class=' item-price'>{$currency}{$item->getPriceMixed()}</span></td>" : "");
								$content .= "</tr>";
							}

							$content .= "</tbody></table>";
							echo $content;
						?>
					</div>
			  </div>
		   <?php } ?>                    
		   <?php } ?>
		   </div>
         </div>
      </div>
   </div>		
</div>