@media only screen and (min-width: 992px) and (max-width: 1199px) {
div.menubar ul#nav li a {
  padding: 30px 25px;
}

}



@media only screen and (min-width: 768px) and (max-width: 991px) {
div.menubar ul#nav li a {
  padding: 30px 20px;
  font-size: 16px;
}
div.restaurant-hours p.start-time, div.restaurant-hours p.angle-down i, div.restaurant-hours p.end-time {
  font-size: 20px;
}

div.gallery div.image-column {
  line-height: 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

}





@media only screen and (max-width: 767px) {
.slicknav_menu{
	display: block;
}
div.menubar {
  display: none;
}

div.header-area{
   padding-top: 50px;
}

div.footer p {
  float: none !important;
  text-align: center;
}
div.menus div.menu-left {
  border-right: none;
  border-bottom: 1px solid #fff;
  padding: 50px 0px;
}
div.menu{
   padding: 100px 0px;
}

div.menu h3 a {
  display: block;
  margin: 10px auto;
}
div.menus div.menu-right {
  padding: 50px 0px;
}
div.restaurant-hours div.col-14-28571{
   width: 98%;
   padding-left: 1%;
   border-right: none;
   border-bottom: 1px solid #ddd;
}
div.restaurant-hours div.col-14-28571:last-child{
   border-bottom: none;
}
div.restaurant-hours p.start-time, div.restaurant-hours p.angle-down i, div.restaurant-hours p.end-time {
  font-size: 20px;
}

div.gallery div.image-column {
  line-height: 0;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {



}

@media only screen and (max-width: 479px) {
div.gallery div.single{
   width: 100%;
}
div.social ul.socials li {
  display: block;
  margin: 20px auto;
}
div.social ul.socials li a i {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  width: 90px;
}
div.gallery div.image-column {
  line-height: 0;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}
form#review dl.zend_form dd#captcha-element pre {
  font-size: 8px;
}
form#review dl.zend_form dd#email-element input, form#review dl.zend_form dd#name-element input {
  max-width: 100%;
}
}