@default_color: #5F9EA0;

.slicknav_menu {
  background: none repeat scroll 0 0 @default_color;
}

div.menubar {
  background: none repeat scroll 0 0 @default_color;
}

div.contact h2, div.contact h3 {
  color: @default_color;
}

div.gallery-area {
  background: none repeat scroll 0 0 @default_color;
}

div.about_delivery table tr th, div.about_delivery table tr td {
  border-top: 1px solid @default_color;
}

div.opening-time table tr th, div.opening-time table tr td {
  border-top: 1px solid @default_color;
}

#scroll i {
  background: none repeat scroll 0 0 @default_color;
}

div.review div.single {
  border: 1px solid @default_color;
}

div.footer-area {
  background: none repeat scroll 0 0 @default_color;
}