div.home-body div.container div.left-sidebar h1 a,
div.home-body div.container div.left-sidebar ul#nav li a,
div.home-body div.container div.left-sidebar h4 a,
div.home-body div.container div.left-sidebar div.socials ul li a,
div.home-body div.container div.left-sidebar div.address h4 {
  color: #69d2e7 !important;
}
div.footer-area {
  background: #69d2e7;
}
div.footer p small a,
div.footer p a,
div.footer p {
  color: #ffffff;
}
div.footer p small a,
div.footer p a {
  text-decoration: underline;
}
div.menu-page-area div.panel div.panel-heading h4 a {
  background: #69d2e7;
  color: #fff;
}
