<?php $cb = $this->checkoutBasket($this->restaurant); ?>
	<div class="main-content clearfix">
		<div class="menus col-md-12 col-sm-12 col-xs-12">
			<?php
			$pageInfo = $this->restaurant->getPage('menu');
			echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
            ?>
            
            <?php 
			$menu = $this->restaurant->getMenu();
			$categories = $menu->getCategories();
			$spiceLevel = $this->restaurant->getThemeViewHelpers()->spiceLevel($this->restaurant);
			$recommendButton = $this->restaurant->getThemeViewHelpers()->recommendButton($this->user);
            ?>
            
            <?php 
			if ( empty($categories) ) {
                echo $this->restaurant->getThemeViewHelpers()->alertInfo('No published menu category found.');
            } else {
                foreach ( $categories->getItems() as $category ) {
                    if (!$category->isPublished()) continue;
                    if ($category->getType() == 'normal') { ?>
                    
                    <div class="single-menu-item padding-0-0-20 margin-0-auto-20">
                        <div class="menu-details">
                            <div class="title-price">
                                <span><p class="title" itemprop="name">
                                    <?=$category->getName()?>
                                    <?php
                                    if ( $category->getImage() ) {
                                        $imageSrc = $category->getImage()->getThumbnailUrl();
                                        echo "<img class='img-responsive' src='{$imageSrc}' alt=''/>";
                                    }
                                    ?>
                                </p></span>
                            </div>
                            <?php if ( $category->getDescription() ) { ?>
                            <div class="description">
                                <p class="" itemprop="description"><?=$category->getDescription()?></p>
                            </div>
                            <?php } ?>
                        </div>
                        <ul class="list-group">
                        <?php
                            $currency = $this->restaurant->getCurrencySymbol();
                            foreach ( $category->getFoodItems()->getItems() as $foodItem ) {
                        ?>
                            <li class="list-group-item" itemscope itemtype="http://schema.org/Product">
                                <meta itemprop="brand" content="<?=$category->getName()?>" />
                                <span itemprop="name"><?=$foodItem->getName()?></span> - 
                                <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta itemprop="priceCurrency" content="<?=$this->restaurant->getWebsiteCurrency()?>" />
                                    <?=$currency?><span itemprop="price"><?=$foodItem->getPrice()?></span>
                                    <?=$recommendButton->printButton($foodItem)?>&ensp;
                                    <?=$cb->printHtmlButton($foodItem);?>
                                </span>
                                <?=$spiceLevel->printImage($foodItem)?>
                                <?php
                                    if ($foodItem->getDescription()) {
                                        echo "<span class='text-info description' itemprop='description'>{$foodItem->getDescription()}</span>";
                                    }
                                ?>
                            </li>
                        <?php   
                            }
                        ?>
                      </ul>
                      <a href="#top" class="back-to-top">Back to top</a>
                    </div>
                    <div class="clearfix"></div>
			<?php } else { $content = '';?>
                <div class="single-menu-item classic-categories padding-0-0-20 margin-0-auto-20">
				<div class="menu-details">
					<div class="title-price">
						<span><p class="title" itemprop="name"><?=$category->getName()?></p></span>
					</div>
					<div class="description">
						<?php
							$content .= "<table class='table table-bordered '>";
							$content .= "<thead><tr><th>Item</th><th>{$category->getChickenHeader()}</th>";
                            if($category->getShowLambPrice()) 
                                $content .= "<th>{$category->getLambHeader()}</th>";
                            if($category->getShowChickenLambTikkaPrice()) 
                                $content .= "<th>{$category->getChickenLambTikkaHeader()}</th>";
                            if($category->getShowChickenTikkaPrice()) 
                                $content .= "<th>{$category->getChickenTikkaHeader()}</th>";
                            if($category->getShowLambTikkaPrice()) 
                                $content .= "<th>{$category->getLambTikkaHeader()}</th>";
                            if($category->getShowBeefPrice()) 
                                $content .= "<th>{{$category->getBeefHeader()}}</th>";
                            if($category->getShowDuckPrice()) 
                                $content .= "<th>{$category->getDuckHeader()}</th>";
                            if($category->getShowPrawnPrice()) 
                                $content .= "<th>{$category->getPrawnHeader()}</th>";
                            if($category->getShowKingPrawnPrice()) 
                                $content .= "<th>{$category->getKingPrawnHeader()}</th>";
                            if($category->getShowVegetablePrice()) 
                                $content .= "<th>{$category->getVegetableHeader()}</th>";
                            if($category->getShowMixedPrice()) 
                                $content .= "<th>{$category->getMixedHeader()}</th>";
							$content .= "</tr></thead>";
							$content .= "<tbody>";

							foreach($category->getFoodItems()->getItems() as $item) {
                                $content .= "<tr>";
                                //$level = \Ezy\Ezy::getSpiceLevelName($item->getSpiceLevel());                    
                                $content .= "<td>{$item->getName()}&ensp;{$spiceLevel->printImage($item)} <br/><p class='text-info'>{$item->getDescription()}</p></td>";
                                if ($item->getPrice() > 0.00) 
                                $content .= "<td>{$currency}{$item->getPrice()}</td>";

                                if ($item->getPriceLamb() > 0.00) 
                                $content .= ($category->getShowLambPrice()
                                ?  "<td>{$currency}{$item->getPriceLamb()}</td>" : "");
                                elseif ($category->getShowLambPrice()) $content .= "<td>-</td>";

                                if ($item->getPriceChickenLambTikka() > 0.00) 
                                $content .= ($category->getShowChickenLambTikkaPrice()
                                ?  "<td>{$currency}{$item->getPriceChickenLambTikka()}</td>" : "");
                                elseif ($category->getShowChickenLambTikkaPrice()) $content .= "<td>-</td>";

                                if ($item->getPriceChickenTikka() > 0.00) 
                                $content .= ($category->getShowChickenTikkaPrice()
                                ?  "<td>{$currency}{$item->getPriceChickenTikka()}</td>" : "");
                                elseif ($category->getShowChickenTikkaPrice()) $content .= "<td>-</td>";

                                if ($item->getPriceLambTikka() > 0.00) 
                                $content .= ($category->getShowLambTikkaPrice()
                                ?  "<td>{$currency}{$item->getPriceLambTikka()}</td>" : "");
                                elseif ($category->getShowLambTikkaPrice()) $content .= "<td>-</td>";

                                if ($item->getPriceBeef() > 0.00) 
                                $content .= ($category->getShowBeefPrice()
                                ?  "<td>{$currency}{$item->getPriceBeef()}</td>" : "");
                                elseif ($category->getShowBeefPrice()) $content .= "<td>-</td>";

                                if ($item->getPriceDuck() > 0.00) 
                                $content .= ($category->getShowDuckPrice()
                                ?  "<td>{$currency}{$item->getPriceDuck()}</td>" : "");
                                elseif ($category->getShowDuckPrice()) $content .= "<td>-</td>";
                                
                                if ($item->getPricePrawn() > 0.00) 
                                $content .= ($category->getShowPrawnPrice()
                                ?  "<td>{$currency}{$item->getPricePrawn()}</td>" : "");
                                elseif ($category->getShowPrawnPrice()) $content .= "<td>-</td>";
                                
                                if ($item->getPriceKingPrawn() > 0.00) 
                                $content .= ($category->getShowKingPrawnPrice()
                                ?  "<td>{$currency}{$item->getPriceKingPrawn()}</td>" : "");
                                elseif ($category->getShowKingPrawnPrice()) $content .= "<td>-</td>";
                                
                                if ($item->getPriceVegetable() > 0.00) 
                                $content .= ($category->getShowVegetablePrice()
                                ?  "<td>{$currency}{$item->getPriceVegetable()}</td>" : "");
                                elseif ($category->getShowVegetablePrice()) $content .= "<td>-</td>";
                                
                                if ($item->getPriceMixed() > 0.00) 
                                $content .= ($category->getShowMixedPrice()
                                ?  "<td>{$currency}{$item->getPriceMixed()}</td>" : "");
                                elseif ($category->getShowMixedPrice()) $content .= "<td>-</td>";
                                
                                $content .= "</tr>";
							}

							$content .= "</tbody></table>";
							echo $content;
							?>
					</div>
				</div>
				<a href="#top" class="back-to-top">Back to top</a>
                </div>
                <div class="clearfix"></div>
			<?php } } } ?>
		</div>
	</div>
