	<div class="main-content clearfix">
		<div class="menus offers col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<?php
				$pageInfo = $this->restaurant->getPage('offers');
				echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
			?>
			<div class="single-menu-item videos-page padding-0-0-20 margin-0-auto-20">
				<div class="clearfix">                    
				 <?php
					  $specialOffers = $this->restaurant->getOffers();
					  echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
				 ?>
				</div> 
			</div>
		</div>
	</div>