	<div class="main-content clearfix">
		<div class="menus reviews col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<?php	
				$pageInfo = $this->restaurant->getPage('reservation');
                echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
            ?>

			 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding:0">
            <?php 
                $form = $this->reservationForm();
				echo $form->getHtml();
				?>
			 </div>
		</div>
	</div>
