@media only screen and (min-width: 992px) and (max-width: 1199px) {


}



@media only screen and (min-width: 768px) and (max-width: 991px) {
div.web-wrapper {
  margin: 20px 15px 0;
}
div.right-content {
  margin-top: 50px;
}
}





@media only screen and (max-width: 767px) {
.slicknav_menu {
  background: #3399ff none repeat scroll 0 0;
  display: block !important;
}
ul.slicknav_nav a {
    font-family: "Oswald",sans-serif;
    font-size: 20px;
}
ul.slicknav_nav {
    margin-bottom: 15px;
}
ul.slicknav_nav a:hover {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
div.web-wrapper {
  text-align: center;
}
div.menu {
  display: none !important;
}
div.web-wrapper {
  margin: 20px 15px 0;
}
div.slider-area{
	display: none;
}
div.all_photos div.sng_photo {
  margin-bottom: 30px;
}

div.main-content div.carousel-inner div.active {
  height: auto;
  overflow: hidden;
}
div.right-content {
  margin-top: 50px;
}
div.single-video-area div.single-video iframe {
  max-width: 100%;
}
div.offers div.sng_off_out {
  margin-bottom: 20px;
}

}


@media only screen and (min-width: 480px) and (max-width: 767px) {
div.single-video {
  text-align: center;
}

div.logo h1 {
  font-size: 25px;
}


}


@media only screen and (max-width: 479px) {

form#review dl.zend_form dd#captcha-element pre {
  font-size: 8px;
}

form#review dl.zend_form dd#email-element input, form#review dl.zend_form dd#name-element input {
  max-width: 100%;
}

div.left-content, div.main-content {
  width: 100%;
}
div.main-content div.slider-area, div.main-content div.home-menu, div.main-content div.home-menu, div.main-content div.home-menu div.single-item, div.main-content div.home-menu div.single-item div.panel-body {
  padding: 0;
  width: 100%;
}

div.main-content div.slider-area, div.main-content div.home-menu {
  width: 100%;
}

div.menus {
  padding: 0 25px;
  width: 100%;
}

div.logo h2 {
  font-size: 45px;
}
div.logo p.slogan {
  font-size: 20px;
}
div.header h1 {
  font-size: 55px;
}
div.reviews div.single-review div.review-details div.title-price span.author-name {
  padding-right: 0;
}
div.reviews div.single-review div.review-details div.title-price span.author-name p, div.reviews div.single-review div.review-details div.title-price span.publish-date, div.reviews div.single-review div.review-details div.title-price span.stars {
    display: block;
    float: none !important;
    text-align: center;
}
div.reviews div.single-review div.user-thumb {
    float: none !important;
    padding: 0;
}
div.reviews div.single-review div.user-thumb img {
    display: block;
    margin: 0 auto 15px;
}
div.reviews div.single-review div.review-details div.title-price span.review-details {
    text-align: center;
}
div.single-video {
  text-align: center;
}
div.sng_photo {
  margin-bottom: 25px;
}

}


