	<div class="main-content clearfix">
		<div class="menus reviews col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<?php	
				$pageInfo = $this->restaurant->getPage('reviews');
				echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
				$reviews = $this->restaurant->getReviews();
				if ( !$reviews->getTotal() ) {
					echo $this->restaurant->getThemeViewHelpers()->alert('No published review found.', 'alert alert-info');
				}else{
					foreach ( $reviews->getItems() as $review ) { ?>
						<div class="single-review padding-0-0-20 margin-0-auto-20" itemscope itemtype="http://schema.org/Product">
							<div class="pull-left user-thumb">
								<img itemprop="image" width="60" src="<?=$this->baseUrl('/tr/themes/ch/theme5/img/no-image.gif');?>" alt="<?=$review->getCustomer()->getName()?>" />
							</div>
							<meta itemprop='name' content='<?php echo $this->restaurant->getName();?>'/>
							<div itemprop="review" itemscope itemtype="http://schema.org/Review" class="review-details">
								<div class="title-price">
									<span class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">
										<p class="title pull-left" itemprop='name'><?=$review->getCustomer()->getName()?></p>
									</span>
									<span class='publish-date' itemprop='datePublished'>On <?=$review->getTs('d F Y')?></span>
									<span class="stars pull-right" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
										<?php
											$rating = $review->getRating();
											echo '<meta itemprop="ratingValue" content="'.$rating.'"/>';
											echo '<meta itemprop="bestRating" content="5"/>';
											for ($i=1; $i <= 5; $i++) {
												$class = 'fa fa-star-o';
												if ($i <= $rating) {
													$class = 'fa fa-star';
												}
												echo '<i class="'.$class.'"></i>';
											}
										?>
									</span>
									<span class="review-details" itemprop="reviewBody"><?=$review->getText()?></span>
								</div>
								<div class="clearfix"></div>
								<div class="description">
									
								</div>
							</div>
						</div>
				<?php } 
                    echo $this->paginationPlain($this->reviews);
                }
                ?>
				

			 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding:0">
				<?php 
				$form = $this->reviewForm();
				echo $form->getHtml();
				?>
			 </div>
		</div>
	</div>