div.header {
  background: #69c7ed;
}
div.menus-details div.single-item div.name-price span,
div.menus-details div.single-item div.others table td span.item-name,
div.photos-area div.single-photo a div,
div.theme-footer p {
  color: #69c7ed;
}
div.banner div.logo h1 a{
  color: #FFFFFF;
}
div.menus-details div.single-item div.name-price span:not(.no-ex-color), div.menus-details div.single-item div.others table td span.item-name, div.menus-details div.single-item tr.name-price {
    color: #000000;
    font-weight: bold;
}
div.banner-area,
div.theme-footer {
  border-color: #69c7ed;
}
div.banner-area,
div.theme-footer {
  background: #1698d8;
}
div.contents div.left-content ul li a,
div.menus-details div.single-item h3.title {
  background-color: #69c7ed;
}
div.offers-area div.single-offer table tr td p.title b span,
div.offers-area div.single-offer table tr td ul li span.priceCurrency,
div.offers-area div.single-offer table tr td ul li span.price,
div.reviews-area div.single-review div.review-details div.title-price span.author-name p.title,
div.reviews-area div.single-review div.review-details div.title-price span.stars,
div.videos-area div.single-video h4,
div.menus-details div.single-item a.back-to-top {
  color: #69c7ed !important;
}
.list-unstyled.classic{
  font-weight: normal;
}
div.theme-footer li {
  color: #FFFFFF;
  font-weight: bold;
}
div.theme-footer li a {
  color: #FFFFFF;
  font-weight: normal;
  text-decoration: none;
}
div.menu ul li a{
    color: #FFFFFF;
}
div.slicknav_menu {
    background: #69c7ed;
    border-bottom: 1px solid #69c7ed;
}
.slicknav_nav a{
    color: #FFFFFF;
}

