div.header{
	background: @background_color;
}
div.banner div.banner-right h1, div.banner div.logo h1 a, div.menus-details div.single-item div.name-price span, div.menus-details div.single-item div.others table td span.item-name, div.photos-area div.single-photo a div, div.footer p{
	color: @background_color;
}
div.banner-area, div.footer{
	border-color: @background_color;
}
div.banner-area, div.footer{
	background: @header_background_color;
}
div.contents div.left-content ul li a, div.menus-details div.single-item h3.title{
	background-color: @background_color;
}
div.offers-area div.single-offer table tr td p.title b span, div.offers-area div.single-offer table tr td ul li span.priceCurrency, div.offers-area div.single-offer table tr td ul li span.price, div.reviews-area div.single-review div.review-details div.title-price span.author-name p.title, div.reviews-area div.single-review div.review-details div.title-price span.stars, div.videos-area div.single-video h4, div.menus-details div.single-item a.back-to-top{
	color: @background_color !important;
}
div.menu ul li a{
    color: @white;
}