div.header {
  background: #2CCABF;
}
div.slicknav_menu {
    background: #2CCABF;
    border-bottom: 1px solid #69c7ed;
}
div.banner div.banner-right h1,
div.banner div.logo h1 a,
div.menus-details div.single-item div.name-price span,
div.menus-details div.single-item div.others table td span.item-name,
div.photos-area div.single-photo a div,
div.theme-footer p {
  color: #2CCABF;
}
div.banner-area,
div.theme-footer {
  border-color: #2CCABF;
}
div.banner-area,
div.theme-footer {
  background: #113332;
}
div.contents div.left-content ul li a,
div.menus-details div.single-item h3.title {
  background-color: #2CCABF;
}
div.offers-area div.single-offer table tr td p.title b span,
div.offers-area div.single-offer table tr td ul li span.priceCurrency,
div.offers-area div.single-offer table tr td ul li span.price,
div.reviews-area div.single-review div.review-details div.title-price span.author-name p.title,
div.reviews-area div.single-review div.review-details div.title-price span.stars,
div.videos-area div.single-video h4,
div.menus-details div.single-item a.back-to-top {
  color: #2CCABF !important;
}
div.theme-footer p a,
div.theme-footer p small {
  color: #ddd;
}
@media only screen and (max-width: 767px)
div.slicknav_menu {
    background: #FFFFFF none repeat scroll 0 0;
    display: block !important;
    border-bottom: 1px solid #9d7653;
}
