div.header {
  background: #525225;
}
div.banner div.banner-right h1,
div.banner div.logo h1 a,
div.menus-details div.single-item div.name-price span,
div.menus-details div.single-item div.others table td span.item-name,
div.photos-area div.single-photo a div,
div.footer p {
  color: #525225;
}
div.banner-area,
div.footer {
  border-color: #525225;
}
div.banner-area,
div.footer {
  background: #8c8c27;
}
div.contents div.left-content ul li a,
div.menus-details div.single-item h3.title {
  background-color: #525225;
}
div.offers-area div.single-offer table tr td p.title b span,
div.offers-area div.single-offer table tr td ul li span.priceCurrency,
div.offers-area div.single-offer table tr td ul li span.price,
div.reviews-area div.single-review div.review-details div.title-price span.author-name p.title,
div.reviews-area div.single-review div.review-details div.title-price span.stars,
div.videos-area div.single-video h4,
div.menus-details div.single-item a.back-to-top {
  color: #525225 !important;
}
div.footer p a,
div.footer p small {
  color: #ddd;
}
