@background_color: #4E224B;
@header_background_color: #693163;
@font_color: #ffffff;

@import "color_scheme";
div.banner div.banner-right h1, div.banner div.logo h1 a, div.footer p{
	color: @font_color;
}
div.footer p a {
  color: #ddd;
  text-decoration: underline;
}