<div class="header-area background-image">
   <div class="background-shape">
   </div>
</div>

<div id="navwrap" class="menubar">
   <ul id="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#about-us">Pricing</a></li>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="#pricing">Why us</a></li>
      <li><a href="#review">Review</a></li>
   </ul>
</div>

<div id="about-us" class="reservation-area">
   <div class="container reservation">
      <div class="row">
         <div class="col-md-10 col-md-offset-1 padding-100-0">
            <div class='text-center'>
                <h3 class="padding-0-0-25 margin-0"><?=$this->restaurant->getName()?></h3>
                <h4 class="padding-0-0-25 margin-0"><?=( $this->restaurant->getSlogan() ? $this->restaurant->getSlogan() : '')?></h4>
                <img src='<?=$this->baseUrl('/tr/themes/mo/olis-school-of-motoring/img/grade.jpg');?>' title='grade a driving instructor' width='250'/><hr/>
            </div>
           <?=( $this->restaurant->getDescription() ? $this->restaurant->getDescription() : $this->restaurant->getThemeViewHelpers()->alert('No published details available.') )?>
         </div>
      </div>
   </div>		
</div>		


<div id="gallery" class="gallery-area padding-0-0-50">
   <div class="container gallery">
      <div class="row">
         <div class="text-center padding-100-0">
            <h2 class="padding-0-0-50 margin-0">Gallery</h2>
            <div class="image-column clearfix">
               <?php
                  $album = $this->restaurant->getDefaultPhotoAlbum();
                  $photos = $album->getPhotos();
                  if ( $album->getPhotos() ) {
                     foreach ( $photos->getItems() as $photo ) {
                     $imgRandomSize = rand(180, 250);
               ?>
               <a class="fancybox" rel="group" href="<?=$photo->getImageUrl()?>" title="<?=$photo->getCaption()?>"><img height="" width="" class="img-thumbnail" src="<?=$photo->getImageUrl()?>" alt="<?=$photo->getCaption()?>" /></a>
               <?php } }else{ 
                  echo $this->restaurant->getThemeViewHelpers()->alert('No default album\'s image found.');
                  }
               ?>
            </div>   
         </div>
      </div>
   </div>		
</div>	


<div id="pricing" class="reservation-area padding-100-0">
   <div class="container reservation">
      <div class="row">
         <div class="col-md-10 col-md-offset-1 padding-100-0">
               <?php
					$page = $this->restaurant->getPage('home');
					echo $this->restaurant->getThemeViewHelpers()->printPageInfo($page);
				?>
         </div>
      </div>
   </div>		
</div>		

<div id="review" class="review-area padding-100-0">
   <div class="container review">
      <div class="row">
         <div class="text-center padding-0-0-50">
            <h2 class="padding-0-0-25 margin-0">Reviews</h2>
            <?php
               $reviews = $this->restaurant->getReviews();
               if ( !$reviews->getTotal() ) {
                  $strTmp = (!$this->restaurant->getShowPageReviews() ? "" : 
                    "<a href='{$this->restaurant->getUrl('reviews')}' title='post a review'>Be the first to post a review</a>");
                    echo $this->restaurant->getThemeViewHelpers()->alertInfo('No published review found. ' . $strTmp);
               }else{
                  foreach ( $reviews->getItems() as $review ) {
            ?>
            <div class="single col-md-4 col-sm-6" itemscope itemtype="http://schema.org/Review">
               <span itemprop='itemReviewed' itemscope itemtype='http://schema.org/Restaurant'>
                  <span itemprop='name' content='<?=$this->restaurant->getName()?>'></span>
               </span>
               <span itemprop='author' itemscope itemtype='http://schema.org/Person'>
                  <h3 class='reviewer' itemprop='name'><?=$review->getCustomer()->getName()?></h3>
               </span>
               <p class="review margin-25-0 line-height-23">
                  <?=$review->getText()?>
               </p>
               <span itemprop='reviewRating' itemscope itemtype='http://schema.org/Rating'>
                  <span itemprop='ratingValue'><?=$review->getRating()?></span>
                  out of <span itemprop='bestRating'>5</span>
               </span>
               <p class="review-time">
                  <span class="date"><?=$review->getTs('d')?></span>
                  <span class="date"><img src="<?=$this->baseUrl('/tr/themes/ch/theme3/img/slash.png')?>" alt="" /></span>
                  <span class="date"><?=$review->getTs('F')?></span>
               </p>
            </div>
            <?php } } ?>
			<div class="col-md-12 view-all">
				<a href="<?=$this->restaurant->getUrl('reviews')?>" class="text-center text-uppercase btn btn-danger">view all</a>
			</div>
         </div>
      </div>
   </div>		
</div>	

<div class="social-area padding-100-0">
   <div class="container social">
      <div class="row">
         <div class="padding-0-0-25">
            <h2 class="padding-0-0-50 margin-0 text-center color-fff">Social</h2>
            <ul class="socials list-unstyled text-center">
            	<li><a class="color-fff" href="http://www.facebook.com/sharer.php?u=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-facebook"></i> <span>Facebook</span></a></li>
            	<li><a class="color-fff" href="/share?text=<?=$this->restaurant->getName()?>&url=<?=$_SERVER['HTTP_HOST'];?>"><i class="fa fa-twitter"></i> <span>Twitter</span></a></li>
            	<li><a class="color-fff" href="https://plus.google.com/share?url=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-google-plus"></i> <span>Google Plus</span></a></li>
            </ul>
         </div>
      </div>
   </div>		
</div>	

<a href="#top" id="scroll"><i class="fa fa-angle-up text-center color-fff"></i></a>