<div id="navwrap" class="menubar">
   <ul id="nav">
      <li><a href="<?=$this->restaurant->getUrl('home')?>">Home</a></li>
      <li><a href="<?=$this->restaurant->getUrl('home')?>#menus">Menu</a></li>
      <li><a href="<?=$this->restaurant->getUrl('home')?>#reservation">About Us</a></li>
      <li><a href="<?=$this->restaurant->getUrl('home')?>#hours">Hours</a></li>
      <li><a href="<?=$this->restaurant->getUrl('home')?>#contact">Contact</a></li>
      <li><a href="<?=$this->restaurant->getUrl('home')?>#gallery">Gallery</a></li>
      <li><a href="<?=$this->restaurant->getUrl('home')?>#review">Review</a></li>
   </ul>
</div>

<div class="menus-area use-background-image padding-50-0">
	<div class="container menus-page">
		<div class="row reviews">
		<?php	
		$reviews = $this->restaurant->getReviews();
		if ( !$reviews->getTotal() ) {
		echo $this->restaurant->getThemeViewHelpers()->alert('No published review found.', 'alert alert-info');
		}else{
		foreach ( $reviews->getItems() as $review ) { ?>
		<div class="single-item clearfix" itemscope itemtype="http://schema.org/Product">
			<meta itemprop='name' content='<?php echo $this->restaurant->getName();?>'/>
			<div class="pull-left menu-thumb">
				<img itemprop="image" width="60" src="<?=$this->baseUrl('/tr/themes/ch/theme3/img/no-image.gif');?>" alt="" />
			</div>
			<div class="menu-details review-details" itemprop="review" itemscope itemtype="http://schema.org/Review">
			<div class="title-price">
			<span itemprop="author" itemscope itemtype="http://schema.org/Person">
			<p itemprop='name' class="title pull-left"><?=$review->getCustomer()->getName()?></p>
			</span>
			<span class='datePublished' itemprop='datePublished'>On <?=$review->getTs('d F Y')?></span>
			<p class="price pull-right" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
			<?php
			$rating = $review->getRating();
			echo '<meta itemprop="ratingValue" content="'.$rating.'"/>';
			echo '<meta itemprop="bestRating" content="5"/>';
			for ($i=1; $i <= 5; $i++) {
			$class = 'fa fa-star-o';
			if ($i <= $rating) {
			$class = 'fa fa-star';
			}
			echo '<i class="'.$class.'"></i>';
			}
			?>
			</p>
			</div>
			<div class="description">
			<p class="" itemprop='reviewBody'><?=$review->getText()?></p>
			</div>
			</div>
		</div>
		<?php } } ?>
			<nav>
				<ul class="pagination">
					<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
					<li class=""><a href="#">2 <span class="sr-only">2</span></a></li>
					<li class=""><a href="#">3 <span class="sr-only">3</span></a></li>
					<li class=""><a href="#">4 <span class="sr-only">4</span></a></li>
					<li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
				</ul>
			</nav>

			<div class="col-md-5" style="padding:0">
				<?php 
					$rf = $this->reviewForm($this->restaurant);
                    echo $rf->getHtml();
				?>
			</div>
		</div>
	</div>		
</div>