

<div class="header-title white" data-parallax="fixed" data-position="top" data-natural-height="850"
     data-natural-width="1920" data-image-src="<?=$this->baseUrl('/tr/vendor/assets/images/bg-7.jpg');?>">
    <div class="container">
        <div class="title-base">
            <hr class="anima" />
            <h1>About Us</h1>
            <p>Sweet and tiny like a chocolate</p>
        </div>
    </div>
</div>


<div class="section-empty">
    <div class="container content">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center-sm">
                <div class="title-base text-left text-center-sm">
                    <hr />
<!--                    <h2 class="custom-title text-left">Our story</h2>-->
<!--                    <p style="margin-bottom:10px;">Sweet and tiny like a chocolate</p>-->
                </div>

                <div class="about-text-section">
                    <?php
                        $pageInfo = $this->restaurant->getPage('about');
                        echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
                    ?>
                </div>

                <hr class="space s" />
                <img src="<?=$this->baseUrl('/tr/vendor/assets/images/sign-2.png');?>" alt="" />
            </div>

            <div class="col-md-6 col-sm-12 text-center-sm" data-anima="fade-right">
                <hr class="space m visible-sm" />
                <a class="img-box lightbox shadow-1" href="../images/gallery/large-1.jpg" data-lightbox-anima="show-scale">
                    <img src="<?=$this->baseUrl('/tr/vendor/assets/images/gallery/large-1.jpg');?>" alt="">
                </a>
            </div>

        </div>
        <hr class="space m" />
    </div>
</div>