
<div class="header-title white" data-parallax="fixed" data-position="top" data-natural-height="850" data-natural-width="1920" data-image-src="<?=$this->baseUrl('/tr/vendor/assets/images/bg-6.jpg');?>">
        <div class="container">
            <div class="title-base">
                <hr class="anima" />

                <h1>Book a Table</h1>
                <p>You can reserve a table now by using our handy booking tool- simply select your date, time and number of guests.
                    You will receive your confirmation by a text message.</p>
                <p>If you would like a hight chair provided, or have any other questions or requests, please put an instraction on this form,
                    we will do our best to accommodate you.</p>
            </div>
        </div>
</div>

<!--start here -->
<div class="section-empty">
    <div class="container content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-1">
                <div class="book-a-table-section">

                    <h2 class="title-base">fill out the form  and submit</h2>
                    <form id="reservation" name="reservation" enctype="application/x-www-form-urlencoded" role="form">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <input type="text" name="customer_name" id="customer_name" maxlength="30" placeholder="Name eg. John Doe" required="required"/>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <input type="text" name="customer_mobile" id="customer_mobile" placeholder="Mobile No eg. 077xxxxxxxx" required="required"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <input type="text" name="date" id="date" placeholder="* Pick a date or enter in 'dd-mm-yyyy' format" class="datepicker"/>
                        </div>
                    </div>

                    <script>
                        $( function() {
                            $( "#date" ).datepicker({ dateFormat: 'dd-mm-yy' });
                        } );
                    </script>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <select name="time" id="time">
                                    <option value="">Select a time</option>
                                    <option value="17:30">17:30</option>
                                    <option value="18:00">18:00</option>
                                    <option value="18:30">18:30</option>
                                    <option value="19:00">19:00</option>
                                    <option value="19:30">19:30</option>
                                    <option value="20:00">20:00</option>
                                    <option value="20:30">20:30</option>
                                    <option value="21:00">21:00</option>
                                    <option value="21:30">21:30</option>
                                    <option value="22:00">22:00</option>
                            </select>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <select name="no_of_people" id="no_of_people" placeholder="How Many People?">
                                    <option value="">How many people?</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                    <option value="32">32</option>
                                    <option value="33">33</option>
                                    <option value="34">34</option>
                                    <option value="35">35</option>
                                    <option value="36">36</option>
                                    <option value="37">37</option>
                                    <option value="38">38</option>
                                    <option value="39">39</option>
                                    <option value="40">40</option>
                                    <option value="41">41</option>
                                    <option value="42">42</option>
                                    <option value="43">43</option>
                                    <option value="44">44</option>
                                    <option value="45">45</option>
                                    <option value="46">46</option>
                                    <option value="47">47</option>
                                    <option value="48">48</option>
                                    <option value="49">49</option>
                                    <option value="50">50</option>
                                    <option value="99">More &gt;&gt;</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <textarea name="instruction" id="instruction" cols="30" rows="6" placeholder="Instructions (if any)"  spellcheck="false"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <label for="v" class="required" style="font-size: 16px;">8 - 3 = ? (Type in the answer on the textbox below)</label>
                            <input type="number" name="v" id="v" value="" size="4" maxlenght="2" placeholder=" ? ">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <button type="submit" name="submit" id="submit" class="btn-custom">Confirm</button>
                        </div>
                    </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<!--end here -->