

    <!--start slider section -->
    <div id="myCarousel" class="carousel slide homepage-slider" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="<?=$this->baseUrl('/tr/vendor/assets/images/bg-12.jpg');?>" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <p class="top-text">If music be the food of love play on</p>

                        <?php
                        $pageInfo = $this->restaurant->getPage('home');
                        echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
                        ?>
<!--                        <h1>Restaurant</h1>-->
<!--                        <p>Food, in the end, in our own tradition, is something holy. It's not about nutrients and calories.</p>-->
<!--                        <p>It's about sharing.It's about honesty. It's about identity.</p>-->
                        <p><a class="click-view" href="#" role="button">View the Menu</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="<?=$this->baseUrl('/tr/vendor/assets/images/bg-6.jpg');?>" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <p class="top-text">If music be the food of love play on</p>
                        <h1>Restaurant</h1>
                        <p>Food, in the end, in our own tradition, is something holy. It's not about nutrients and calories.</p>
                        <p>It's about sharing.It's about honesty. It's about identity.</p>
                        <p><a class="click-view" href="#" role="button">View the Menu</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" src="<?=$this->baseUrl('/tr/vendor/assets/images/bg-3.jpg');?>" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">
                        <p class="top-text">If music be the food of love play on</p>
                        <h1>Restaurant</h1>
                        <p>Food, in the end, in our own tradition, is something holy. It's not about nutrients and calories.</p>
                        <p>It's about sharing.It's about honesty. It's about identity.</p>
                        <p><a class="click-view" href="#" role="button">View the Menu</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--end slider section -->



    <div class="section-empty">
        <div class="container content">
            <div class="row">
                <div class="col-md-6 col-sm-12 text-center-sm">
<!--                    <div class="title-base text-left text-center-sm">-->
<!--                        <hr />-->
<!--                        <h2 class="custom-title text-left">Our story</h2>-->
<!--                        <p style="margin-bottom:10px;">Sweet and tiny like a chocolate</p>-->
<!---->
<!--                    </div>-->

                    <div class="homepage-about-us-heading">
                        <?php
                        $pageInfo = $this->restaurant->getPage('about');
                        echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
                        ?>
                    </div>


<!--                    <p>-->
<!--                        Tincidunt integer eu augue augue nunc elit dolor luctus placerat scelerisque euismod iaculis eu lacus nunc mi elit vehicula ut laoreet-->
<!--                        acaliquam sit amet justo nunc tempor metus vel. Lorem ipsum dolor sit amet consectetur adipiscing-->
<!--                        elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.-->
<!--                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
<!--                    </p>-->
                    <hr class="space s" />
                    <img src="<?=$this->baseUrl('/tr/vendor/assets/images/sign-2.png');?>" alt="" />
                </div>
                <div class="col-md-6 col-sm-12 text-center-sm" data-anima="fade-right">
                    <hr class="space m visible-sm" />
                    <a class="img-box lightbox shadow-1" href="<?=$this->baseUrl('/tr/vendor/assets/images/home-page-about-us.PNG');?>" data-lightbox-anima="show-scale">
                        <img src="<?=$this->baseUrl('/tr/vendor/assets/images/home-page-about-us.PNG');?>" alt="">
                    </a>
                </div>
            </div>
            <hr class="space m" />
        </div>
    </div>



    <!--start book a table section -->
    <div class="section-bg-color overflow-visible homepage-book-table-section">
        <div class="container content">
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <h2>Book a table</h2>
                        <h5>Avoid disappointment by booking early.</h5>
                        <p>No Prior payments requried, Booking managed by CurryHunter Ltd.</p>
                    </div>
                </div>
            </div>

            <div class="row">
<!--                <div class="col-md-3 col-sm-3">-->
<!--                    <select class="select-people" name="pepole">-->
<!--                        <option>2 People</option>-->
<!--                    </select>-->
<!--                </div>-->
<!---->
<!--                <div class="col-md-3 col-sm-3">-->
<!--                    <select class="select-date" name="date">-->
<!--                        <option>Apr 14,2021</option>-->
<!--                    </select>-->
<!--                </div>-->
<!---->
<!--                <div class="col-md-3 col-sm-3">-->
<!--                    <select class="select-clock" name="time">-->
<!--                        <option>6.30 PM</option>-->
<!--                    </select>-->
<!--                </div>-->

                <div class="col-md-offset-4 col-md-4 col-sm-4">
                    <a href="<?=$this->restaurant->getUrl('book-a-table')?>"> <button class="btn-custom">FIND A TABLE</button></a>
                </div>

            </div>


        </div>
    </div>
    <!--end book a table section -->


    <div class="section-empty homepage-menu-section">
        <div class="container content">
            <div class="title-base">
                <hr />
                <h2 class="custom-title">Our menu</h2>
                <p style="margin-bottom: 10px;">Genuine and delicious</p>
            </div>

            <?php
            $menu = $this->restaurant->getMenu();
            $categories = $menu->getCategories();
            //$spiceLevel = $this->restaurant->getThemeViewHelpers()->spiceLevel($this->restaurant);
            //$recommendButton = $this->restaurant->getThemeViewHelpers()->recommendButton($this->user);
            //$cb = $this->checkoutBasket($this->restaurant);
            $currency = $this->restaurant->getCurrencySymbol();
            $con = 0;
            if ($categories->getTotal() > 0) {
            ?>

            <hr class="space s" />


            <div class="row">
               <?php
                foreach ($categories->getItems() as $category) {
               if ($category->getType() == 'normal') {?>
                <div class="col-md-6">
                    <div class="list-items">
                        <?php foreach ($category->getFoodItems()->getItems() as $foodItem ) { ?>
                        <?php if ($foodItem->getPrice() > 0) { ?>
                        <div class="list-item">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3><?=$foodItem->getName()?></h3>
                                    <?php
                                    if ($foodItem->getDescription()) {
                                        echo "<p>{$foodItem->getDescription()}</p>";
                                    }
                                    ?>
                                </div>
                                <div class="col-md-4">
                                    <span><?=$currency?><?=$foodItem->getPrice()?></span>
                                    <a href="#" class="small-basket-btn">add to basket</a>
                                </div>
                            </div>
                        </div>
                        <?php } }?>
                    </div>
                </div>
                <?php } else if($category->getType() == 'classic'){ ?>

                <div class="col-md-6">
                    <div class="list-items">
                        <?php foreach ($category->getFoodItems()->getItems() as $foodItem ) { ?>
                        <?php if ($foodItem->getPrice() > 0) { ?>
                        <div class="list-item">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3><?=$foodItem->getName()?></h3>
                                    <?php
                                    if ($foodItem->getDescription()) {
                                        echo "<p>{$foodItem->getDescription()}</p>";
                                    }
                                    ?>
                                </div>
                                <div class="col-md-4">
                                    <span><?=$currency?><?=$foodItem->getPrice()?></span>
                                    <a href="#" class="small-basket-btn">add to basket</a>
                                </div>
                            </div>
                        </div>
                        <?php } }?>
                    </div>
                </div>
               <?php } } ?>
            </div>
            <?php } ?>
            <hr class="space l" />
            <div class="text-center">
                <a href="<?php $this->restaurant->getUrl('menu');?>" class="custom-btn">FULL MENU</a>
            </div>
        </div>
    </div>



    <div class="section-bg-image parallax-window white homepage-feedback-section">
        <div class="container content">
            <div class="row">
                <div class="col-md-8 col-center">
                    <div class="flexslider slider outer-navs" data-options="controlNav:true,directionNav:true">
                        <ul class="slides">

                            <?php
                            $reviews = $this->restaurant->getReviews();
                            if ( !$reviews->getTotal() ) {
                                echo $this->restaurant->getThemeViewHelpers()->alert('No published review found.', 'alert alert-info');
                            }else{
                                foreach ( $reviews->getItems() as $review ) { ?>

                                    <li>
                                        <div class="advs-box advs-box-top-icon niche-box-testimonails">
                                            <p>
                                                <?php
                                                $rating = $review->getRating();
                                                echo '<meta itemprop="ratingValue" content="'.$rating.'"/>';
                                                echo '<meta itemprop="bestRating" content="5"/>';
                                                for ($i=1; $i <= 5; $i++) {
                                                    $class = 'far fa-star';
                                                    if ($i <= $rating) {
                                                        $class = 'fas fa-star';
                                                    }
                                                    echo '<i class="'.$class.'"></i>';
                                                }
                                                ?>
                                            </p>
                                            <p>
                                                <?=$review->getText()?>
                                            </p>
                                            <h5><?=$review->getCustomer()->getName()?></h5>
                                        </div>
                                    </li>
                                <?php } } ?>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section-empty">
        <div class="container content homepage-offer-section">
            <div class="title-base">
                <hr />
                <h2 class="custom-title">TODAY'S BEST OFFERTS</h2>
                <p style="margin-bottom: 10px;">A new taste every day</p>
            </div>
            <hr class="space m" />

            <?php
            include_once 'offers.php';
            $offers = new Offers();
            ?>

            <div class="row" data-anima="fade-bottom" data-timeline="asc" data-timeline-time="200" data-ti>

                <?php
                $offerCount = 0;
                foreach ($offers->offerInformations() as $offerItem){
                $classContainer = 'col-md-4';
                if(count($offers->offerInformations()) == 1){
                    $classContainer = 'col-md-4 col-md-offset-4';
                }else if(count($offers->offerInformations()) == 2){
                    if($offerCount == 0){
                        $classContainer = 'col-md-4 col-md-offset-2';
                        $offerCount = 1;
                    }else{
                        $classContainer = 'col-md-4';
                    }
                }
                ?>
                <div class="col-md-4 anima">
                    <div class="advs-box advs-box-top-icon-img">
                        <a class="img-box" href="#">
                            <span><img src="<?=$offerItem['image_link']?>" alt="<?=$offerItem['name']?>"></span>
                        </a>
                        <div class="advs-box-content">
                            <h3><a href="<?=$offerItem['image_link']?>"><?=$offerItem['name']?></a></h3>
                            <span class="extra-content"><?=$offerItem['currency']?><?=$offerItem['price']?></span>
                            <p>
                                <?=$offerItem['description']?>
                            </p>
                        </div>
                    </div>
                </div>
        <?php }?>



            </div>
            <hr class="space m" />
        </div>
    </div>


    <div class="section-empty homepage-clock-and-date-section">
        <div class="container content">
            <div class="row">
                <div class="col-md-1 text-center-sm">
                    <hr class="space xs hidden-sm" />
                    <img src="assets/images/icons/homepage-footer-clock.PNG" alt="" />
                </div>
                <div class="col-md-2 col-sm-12 text-center-sm">
                    <hr class="space xs hidden-sm" />
                    <div class="title-base text-left text-center-sm">
                        <hr />
                        <h2>Hours</h2>
                        <p>Our open schedules</p>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12 text-center-sm">
                    <!--start table for desktop view -->
                    <table class="table table-hover homepage-table-desktop-view">
                        <thead>
                        <tr>
                            <th>Day</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thurdsay</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Lunch</th>
                            <td>11am - 15pm</td>
                            <td>11am - 15pm</td>
                            <td>11am - 15pm</td>
                            <td>11am - 15pm</td>
                            <td>11am - 15pm</td>
                            <td>11am - 15pm</td>
                            <td>11am - 15pm</td>
                        </tr>
                        <tr>
                            <th>Dinner</th>
                            <td>Closed</td>
                            <td>18pm - 23pm</td>
                            <td>18pm - 23pm</td>
                            <td>18pm - 23pm</td>
                            <td>18pm - 23pm</td>
                            <td>18pm - 23pm</td>
                            <td>18pm - 23pm</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--end table for desktop view -->

                    <!--start table for mobile view -->
                    <table class="table table-hover table-bordered homepage-table-mobile-view">

                        <tbody>

                        <tr>
                            <th>Day</th>
                            <th>Lunch</th>
                            <th>Dinner</th>
                        </tr>

                        <tr>
                            <th>Monday</th>
                            <td>11am - 15pm</td>
                            <td>Closed</td>
                        </tr>


                        <tr>
                            <th>Tuesday</th>
                            <td>11am - 15pm</td>
                            <td>18pm - 23pm</td>
                        </tr>

                        <tr>
                            <th>Wednesday</th>
                            <td>11am - 15pm</td>
                            <td>18pm - 23pm</td>
                        </tr>

                        <tr>
                            <th>Thurdsay</th>
                            <td>11am - 15pm</td>
                            <td>18pm - 23pm</td>
                        </tr>

                        <tr>
                            <th>Friday</th>
                            <td>11am - 15pm</td>
                            <td>18pm - 23pm</td>
                        </tr>

                        <tr>
                            <th>Saturday</th>
                            <td>11am - 15pm</td>
                            <td>18pm - 23pm</td>
                        </tr>

                        <tr>
                            <th>Sunday</th>
                            <td>11am - 15pm</td>
                            <td>18pm - 23pm</td>
                        </tr>

                        </tbody>
                    </table>
                    <!--end table for mobile view -->


                </div>
            </div>
        </div>
    </div>



    <!--start map section-->
    <div class="home-page-google-map">
<!--        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14604.938383086297!2d90.40309515!3d23.774659050000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1619764186044!5m2!1sen!2sbd" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->
        <?php
        echo $this->restaurant->getGoogleMap(array('height' => 425,
            'width' => '100%',
            'zoom' => 15));
        ?>
    </div>
    <!--end map section-->


