<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <?php echo $this->headTitle() ?>
      <?php echo $this->headMeta();?>
      <?php echo $this->headScript();?>
      <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->baseUrl('favicon.ico');?>" />
       <script src="<?=$this->baseUrl('/tr/vendor/it-solutions/scripts/jquery.min.js');?>"></script>
       <script src="<?php echo $this->baseUrl('/tr/vendor/it-solutions/scripts/jquery-ui.js');?>"></script>
       <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/it-solutions/scripts/bootstrap/css/bootstrap-3.4.css');?>">
       <script src="<?=$this->baseUrl('/tr/vendor/it-solutions/scripts/script.js');?>"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
       <link type="text/css" rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/it-solutions/css/jquery-ui.css');?>">
       <link type="text/css" rel="stylesheet" href="<?=$this->baseUrl('/tr/themes/it-solutions/themerest/style_v1.css');?>">
       <link type="text/css" rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/it-solutions/css/content-box.css');?>">
       <link type="text/css" rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/it-solutions/css/image-box.css');?>">
       <link type="text/css" rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/it-solutions/css/animations.css');?>">
       <link type="text/css" rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/it-solutions/css/components.css');?>">
       <link type="text/css" rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/it-solutions/scripts/flexslider/flexslider.css');?>">
       <link type="text/css" rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/it-solutions/scripts/magnific-popup.css');?>">
       <link type="text/css" rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/it-solutions/scripts/php/contact-form.css');?>">
       <link type="text/css" rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/it-solutions/scripts/social.stream.css');?>">

       <link type="text/css" rel="stylesheet" href="<?=$this->baseUrl('/tr/themes/it-solutions/themerest/skin.css');?>">
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
      <?php echo $this->headLink() ?>
      <?php
      /**
        if ($this->restaurant->getBannerImageId()) {
            $banner = $this->restaurant->getBanner();
            if ($banner) {
                echo "<style>div.background-image { background-image: url('{$banner->getImageUrl()}');}</style>\n";
            }
        } elseif ($this->restaurant->getType()) {
            $baseUrl = $this->baseUrl("/tr/default-albums/{$this->restaurant->getType()}/1.jpg");
            echo "<style>div.background-image { background-image: url('$baseUrl');}</style>\n";
        }

        **/
        ?>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="preloader"></div>
        <div class="footer-parallax-container">
        <?php include_once ("inc/header.phtml")?>


        <?php echo $this->layout()->content; ?>
      

        <?php include_once ("inc/footer.phtml")?>
        </div>

        <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/it-solutions/scripts/iconsmind/line-icons.min.css');?>">
        <script async src="<?php echo $this->baseUrl('/tr/vendor/it-solutions/scripts/bootstrap/js/bootstrap3.4.js');?>"></script>
        <script src="<?php echo $this->baseUrl('/tr/vendor/it-solutions/scripts/imagesloaded.min.js');?>"></script>
        <script src="<?php echo $this->baseUrl('/tr/vendor/it-solutions/scripts/parallax.min.js');?>"></script>
        <script src="<?php echo $this->baseUrl('/tr/vendor/it-solutions/scripts/flexslider/jquery.flexslider-min.js');?>"></script>
        <script async src="<?php echo $this->baseUrl('/tr/vendor/it-solutions/scripts/isotope.min.js');?>"></script>
        <script async src="<?php echo $this->baseUrl('/tr/vendor/it-solutions/scripts/php/contact-form.js');?>"></script>
        <script async src="<?php echo $this->baseUrl('/tr/vendor/it-solutions/scripts/jquery.progress-counter.js');?>"></script>
        <script async src="<?php echo $this->baseUrl('/tr/vendor/it-solutions/scripts/jquery.tab-accordion.js');?>"></script>
        <script async src="<?php echo $this->baseUrl('/tr/vendor/it-solutions/scripts/bootstrap/js/bootstrap.popover.min.js');?>"></script>
        <script async src="<?php echo $this->baseUrl('/tr/vendor/it-solutions/scripts/jquery.magnific-popup.min.js');?>"></script>
        <script src="<?php echo $this->baseUrl('/tr/vendor/it-solutions/scripts/social.stream.min.js');?>"></script>
        <script src='<?php echo $this->baseUrl('/tr/vendor/it-solutions/scripts/jquery.slimscroll.min.js');?>'></script>
        <script src="<?php echo $this->baseUrl('/tr/vendor/it-solutions/scripts/smooth.scroll.min.js');?>"></script>


   </body>
</html>
