<!--start menu back image -->
<div class="header-title white" data-parallax="fixed" data-position="top" data-natural-height="850" data-natural-width="1920"
     data-image-src="<?=$this->baseUrl('/tr/vendor/assets/images/bg-22.jpg');?>">
    <div class="container">
        <div class="title-base">
            <hr class="anima" />
            <?php
            $pageInfo = $this->restaurant->getPage('menu');
            echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
            ?>
<!--            <h1>Menu List One</h1>-->
<!--            <p>Menu and Portfolio</p>-->
        </div>
    </div>
</div>
<!--end menu back image -->



<?php include('menu_items.phtml'); ?>

