<div class="section-empty">
    <div class="container content">
<?php
$menu = $this->restaurant->getMenu();
$categories = $menu->getCategories();
$spiceLevel = $this->restaurant->getThemeViewHelpers()->spiceLevel($this->restaurant);
$recommendButton = $this->restaurant->getThemeViewHelpers()->recommendButton($this->user);
$cb = $this->checkoutBasket($this->restaurant);
$currency = $this->restaurant->getCurrencySymbol();
$con = 0;
if ($categories->getTotal() > 0) {
    foreach ($categories->getItems() as $category) {

?>

        <?php if ($category->getType() == 'normal') {
            $items = $category->getFoodItems()->getItems();
            ?>

            <div class="row" style="min-height: 500px;">
                <?php if($con == 0){?>
                <div class="col-md-5">
                    <hr class="space m" />
                    <?php if($category->image_id != Null){?>
                        <img src="<?=$category->image_id?>" class="abs-image hidden-sm" alt="<?=$category->getName()?>" style="width: 100%" />
                    <?php }else{?>
                        <img src="<?=$this->baseUrl('/tr/vendor/assets/images/no-image.png');?>" class="abs-image hidden-sm" alt="<?=$category->getName()?>" style="width: 100%" />
                    <?php }?>
                </div>

                <div class="col-md-7">
                    <div class="title-base text-left custom-title-base">
                        <hr />
                        <h2><?=$category->getName()?></h2>
                    </div>
                    <hr class="space m" />

                    <div class="row">

                            <div class="list-items">
                        <?php foreach ( $category->getFoodItems()->getItems() as $foodItem ) { ?>
                            <?php if ($foodItem->getPrice() > 0) { ?>
                                <div class="col-md-6">
                                    <div class="list-item">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h3><?=$foodItem->getName()?></h3>
                                                <p>Duis aute irure dolor in reprehenderit i esse</p>
                                            </div>
                                            <div class="col-md-4" style="padding: 0px;">
                                                <span><?=$currency?><?=$foodItem->getPrice()?></span>
                                                <a href="#" class="small-basket-btn">add to basket</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <?php } ?>
                        <?php } ?>


                        </div>
                    </div>

                    <hr class="space m" />
                    <a href="#" class="btn-border circle-button btn btn-sm">See more</a>
                </div>
            </div>
                <?php $con = 1; }else{ ?>
                <!-- if condition is 1 -->


                    <div class="col-md-7">
                        <div class="title-base text-left custom-title-base">
                            <hr />
                            <h2><?=$category->getName()?></h2>
                        </div>
                        <hr class="space m" />

                        <div class="row">

                            <div class="list-items">
                                <?php foreach ( $category->getFoodItems()->getItems() as $foodItem ) { ?>
                                    <?php if ($foodItem->getPrice() > 0) { ?>
                                        <div class="col-md-6">
                                            <div class="list-item">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <h3><?=$foodItem->getName()?></h3>
                                                        <?php
                                                            if ($foodItem->getDescription()) {
                                                                echo "<p>{$foodItem->getDescription()}</p>";
                                                            }
                                                        ?>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <span><?=$currency?><?=$foodItem->getPrice()?></span>
                                                        <a href="#" class="small-basket-btn">add to basket</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    <?php } ?>
                                <?php } ?>


                            </div>
                        </div>

                        <hr class="space m" />
                        <a href="#" class="btn-border circle-button btn btn-sm">See more</a>
                    </div>

                    <div class="col-md-5">
                        <hr class="space m" />
                        <?php if($category->image_id != Null){?>
                            <img src="<?=$category->image_id?>" class="abs-image hidden-sm" alt="<?=$category->getName()?>" style="width: 100%" />
                        <?php }else{?>
                            <img src="<?=$this->baseUrl('/tr/vendor/assets/images/no-image.png');?>" class="abs-image hidden-sm" alt="<?=$category->getName()?>" style="width: 100%" />
                        <?php }?>
                    </div>

                </div>
                    <?php $con = 0; } ?>
            <hr class="space" />

        <?php } else if ($category->getType() == 'classic') {?>

            <div class="row">
                <div class="col-md-5">
                    <hr class="space m" />
                    <?php if($category->image_id != Null){?>
                    <img src="<?=$category->image_id?>" class="abs-image hidden-sm" alt="<?=$category->getName()?>" style="width: 100%" />
                    <?php }else{?>
                        <img src="<?=$this->baseUrl('/tr/vendor/assets/images/no-image.png');?>" class="abs-image hidden-sm" alt="<?=$category->getName()?>" style="width: 100%" />
                    <?php }?>
                </div>

                <div class="col-md-7">
                    <div class="title-base text-left custom-title-base">
                        <hr />
                        <h2><?=$category->getName()?></h2>
                    </div>
                    <hr class="space m" />

                    <div class="row">

                        <div class="list-items">
                            <?php foreach ( $category->getFoodItems()->getItems() as $foodItem ) { ?>
                                <?php if ($foodItem->getPrice() > 0) { ?>
                                    <div class="col-md-6">
                                        <div class="list-item">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h3><?=$foodItem->getName()?></h3>
                                                    <p><?=$foodItem->getDescription()?></p>
                                                </div>
                                                <div class="col-md-4" style="padding: 0px;">
                                                    <span><?=$currency?><?=$foodItem->getPrice()?></span>
                                                    <a href="#" class="small-basket-btn">add to basket</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <?php } ?>
                            <?php } ?>


                        </div>
                    </div>

                    <hr class="space m" />
                    <a href="#" class="btn-border circle-button btn btn-sm">See more</a>
                </div>
                </div>

        <?php }?>

 <?php
    }
}
?>

    </div>
</div>
