<?php
include_once 'offers.php';
$offers = new Offers();
?>
<div class="header-title white" data-parallax="fixed" data-position="top" data-natural-height="850"
     data-natural-width="1920" data-image-src="<?=$this->baseUrl('/tr/vendor/assets/images/hd-8.jpg');?>">
    <div class="container">
        <div class="title-base">
            <hr class="anima" />
<!--            <h1>Special Offers</h1>-->
<!--            <p>The Original and always good pizzas</p>-->
            <?php
            $pageInfo = $this->restaurant->getPage('offers');
            echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
            ?>

        </div>
    </div>
</div>





<div class="section-empty section-item gallery-section">
    <div class="container content">
        <div class="maso-list gallery">
            <div class="navbar navbar-inner">
                <div class="navbar-toggle"><i class="fa fa-bars"></i><span>Menu</span><i class="fa fa-angle-down"></i></div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav over ms-minimal inner maso-filters nav-center">
                        <li class="current-active active"><a data-filter="maso-item">All</a></li>
                        <?php foreach ($offers->offerCategories() as $offerCategory){?>
                        <li><a data-filter="cat<?=$offerCategory['id']?>"><?= $offerCategory['name']?></a></li>
                        <?php }?>
<!--                        <li><a data-filter="cat2">Seasonals</a></li>-->
<!--                        <li><a data-filter="cat3">Others</a></li>-->
                        <li><a class="maso-order" data-sort="asc"><i class="fa fa-arrow-down"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="maso-box row" data-lightbox-anima="show-scale">




                <!--start here -->
                <div  class="row" data-anima="" data-timeline="asc" data-timeline-time="200" data-ti="">

                    <?php
                    $offerCount = 0;
                    foreach ($offers->offerInformations() as $offerItem){
                        $classContainer = 'col-md-4';
                        if(count($offers->offerInformations()) == 1){
                            $classContainer = 'col-md-4 col-md-offset-4';
                        }else if(count($offers->offerInformations()) == 2){
                            if($offerCount == 0){
                                $classContainer = 'col-md-4 col-md-offset-2';
                                $offerCount = 1;
                            }else{
                                $classContainer = 'col-md-4';
                            }
                        }

                        ?>
                        <div data-sort="<?=$offerItem['offer_category_id']?>" class="special-offer-item maso-item <?=$classContainer?> anima fade-bottom cat<?=$offerItem['offer_category_id']?>" >
                            <div class="advs-box advs-box-top-icon-img">
                                <a class="img-box" href="#">
                                    <span><img src="<?=$offerItem['image_link']?>" alt=""></span>
                                </a>
                                <div class="advs-box-content">
                                    <h3><a href="<?=$offerItem['image_link']?>"><?=$offerItem['name']?></a></h3>
                                    <span class="extra-content"><?=$offerItem['currency']?><?=$offerItem['price']?></span>
                                    <p>
                                        <?=$offerItem['description']?>
                                    </p>

                                </div>
                            </div>
                        </div>
                    <?php }?>


                </div>
                <!--end here -->


                <div class="clear"></div>
            </div>
<!--            <div class="list-nav">-->
<!--                <a href="#" class="circle-button btn-sm btn load-more-maso" data-page-items="12">Load More <i class="fa fa-arrow-down"></i></a>-->
<!--            </div>-->
        </div>
    </div>
</div>