<div class="header-area background-image clearfix">
   <div class="socials col-md-12">
      <ul class="list-unstyled text-right">
      	 <li><a href="http://www.facebook.com/sharer.php?u=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-facebook"></i></a></li>
         <li><a href="/share?text=<?=$this->restaurant->getName()?>&url=<?=$_SERVER['HTTP_HOST'];?>"><i class="fa fa-twitter"></i></a></li>
         <li><a href="https://plus.google.com/share?url=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-google-plus"></i></a></li>
      </ul>
   </div>
   
   <div class="logo col-md-12 color-fff text-center text-shadow">
      <?php if ($this->restaurant->getLogoImageId()) { 
        echo $this->restaurant->getLogo();
      } else { ?>
         <h2 class=""><i class="fa fa-cutlery"></i> <?=( $this->restaurant->getName() )?></h2>
      <?php } ?>
      <h4 class=""><?=( $this->restaurant->getSlogan() ? $this->restaurant->getSlogan() : 'Your slogan here')?></h4>
      <?php if ($this->restaurant->getPhoneTakeaway()) { ?>
         <h3 class=""><i class="fa fa-phone"></i> <?=$this->restaurant->getPhoneTakeaway();?></h3>
      <?php } ?>
      <?php if ($this->restaurant->getPhoneReservation()) { ?>
         <h3 class=""><i class="fa fa-phone"></i> <?=$this->restaurant->getPhoneReservation();?></h3>
      <?php } 
      if ( $this->restaurant->getAddress()->getCountry() ) {
         echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddressInOneLine($this->restaurant) . "<br/>";
      }
      ?>
   </div>
   
   <div class="menu col-md-12">
      <ul id="nav" class="list-unstyled text-center">
         <li><a href="<?=$this->restaurant->getUrl('home');?>">Home</a></li>
         <li><a href="<?=$this->restaurant->getUrl('menu');?>">Menu</a></li>
         
         <?=( $this->restaurant->getShowPageReviews() ?
            "<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPageVideos() ?
            "<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPagePhotos() ?
            "<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPageOffers() ?
            "<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a></li>" : ""
         )?>
      </ul>
   </div>
</div>


<div class="container our-menu reviews padding-50-0 clearfix">
   <?php
      $sPhotos = null;
      $albums = $this->restaurant->getAlbums();
      
      $page = $this->restaurant->getPage('photos');
      echo $this->restaurant->getThemeViewHelpers()->printPageInfo($page);
   ?>
   <div class="single-menu-item videos-page padding-0-0-20 margin-0-auto-20">                  
      <div class="all_videos all_photos clearfix">
        <?php
        if (is_object($albums) && $albums->getTotal()) {
            foreach ($albums->getItems() as $album ) { 
                $albumTitle = $album->getTitle();
                $albumDesc = $album->getDescription();
                $albumThumbUrl = $album->getThumbnailUrl();                        
                $albumSlideshowUrl = $this->restaurant->getUrl('photos', 'index', array('album_id' => $album->getId()));
                
                echo "<div class='sng_photo col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center padding-0-0-25'>";
                    echo "<a href='$albumSlideshowUrl' title='$albumTitle'>";
                        echo "<img height='200' src='$albumThumbUrl' class='img-responsive img-thumbnail' alt='$albumTitle'>";
                        echo "<div>$albumTitle</div>";
                    echo "</a>";
                echo "</div>";
                
                if (isset($_GET['album_id']) && $album->getId() == $_GET['album_id']) {
                    foreach($album->getPhotos()->getItems() as $photo) {                                
                        $sPhotos .= "<a class='fancybox' href='{$photo->getImageUrl()}' title='{$photo->getCaption()}' rel='gallery'>";
                            $sPhotos .= "<img src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}'/>";
                        $sPhotos .= "</a>";
                    }
                }
             }
         } else {
			 echo $this->restaurant->getThemeViewHelpers()->alert('No published photo albums found.', 'alert alert-info');
		 } ?>
      </div>

       <div id='' class='padding-25-0'>
         <?php echo $sPhotos; ?>
       </div>
   </div>
</div>