<?php
$pageInfo = $this->restaurant->getPage('photos');
?>

<div class="header-title white" data-parallax="fixed" data-position="top" data-natural-height="850"
     data-natural-width="1920" data-image-src="<?=$this->baseUrl('/tr/vendor/assets/images/bg-23.jpg');?>">
    <div class="container">
        <div class="title-base">
            <hr class="anima" />
            <?php echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);?>
        </div>
    </div>
</div>



<div class="section-empty section-item gallery-section">
    <div class="container content">
        <div class="maso-list gallery">

            <?php
            $sPhotos = null;
            $albums = $this->restaurant->getAlbums();
            $page = $this->restaurant->getPage('photos');
            ?>

            <div class="navbar navbar-inner">
                <div class="navbar-toggle"><i class="fa fa-bars"></i><span>Menu</span><i class="fa fa-angle-down"></i></div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav over ms-minimal inner maso-filters nav-center">
                        <li class="current-active active"><a data-filter="maso-item">All</a></li>
                        <?php
                            if ( !$albums->getTotal() ) {
                                echo $this->restaurant->getThemeViewHelpers()->alert('No published photo albums found.', 'alert alert-info');
                            }else{
                                $inc = 1;
                                foreach ($albums->getItems() as $album ) {
                                    $albumThumbUrl = $album->getThumbnailUrl();
                                    $albumSlideshowUrl = $this->restaurant->getUrl('photos', 'index', array('album_id' => $album->getId()));
                                    echo '<li><a data-filter="cat'.$inc++.'">'.$album->getTitle().'</a></li>';
                                }
                            }
                        ?>
                        <li><a class="maso-order" data-sort="asc"><i class="fa fa-arrow-down"></i></a></li>
<!---->
<!--                        <li><a data-filter="cat1">Food</a></li>-->
<!--                        <li><a data-filter="cat2">Events</a></li>-->
<!--                        <li><a data-filter="cat3">Location</a></li>-->
<!--                        <li><a class="maso-order" data-sort="asc"><i class="fa fa-arrow-down"></i></a></li>-->

                    </ul>
                </div>
            </div>

            <div class="maso-box row" data-lightbox-anima="show-scale">

                <?php
                if ( !$albums->getTotal() ) {
                    echo $this->restaurant->getThemeViewHelpers()->alert('No published photo albums found.', 'alert alert-info');
                }else{
                    $inc = 1;$sort = 1;
                    foreach ($albums->getItems() as $album ) {
                        foreach($album->getPhotos()->getItems() as $photo) {
                            echo '<div data-sort="'.$sort++.'" class="maso-item col-md-4 cat'.$inc.'">';
                            echo "<a class='img-box i-bottom-right' href='{$photo->getThumbnailUrl()}'>";
                            echo "<i class='im-old-camera'></i><img src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}' style='height:240px;max-height:240px;'/>";
                            echo "</a>";
                            echo "</div>";
                        }
                        $inc++;
                    }
                }
                ?>

            </div>
            <div class="list-nav">
                <a href="#" class="circle-button btn-sm btn load-more-maso" data-page-items="12">Load More <i class="fa fa-arrow-down"></i></a>
            </div>
        </div>
    </div>
</div>