<div class="header-title white" data-parallax="fixed" data-position="top" data-natural-height="850" data-natural-width="1920"
     data-image-src="<?=$this->baseUrl('/tr/vendor/assets/images/bg-6.jpg');?>">
    <div class="container">
        <div class="title-base">
            <hr class="anima" />
<!--            <h1>Customer Reviews</h1>-->
<!--            <p>We love to hear from our customers. Please leave a review here about our food & service.</p>-->
<!--            <p> We will take your suggestions to improve the quality of our food & services.</p>-->
            <?php
            $pageInfo = $this->restaurant->getPage('reviews');
            echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
            ?>
        </div>
    </div>
</div>

<!--start here -->
<div class="section-empty review-page-section">
    <div class="container content">

        <div class="row row-margin-bottom rating-list-container">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-1">
                <h3 class="custom-title">All Reviews List</h3>
                <hr>



                <?php
                $reviews = $this->restaurant->getReviews();
                if ( !$reviews->getTotal() ) {
                    echo $this->restaurant->getThemeViewHelpers()->alert('No published review found.', 'alert alert-info');
                }else{
                    foreach ( $reviews->getItems() as $review ) { ?>

                        <!--start review box -->
                        <div class="row">
                            <div class="col-md-2 col-sm-3">
                                <div class="user-icon-circle">
                                    <img src="<?=$this->baseUrl('/tr/themes/ch/theme5/img/no-image.gif');?>" alt="<?=$review->getCustomer()->getName()?>"/>
<!--                                    <img src="assets/images/users/user-icons.png" alt="User Image"/>-->
                                </div>
                            </div>
                            <div class="col-md-10 col-sm-9">
                                <h5><?php echo $this->restaurant->getName();?></h5>
                                <p style="font-size: 12px;"><i class="far fa-clock"></i> <?=$review->getTs('d F Y')?></p>
                                <p class="rating-text">
                                <span>
                                    <?php
                                    $rating = $review->getRating();
                                    echo '<meta itemprop="ratingValue" content="'.$rating.'"/>';
                                    echo '<meta itemprop="bestRating" content="5"/>';
                                    for ($i=1; $i <= 5; $i++) {
                                        $class = 'far fa-star';
                                        if ($i <= $rating) {
                                            $class = 'fas fa-star';
                                        }
                                        echo '<i class="'.$class.'"></i>';
                                    }
                                    ?>
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="fas fa-star"></i>-->
<!--                                    <i class="far fa-star"></i>-->
                                </span>
                                    <?=$review->getText()?>
                                </p>
                                <hr>
                            </div>
                        </div>
                        <!--end review box -->

                    <?php } } ?>

            </div>
        </div>




        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-1">
                <div class="book-a-table-section">

                    <h2 class="title-base">fill out the form  and submit</h2>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 review-form-section">
                            <?php
                            $form = $this->reviewForm();
                            echo $form->getHtml();
                            ?>
                        </div>
                    </div>


<!--                    <div class="row">-->
<!--                        <div class="col-md-6 col-md-offset-3">-->
<!--                            <input type="text" name="" placeholder="Mobile No eg. 077xxxxxxxx"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!---->
<!--                    <div class="row">-->
<!--                        <div class="col-md-6 col-md-offset-3">-->
<!--                            <input type="text" name="" placeholder="Email No ie. something@something.com"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!---->
<!--                    <div class="row">-->
<!--                        <div class="col-md-6 col-md-offset-3">-->
<!--                            <select class="rating-select">-->
<!--                                <option>1 Star - I didn't like</option>-->
<!--                                <option>2 Star - Can do Well</option>-->
<!--                                <option>3 Star - Ok</option>-->
<!--                                <option>4 Star - Liked It!</option>-->
<!--                                <option>5 Star - Loved It!</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!---->
<!--                    <div class="row">-->
<!--                        <div class="col-md-6 col-md-offset-3">-->
<!--                            <textarea placeholder="Say Something"></textarea>-->
<!--                        </div>-->
<!--                    </div>-->
<!---->
<!---->
<!--                    <div class="row">-->
<!--                        <div class="col-md-6 col-md-offset-3">-->
<!--                            <p>6-2 = ? (Type in the answer on the textbox below)</p>-->
<!--                            <input type="number" name="" placeholder="?"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!---->
<!--                    <div class="row">-->
<!--                        <div class="col-md-6 col-md-offset-3">-->
<!--                            <p class="agree"><input type="checkbox" name=""/> I agree to receive occasional promotional newsletters via email.</p>-->
<!--                            <p class="agree"><input type="checkbox" name=""/> I agree to receive occasional promotional SMS messages.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!---->
<!---->
<!---->
<!--                    <div class="row">-->
<!--                        <div class="col-md-6 col-md-offset-3">-->
<!--                            <button class="btn-custom">Post Your Review</button>-->
<!--                            <br><br>-->
<!--                        </div>-->
<!--                    </div>-->

                </div>
            </div>
        </div>
    </div>
</div>
