<div class="header-area background-image clearfix">
   <div class="socials col-md-12">
      <ul class="list-unstyled text-right">
      	 <li><a href="http://www.facebook.com/sharer.php?u=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-facebook"></i></a></li>
         <li><a href="/share?text=<?=$this->restaurant->getName()?>&url=<?=$_SERVER['HTTP_HOST'];?>"><i class="fa fa-twitter"></i></a></li>
         <li><a href="https://plus.google.com/share?url=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-google-plus"></i></a></li>
      </ul>
   </div>
   
   <div class="logo col-md-12 color-fff text-center text-shadow">
      <?php if ($this->restaurant->getLogoImageId()) { 
        echo $this->restaurant->getLogo();
      } else { ?>
         <h2 class=""><i class="fa fa-cutlery"></i> <?=( $this->restaurant->getName() )?></h2>
      <?php } ?>
      <h4 class=""><?=( $this->restaurant->getSlogan() ? $this->restaurant->getSlogan() : 'Your slogan here')?></h4>
      <?php if ($this->restaurant->getPhoneTakeaway()) { ?>
         <h3 class=""><i class="fa fa-phone"></i> <?=$this->restaurant->getPhoneTakeaway();?></h3>
      <?php } ?>
      <?php if ($this->restaurant->getPhoneReservation()) { ?>
         <h3 class=""><i class="fa fa-phone"></i> <?=$this->restaurant->getPhoneReservation();?></h3>
      <?php } 
      if ( $this->restaurant->getAddress()->getCountry() ) {
         echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddressInOneLine($this->restaurant) . "<br/>";
      }
      ?>
   </div>
   
   <div class="menu col-md-12">
      <ul id="nav" class="list-unstyled text-center">
         <li><a href="<?=$this->restaurant->getUrl('home');?>">Home</a></li>
         <li><a href="<?=$this->restaurant->getUrl('menu');?>">Menu</a></li>
         
         <?=( $this->restaurant->getShowPageReviews() ?
            "<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPageVideos() ?
            "<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPagePhotos() ?
            "<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPageOffers() ?
            "<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a></li>" : ""
         )?>
      </ul>
   </div>
</div>


<div class="container our-menu reviews padding-50-0 clearfix">
<?php
    $videoPlayer = null;
    $videos = $this->restaurant->getVideos();
    $page = $this->restaurant->getPage('videos');

    $page = $this->restaurant->getPage('videos');
    echo $this->restaurant->getThemeViewHelpers()->printPageInfo($page);
?>
   <div class="single-menu-item videos-page padding-0-0-20 margin-0-auto-20">
      <div class="clearfix">                    
       <?php 
          if ( !$videos->getTotal() ) {
            echo $this->restaurant->getThemeViewHelpers()->alert('No published videos found.', 'alert alert-info');
          }else{
            foreach($videos->getItems() as $video) {
                echo '<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 sing_vid text-center" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">';
                $videoUrl = $this->restaurant->getUrl('videos', 'index', array('video_id' => $video->getId()));
                echo "<a href='$videoUrl' >{$video->getThumbnail()}</a>";
                echo "<h5 itemprop='name'>{$video->getTitle()}</h5>";
                echo "<meta itemprop='thumbnailUrl' content='{$video->getThumbnailUrl()}'/>";
                echo "<span itemprop='description'/>{$video->getDescription()}</span>";
                echo "<meta itemprop='contentURL' content='{$videoUrl}'/>";
                echo '</div>';

                if (isset($_GET['video_id']) && $video->getId() == $_GET['video_id']) {
                    $videoPlayer = $video->getYoutubePlayer(array('width'=> '700px'));
                }
            } 
          }
       ?>                                           
      </div>
    <?php if ($videoPlayer) { ?>
		<div class='col-md-6 padding-25-0 col-md-offset-3 text-center'>
			<?php echo $videoPlayer; ?>
		</div>
	<?php } ?>
   </div>
</div>