<div class="banner-area col-md-12 no-padding text-center text-uppercase">
<div class="banner col-md-10 col-md-offset-1 col-sm-offset-1 col-1-margin-right">
<div class="col-md-4 logo">
<?php if ($this->restaurant->getOOLinkFromWebsite()) { ?>
<?php echo $this->restaurant->getThemeViewHelpers()->printOOFrame($this->restaurant) ?>
<?php } else { ?>
<a href="<?=$this->restaurant->getUrl('home')?>">
<?=( $this->restaurant->getLogoImageId() ? $this->restaurant->getLogo('', 200) : '')?>
</a>
<?php } ?>
<h1><a href=""><?=$this->restaurant->getName()?></a></h1>
<h2><?=$this->restaurant->getSlogan()?></h2>



</div>

<div class="banner-right col-md-8">
<div class="default-gallery">
<?php 
if ($this->restaurant->getBannerImageId()) {
$banner = $this->restaurant->getBanner();
if ($banner) {
echo "<img class='img-responsive' src='{$banner->getImageUrl()}' title='{$this->restaurant->getName()}'/>";
}
} else { 
$album = $this->restaurant->getDefaultPhotoAlbum(); 
if (is_object($album) && $album->getPhotos()) {
    echo '<section class="slider_area hidden-xs hidden-sm">';
        echo '<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">';
        echo '<ol class="carousel-indicators">';    
        $i = 0;
        foreach ($album->getPhotos()->getItems() as $photo) {
            echo "<li data-target='#carousel-example-generic' data-slide-to='$i' class='active'></li>";
            $i++;
        }
        echo '</ol>';

        $i = 0;
        echo '<div class="carousel-inner" role="listbox">';
        foreach ($album->getPhotos()->getItems() as $photo) {
            $active = ($i == 0 ? "active" : "");
            echo "<div class='item $active'>";
                echo "<img src='{$photo->getImageUrl()}' alt='banner'>";
            echo '</div>';
            $i++;
        }
        echo '</div>'; ?>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </section>
<?php 

} else {
echo $this->restaurant->getThemeViewHelpers()->alert('No default album\'s image found.');
}
?>
<?php } 
if ( $this->restaurant->getAddress()->getCountry() ) {
    echo "<p class='color-fff address'>".$this->restaurant->getThemeViewHelpers()->prettyPrintAddressInOneLine($this->restaurant)."</p>";
    $phone = $this->restaurant->getPhoneTakeAway();
    $phone2 = $this->restaurant->getPhoneReservation();
    echo "<h3 class='phone'>";
    if ($phone) {
        echo "<span class='color-fff fa fa-phone-square'></span>&nbsp;<a class='color-fff' href='tel:{$phone}'>{$phone}</a>";
    }
    if ($phone && $phone2) {
        echo "<span class='color-fff'>&ensp; / &ensp;</span>";
    }
    if ($phone2) {
        echo "<span class='color-fff fa fa-phone-square'></span>&nbsp;<a class='color-fff' href='tel:{$phone2}'>{$phone2}</a>";
    }
    echo "</h3>";
} ?>
</div>
</div>
</div>
</div>

<?php if ($this->restaurant->getDescription()) { ?>
<div class='row-fluid'> 
<div class="col-md-12" style="margin-top:10px;">
<div class="panel panel-default">  
<div class="panel-body text-center">  
<?php echo $this->restaurant->getDescription(); ?>
</div>
</div>
</div>
</div>
<?php } ?>
