<?php require('home_top.phtml');?>
<div class="right-content">
    <div class="row">
    <?php if ($this->restaurant->getShowPageReservation()) {?>
    <div class="col-md-4">
    <?php echo $this->restaurant->getThemeViewHelpers()->printReservationButtonFrame($this->restaurant); ?>
    </div>
    <?php } ?>

    <?php $pageInfo = $this->restaurant->getPage('home'); ?>
    <?php if ($pageInfo) { ?>
    <div class="col-md-8">
        <div class="col-md-12">
        <div class="panel panel-default" style="margin-top: 10px;">
            <div class="panel-body">
            <?php echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo); ?>
            </div>
        </div>
        </div>
    </div>
    </div> <!-- end of row -->
    <?php } ?>

    <?php $specialOffers = $this->restaurant->getOffers(); ?>
    <?php if ($specialOffers->getTotal()) { ?>
        <div class="row offers-area">
        <div class="col-md-12">
        <?php echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant, true); ?>
        </div>
        </div>
    <?php } ?>

    <div class="menu-area clearfix">
        <?php include('menu_items.phtml'); ?>
    </div>

    <div class="post-content clearfix">
        <div class="left no-padding">
        <?php
        echo $this->restaurant->getGoogleMap(array('height' => 425,
            'width' => '100%',
            'zoom' => 15));
        ?>
        </div>
    </div>
</div>
