<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<?php echo $this->headTitle(); ?>
<?php echo $this->headMeta();?>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="<?=$this->baseUrl('favicon.ico');?>" />  <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/font-awesome.min.css');?>">
<link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/slicknav.css');?>">
<link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/normalize.css');?>">
<link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/jquery.fancybox.css');?>">
<link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/bootstrap.min.css');?>">
<link rel="stylesheet" href="<?=$this->baseUrl('/tr/themes/ch/theme10/responsive.css');?>">
<link rel="stylesheet" href="<?=$this->baseUrl('/tr/themes/ch/theme10/style.css?');?>">
<?php if ($this->restaurant->getThemeColorScheme()) {
echo '<link rel="stylesheet" href="' . $this->restaurant->getColorSchemeCssFile() . '">';
} ?>
<script src="<?=$this->baseUrl('/tr/vendor/js/vendor/modernizr-2.6.2.min.js');?>"></script>
<?php echo $this->headLink() ?>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="<?=$this->baseUrl('/tr/vendor/js/bootstrap.min.js');?>"></script>
<script src="<?=$this->baseUrl('/tr/vendor/js/plugins.js');?>"></script>
<script src="<?=$this->baseUrl('/tr/vendor/js/jquery.fancybox.pack.js')?>"></script>
<script src="<?=$this->baseUrl('/tr/vendor/js/main.js');?>"></script>
<script src="<?=$this->baseUrl('/tr/themes/ch/theme10/theme.js');?>"></script> 
<?php echo $this->headScript();?>
</head>

<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
        
<div class="col-md-12 no-padding header">
	<div class="menu col-md-10 col-md-offset-1 text-right col-1-margin-right">
	<ul id="nav" class="list-unstyled">
    <li><a href="<?=$this->restaurant->getUrl('home')?>"><?=$this->restaurant->getName();?></a></li>
		<li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
		<?=( $this->restaurant->getShowPageReservation() ?
		"<li><a href='{$this->restaurant->getUrl('reservation')}'>{$this->restaurant->getPageReservation()->getDisplayName()}</a></li>" : ""
		)?>
		<?=( $this->restaurant->getShowPageAbout() ?
		"<li><a href='{$this->restaurant->getUrl('about')}'>{$this->restaurant->getPageAbout()->getDisplayName()}</a></li>" : ""
		)?>
		<?=( $this->restaurant->getShowPageReviews() ?
		"<li><a href='{$this->restaurant->getUrl('reviews')}'>{$this->restaurant->getPageReviews()->getDisplayName()}</a></li>" : ""
		)?>
		<?=( $this->restaurant->getShowPageVideos() ?
		"<li><a href='{$this->restaurant->getUrl('videos')}'>{$this->restaurant->getPageVideos()->getDisplayName()}</a></li>" : ""
		)?>
		<?=( $this->restaurant->getShowPagePhotos() ?
		"<li><a href='{$this->restaurant->getUrl('photos')}'>{$this->restaurant->getPagePhotos()->getDisplayName()}</a></li>" : ""
		)?>
		<?=( $this->restaurant->getShowPageOffers() ?
		"<li><a href='{$this->restaurant->getUrl('offers')}'>{$this->restaurant->getPageOffers()->getDisplayName()}</a></li>" : ""
		)?>
	</ul>
	</div>
</div>
			
<div class="content home">
<?php echo $this->layout()->content; ?>
</div>
<?php if ($this->restaurant->getOOOwnWebsite()) {?>
<div class='clearfix'>&nbsp;</div>
<div class='theme-footer'>
    <div id="fb-root"></div>
    <div class="">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
            <ul class='list-unstyled'>
            <li><a href="<?=CH_SWHOST?>/post/ezy/help-and-support?checkout-customer=true">Email Support</a></li>
                <li><a href="<?=CH_SWHOST?>/post/ezy/frequently-asked-questions-by-customers#how-secure-is-ch">Safety & Security</a></li>
                <li><a href="<?=CH_SWHOST?>/post/ezy/frequently-asked-questions-by-customers#order-late">Delivery & Returns</a></li>
                <li><a href="<?=CH_SWHOST?>/post/ezy/frequently-asked-questions-by-customers#which-payment-methods">Supported Payments</a></li>
                <li><?=$this->restaurant->getSubUnsubLink();?></li>
                <li>&nbsp;</li>
                <li><?=$this->restaurant->getWebsiteFooterLinkText();?></li>
            </ul>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
            <ul class='list-unstyled'>   
                <li><a href="<?=CH_SWHOST?>/post/ezy/privacy-policy">Privacy policy</a></li>
                <li><a href="<?=CH_SWHOST?>/post/ezy/frequently-asked-questions-by-customers#why-redirect-to-ch">About CurryHunter</a></li>
                <li><a href="<?=CH_SWHOST?>/post/ezy/customer-agreement">Terms of Agreement</a></li>
                <li>&nbsp;</li>

                <li>Website Managed By</li>
                <li>CurryHunter Ltd <i class="fa fa-copyright"></i>2019-2021</li>
            </ul>
        </div>
    </div>
    <div class='clearfix'>&nbsp;</div>
    <hr/>
<?php } else { ?>
<div class="theme-footer col-md-12">
    <p class="pull-left"><?=$this->restaurant->getWebsitePoweredByText();?><br/>
	    <small><?=$this->restaurant->getSubUnsubLink();?></small>
	</p>
    <p class="pull-right">
        <?php if ($this->restaurant->getWebsiteFooterLink()) { ?>
        <a target='_blank' href='<?=$this->restaurant->getWebsiteFooterLink();?>'>
        <?php } ?>
        <?=$this->restaurant->getWebsiteFooterLinkText();?>
        <?php if ($this->restaurant->getWebsiteFooterLink()) { ?>
        </a>
        <?php } ?>
	</p>
</div>
<?php } ?>
</body>
<?php echo $this->headStyle(); ?>
<?php echo $this->inlineScript(); ?>
</html>
