<div class="menus-details">
    <?php
        $menu = $this->restaurant->getMenu();
        $categories = $menu->getCategories();                    
        $spiceLevel = $this->restaurant->getThemeViewHelpers()->spiceLevel($this->restaurant);
        $recommendButton = $this->restaurant->getThemeViewHelpers()->recommendButton($this->user);
        $cb = $this->checkoutBasket($this->restaurant);
        $currency = $this->restaurant->getCurrencySymbol();
   
    if ($categories->getTotal() > 0) {
        foreach ( $categories->getItems() as $category ) {  
            if (!$category->isPublished()) continue;
            ?>
            
        <div class="single-item col-md-6" id="<?=str_replace(' ','',$category->getName());?>">
            <h3 class="title" itemprop="name"><?=$category->getName()?></h3>
            <?php if ( $category->getImage() ) {
                $imageSrc = $category->getImage()->getThumbnailUrl();
                echo "<img class='img-responsive' src='{$imageSrc}' alt='' />";
            }
            ?>
            <div class="others">
                <p class="description" itemprop='description'>
                <?php if ( $category->getDescription() ) {
                      echo "{$category->getDescription()}";
                   }
                ?>
                </p>
            </div>
            
            
                <p class="clearfix" style="margin:0"></p>
                
                <?php if ($category->getType() == 'normal') { ?>
                    
                    <ul class="list-group">
                    
                    <?php foreach ( $category->getFoodItems()->getItems() as $foodItem ) { ?>
                    <?php if ($foodItem->getPrice() > 0) { ?>
                    
                    <li class="list-group-item" itemscope itemtype="http://schema.org/Product">
                       <meta itemprop="brand" content="<?=$category->getName()?>" />
                       <div class="name-price">
                       <span itemprop="name"><?=$foodItem->getName()?></span>
                       <span class="pull-right item-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                          <meta itemprop="priceCurrency" content="<?=$this->restaurant->getWebsiteCurrency()?>" />
                          <?=$currency?><span itemprop="price"><?=$foodItem->getPrice()?></span>
                       </span>
                       </div>
                       <div class='text-right'><?=$cb->printHtmlButton($foodItem);?></div>
                       <div><?=$recommendButton->printButton($foodItem)?></div>
                       <div class=''>
                       <span><?=$spiceLevel->printImage($foodItem)?></span>
                       <?php
                          if ($foodItem->getDescription()) {
                             echo "<span itemprop='description'>{$foodItem->getDescription()}</span>";
                          }
                       ?>
                       </div>
                    </li>
                    
                    <?php } ?>
                    <?php } ?>
                    
                    </ul>
                    
                <?php } else if ($category->getType() == 'classic') { 
                    $items = $category->getFoodItems()->getItems();
                    $content = '';
                    $content .= "<table class='table table-bordered '>";
                    $content .= "<tbody>";

                    foreach($items as $item) {
                        $content .= "<tr class='name-price'>";
                        //$level = \Ezy\Ezy::getSpiceLevelName($item->getSpiceLevel());                    
                        $content .= "<td><span class='name'>{$item->getName()}</span>&ensp;{$spiceLevel->printImage($item)}<br/>";
                        $content .= "<p class='description'>{$item->getDescription()}</p>";
                        $content .= "<ul class='list-unstyled classic'>";

                        if ((float)$item->getPrice()) {
                            $btn = $cb->printHtmlButton($item, 'chicken');
                            $content .= "<li>{$category->getChickenHeader()} - ";
                            $content .= "{$currency}{$item->getPrice()} $btn</li>";
                        }

                        if ($category->getShowLambPrice() && $item->getPriceLamb() > 0) {
                            $btn = $cb->printHtmlButton($item, 'lamb');
                            $content .= "<li>{$category->getLambHeader()} - ";
                            $content .= "{$currency}{$item->getPriceLamb()} $btn</li>";
                        }

                        if ($category->getShowChickenLambTikkaPrice() 
                            && $item->getPriceChickenLambTikka() > 0) {
                            $btn = $cb->printHtmlButton($item, 'chicken_lamb_tikka');
                            $content .= "<li>{$category->getChickenLambTikkaHeader()} - ";
                            $content .= "{$currency}{$item->getPriceChickenLambTikka()} $btn</li>";
                        }

                        if ($category->getShowChickenTikkaPrice() 
                            && $item->getPriceChickenTikka() > 0) {
                            $btn = $cb->printHtmlButton($item, 'chicken_tikka');
                            $content .= "<li>{$category->getChickenTikkaHeader()} - ";
                            $content .= "{$currency}{$item->getPriceChickenTikka()} $btn</li>";
                        }

                        if ($category->getShowLambTikkaPrice() 
                            && $item->getPriceLambTikka() > 0) {
                            $btn = $cb->printHtmlButton($item, 'lamb_tikka');
                            $content .= "<li>{$category->getLambTikkaHeader()} - ";
                            $content .= "{$currency}{$item->getPriceLambTikka()} $btn</li>";
                        }

                        if ($category->getShowBeefPrice() 
                            && $item->getPriceBeef() > 0) {
                            $btn = $cb->printHtmlButton($item, 'beef');
                            $content .= "<li>{$category->getBeefHeader()} - ";
                            $content .= "{$currency}{$item->getPriceBeef()} $btn</li>";
                        }

                        if ($category->getShowDuckPrice() 
                            && $item->getPriceDuck() > 0) {
                            $btn = $cb->printHtmlButton($item, 'duck');
                            $content .= "<li>{$category->getDuckHeader()} - ";
                            $content .= "{$currency}{$item->getPriceDuck()} $btn</li>";
                        }

                        if ($category->getShowDuckTikkaPrice() 
                            && $item->getPriceDuckTikka() > 0) {
                            $btn = $cb->printHtmlButton($item, 'duck_tikka');
                            $content .= "<li>{$category->getDuckTikkaHeader()} - ";
                            $content .= "{$currency}{$item->getPriceDuckTikka()} $btn</li>";
                        }

                        if ($category->getShowPrawnPrice() 
                            && $item->getPricePrawn() > 0) {
                            $btn = $cb->printHtmlButton($item, 'prawn');
                            $content .= "<li>{$category->getPrawnHeader()} - ";
                            $content .= "{$currency}{$item->getPricePrawn()} $btn</li>";
                        }

                        if ($category->getShowKingPrawnPrice() 
                            && $item->getPriceKingPrawn() > 0) {
                            $btn = $cb->printHtmlButton($item, 'king_prawn');
                            $content .= "<li>{$category->getKingPrawnHeader()} - ";
                            $content .= "{$currency}{$item->getPriceKingPrawn()} $btn</li>";
                        }

                        if ($category->getShowTandooriKingPrawnPrice() 
                            && $item->getPriceTandooriKingPrawn() > 0) {
                            $btn = $cb->printHtmlButton($item, 'tandoori_king_prawn');
                            $content .= "<li>{$category->getTandooriKingPrawnHeader()} - ";
                            $content .= "{$currency}{$item->getPriceTandooriKingPrawn()} $btn</li>";
                        }

                        if ($category->getShowVegetablePrice() 
                            && $item->getPriceVegetable() > 0) {
                            $btn = $cb->printHtmlButton($item, 'vegetable');
                            $content .= "<li>{$category->getVegetableHeader()} - ";
                            $content .= "{$currency}{$item->getPriceVegetable()} $btn</li>";
                        }

                        if ($category->getShowMixedPrice() 
                            && $item->getPriceMixed() > 0) {
                            $btn = $cb->printHtmlButton($item, 'mixed');
                            $content .= "<li>{$category->getMixedHeader()} ";
                            $content .= "{$currency}{$item->getPriceMixed()} $btn</li>";
                        }
                        $content .= "</ul></td>";
                        $content .= "</tr>";
                    }

                    $content .= "</tbody></table>";
                    echo $content;
                    
                 }	?>
            <a href="#top" class="back-to-top">Back to top</a>
        </div>
        <?php }
    }
    ?>
</div>
