<div class="right-content">
    <?php
        $pageInfo = $this->restaurant->getPage('menu');
        echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
    ?>
    
    <div class="clearfix"></div>
    
    <?php include('menu_items.phtml'); ?>
    
</div>
