		<div class="right-content">
			<?php
				$pageInfo = $this->restaurant->getPage('offers');
				echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
			?>
			<div class="clearfix"></div>
			
			<div class="offers-area">
				<?php
					  $specialOffers = $this->restaurant->getOffers();
					  echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
				 ?>
			</div>
		</div>
	</div>
</div>
