		<div class="col-md-8 right-content">
			<?php
				$pageInfo = $this->restaurant->getPage('photos');
				echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
			?>
			<div class="clearfix"></div>
			
			<div class="photos-area">
				<?php
				  $sPhotos = null;
				  $albums = $this->restaurant->getAlbums();
				  $page = $this->restaurant->getPage('photos');
			    ?>
			   
				  <div class="all-photos clearfix">
                    <?php
                    if ( !$albums->getTotal() ) {
                        echo $this->restaurant->getThemeViewHelpers()->alert('No published photo albums found.', 'alert alert-info');
                    }else{
                        foreach ($albums->getItems() as $album ) {
                            $albumThumbUrl = $album->getThumbnailUrl();                        
                            $albumSlideshowUrl = $this->restaurant->getUrl('photos', 'index', array('album_id' => $album->getId()));
                             
                            echo "<div class='album'>";
                            if ($album->getTitle()) { echo "<h3>{$album->getTitle()}</h3>"; }
                            if ($album->getDescription()) { echo "<div>{$album->getDescription()}</div><hr/>"; }
                            foreach($album->getPhotos()->getItems() as $photo) {
                                echo "<a class='fancybox' href='{$photo->getImageUrl()}' alt='{$photo->getCaption()}' 
                                    title='{$photo->getCaption()}' rel='{$album->getId()}'>";
                                    echo "<img class='img-thumbnail fadeX' src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}'/>";
                                echo "</a>";
                            }
                            echo "</div>";
                            echo "<hr/>";
                         }
                     }
                    ?>
					</div>
			</div>
		</div>
	</div>
</div>