<?php
    $cb = $this->checkoutBasket($this->restaurant);
    $menu = $this->restaurant->getMenu();
    $categories = $menu->getCategories();
    $spiceLevel = $this->restaurant->getThemeViewHelpers()->spiceLevel($this->restaurant);
    $recommendButton = $this->restaurant->getThemeViewHelpers()->recommendButton($this->user);
    $currency = $this->restaurant->getCurrencySymbol();
    $categoryIds = array();
    foreach ( $categories->getItems() as $category ) { 
        $categoryIds[$category->getId()] = $category->getName(); 
    }
?>
<section class="videos_area">
    <div class="container videos">
        <div class="row" id="top">	
            <style>.affix {top: 20px;}</style>
            <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                <nav class="hidden-print hidden-xs hidden-sm" data-spy="affix" data-offset-top="205"> 
                <ul class="nav bs-docs-sidenav"> 
                    <?php foreach($categoryIds as $id => $name) { ?>
                    <li><a href=#<?=$id?>><?=$name?></a></li> 
                    <?php } ?>
                    <li><a href="#top" class="text-muted">Back to top</a></li>
                </ul> 
                </nav>
            </div>
            
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                
                <div class="menus_acc">
                <?php if ( !empty($categories) ) { ?>
                <?php 
                    foreach ( $categories->getItems() as $category ) { 
                    $categoryIds[$category->getId()] = $category->getName(); 
                ?>
                   
                <div class="panel panel-info col-lg-12 col-md-12 col-sm-12 col-xs-12" id="<?=$category->getId();?>">
                    <div class="panel-heading">
                        <?=$category->getName()?>
                    </div>
                    <div class="panel-body">
                        <span>
                            <h3 class="text-uppercase" itemprop="name"><?=$category->getName()?></h3>
                        </span>
                        <?php 
                            if ($category->getImageId()) {
                                $categoryImageUrl = $category->getImage()->getThumbnailUrl();
                                echo "<img src='$categoryImageUrl' alt='Category image' title='{$category->getName()}'/>";
                            }
                        ?>
                        <p>
                        <?php
                           if ( $category->getDescription() ) {
                              echo "<span itemprop='description'>{$category->getDescription()}</span>";
                           }
                        ?>
                        </p>
                    
                        <?php if ($category->getType() == 'normal') { ?>
                            <!-- List group -->
                            <ul class="list-group">
                                <?php foreach ( $category->getFoodItems()->getItems() as $foodItem ) { ?>
                                <li class="list-group-item" itemscope itemtype="http://schema.org/Product">
                                   <meta itemprop="brand" content="<?=$category->getName()?>" />
                                   <span itemprop="name"><?=$foodItem->getName()?></span> - 
                                   <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                      <meta itemprop="priceCurrency" content="<?=$this->restaurant->getWebsiteCurrency()?>" />
                                      <?=$currency?><span itemprop="price"><?=$foodItem->getPrice()?></span>
                                      <?=$recommendButton->printButton($foodItem)?>
                                   </span>
                                    <?=$spiceLevel->printImage($foodItem)?>
                                    <?="&ensp;".$cb->printHtmlButton($foodItem); ?>
                                    <?php
                                      if ($foodItem->getDescription()) {
                                         echo "<p class='text-info' itemprop='description'>{$foodItem->getDescription()}</p>";
                                      }
                                   ?>
                                </li>
                                <?php  } ?>
                            </ul>
                        
                        <?php  } ?>
                    </div> 
                </div>
                <?php } ?>
                <?php } else { echo $this->restaurant->getThemeViewHelpers()->alertInfo('No published menu category found.'); } ?>
           
                </div>
            </div>
        </div>	
    </div>
</section>	

<br /><br /><br /><br />
<section class="sp_offer_area">
    <div class="container sp_offer">
        <div class="row">
            <div class="">
                <?php
             $specialOffers = $this->restaurant->getOffers();
             echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
          ?>
            </div>
        </div>
    </div>		
</section>		
<br /><br /><br /><br />