div.header h1 a {
  color: #5E286D;
}
div.menu {
  background: #5E286D;
}
div.web-wrapper {
  border: 4px solid #5E286D;
}
div.menus div.single-item div.panel {
  border: 1px solid #5E286D;
}
div.menus div.single-item div.panel-heading {
  background: #5E286D;
  color: #ffffff;
}
div.menus div.single-item div.panel-body a.btn {
  background: #5E286D;
  border: none;
  color: #ffffff;
}
div.reviews div.single-review div.review-details div.title-price span.author-name,
div.reviews div.single-review div.review-details div.title-price span.stars {
  color: #5E286D;
}
div.videos div.single-video h4,
div.all_photos div.sng_photo h3,
div.all_photos div.first-album-photos h3,
div.sng_off p.ttl b span,
div.sng_off ul li span {
  color: #5E286D;
}
