<div class="header-area clearfix">   
   <div class="logo col-md-12 padding-40-0 text-center text-shadow">
      <h2 class="main"><a href=""><?=$this->restaurant->getName()?></a></h2>
   </div>
</div>


<div class="menu clearfix">
   <div class="col-md-12 container">
      <ul id="nav" class="list-unstyled text-center">
         <li><a href="<?=$this->restaurant->getUrl('home')?>">Home</a></li>
         <li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
         <?=( $this->restaurant->getShowPageReviews() ?
            "<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPageVideos() ?
            "<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPagePhotos() ?
            "<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPageOffers() ?
            "<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a></li>" : ""
         )?>
      </ul>
   </div>
</div>

<div class="gallery-area padding-40-0 clearfix">
   <div class="container standards menus">
		<?php
		$pageInfo = $this->restaurant->getPage('menu');
		echo $this->restaurant->getThemeViewHelpers()->printPageInfo($pageInfo);
		$menu = $this->restaurant->getMenu();
		$categories = $menu->getNormalCategories();
		$spiceLevel = $this->restaurant->getThemeViewHelpers()->spiceLevel($this->restaurant);
		$recommendButton = $this->restaurant->getThemeViewHelpers()->recommendButton($this->user);
		if ( !empty($categories) ) {
			foreach ( $categories->getItems() as $category ) {
		?>
		<div class="single-menu-item padding-0-0-20 margin-0-auto-20">
			<div class="menu-details">
				<div class="title-price">
					<span><p class="title" itemprop="name"><?=$category->getName()?></p></span>
					<?php
						if ( $category->getImage() ) {
							$imageSrc = $category->getImage()->getThumbnailUrl();
							echo "<img class='img-responsive' src='{$imageSrc}' alt='' />";
						}else{
							$imageSrc = $this->baseUrl('/tr/themes/ch/theme6/img/home-screen2.jpg');
							echo "<img class='img-responsive' src='{$imageSrc}' alt='' />";
						}
					?>
				</div>
				<?php if ( $category->getDescription() ) { ?>
				<div class="description">
					<p class="" itemprop="description"><?=$category->getDescription()?></p>
				</div>
				<?php } ?>
			</div>
			<ul class="list-group">
			<?php
				$currency = $this->restaurant->getCurrencySymbol();
				foreach ( $category->getFoodItems()->getItems() as $foodItem ) {
			?>
				<li class="list-group-item" itemscope itemtype="http://schema.org/Product">
					<meta itemprop="brand" content="<?=$category->getName()?>" />
					<span itemprop="name"><?=$foodItem->getName()?></span> - 
					<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
						<meta itemprop="priceCurrency" content="<?=$this->restaurant->getWebsiteCurrency()?>" />
						<?=$currency?>
						<span itemprop="price">
							<?=$foodItem->getPrice()?>
						</span>
						<?=$recommendButton->printButton($foodItem)?>
					</span>
					<?=$spiceLevel->printImage($foodItem)?>
					<?php
						if ($foodItem->getDescription()) {
							echo "<span class='description text-info' itemprop='description'>{$foodItem->getDescription()}</span>";
						}
					?>
				</li>
			<?php   
				}
			?>
		  </ul>
		  <a href="#top" class="back-to-top pull-right">Back to top</a>
		</div>
		<?php } }else{
				echo $this->restaurant->getThemeViewHelpers()->alertInfo('No published menu category found.');
			  }
		?>
		<div class="clearfix"></div>
	
	<?php
		$categories = $menu->getClassicCategories();
		if (!empty($categories)) {
			$content = '';
			foreach($categories->getItems() as $category) {
	?>
   <div class="single-menu-item classic-categories">
      <div class="menu-details">
         <div class="title-price">
            <span><p class="title" itemprop="name"><?=$category->getName()?></p></span>
			<?php
				if ( $category->getImage() ) {
					$imageSrc = $category->getImage()->getThumbnailUrl();
					echo "<img class='img-responsive' src='{$imageSrc}' alt='' />";
				}else{
					$imageSrc = $this->baseUrl('/tr/themes/ch/theme6/img/home-screen2.jpg');
					echo "<img class='img-responsive' src='{$imageSrc}' alt='' />";
				}
			?>
         </div>
         <div class="description">
            <?php
					$content .= "<table class='table table-bordered '>";
					$content .= "<thead><tr><th>Item</th><th>Chi/Lmb</th>";
					if($category->getShowLambPrice()) $content .= "<th>Lamb</th>";
                    if($category->getShowChickenLambTikkaPrice()) $content .= "<th>Chi/Lmb Tikka</th>";
                    if($category->getShowChickenTikkaPrice()) $content .= "<th>Chicken Tikka</th>";
                    if($category->getShowLambTikkaPrice()) $content .= "<th>Lamb Tikka</th>";
                    if($category->getShowBeefPrice()) $content .= "<th>Beef</th>";
                    if($category->getShowDuckPrice()) $content .= "<th>Duck</th>";
                    if($category->getShowPrawnPrice()) $content .= "<th>Prawn</th>";
                    if($category->getShowKingPrawnPrice()) $content .= "<th>King Prawn</th>";
                    if($category->getShowVegetablePrice()) $content .= "<th>Vegetable</th>";
                    if($category->getShowMixedPrice()) $content .= "<th>Mixed</th>";
					$content .= "</tr></thead>";
					$content .= "<tbody>";

					foreach($category->getFoodItems()->getItems() as $item) {
                        $content .= "<tr>";
                        //$level = \Ezy\Ezy::getSpiceLevelName($item->getSpiceLevel());                    
                        $content .= "<td>{$item->getName()}&ensp;{$spiceLevel->printImage($item)} <br/><p class='text-info'>{$item->getDescription()}</p></td>";
                        $content .= "<td>{$currency}{$item->getPrice()}</td>";

                        $content .= ($category->getShowLambPrice()
                        ?  "<td>{$currency}{$item->getPriceLamb()}</td>" : "");
                        $content .= ($category->getShowChickenLambTikkaPrice()
                        ?  "<td>{$currency}{$item->getPriceChickenLambTikka()}</td>" : "");
                        $content .= ($category->getShowChickenTikkaPrice()
                        ?  "<td>{$currency}{$item->getPriceChickenTikka()}</td>" : "");
                        $content .= ($category->getShowLambTikkaPrice()
                        ?  "<td>{$currency}{$item->getPriceLambTikka()}</td>" : "");
                        $content .= ($category->getShowBeefPrice()
                        ?  "<td>{$currency}{$item->getPriceBeef()}</td>" : "");
                        $content .= ($category->getShowDuckPrice()
                        ?  "<td>{$currency}{$item->getPriceDuck()}</td>" : "");
                        $content .= ($category->getShowPrawnPrice()
                        ?  "<td>{$currency}{$item->getPricePrawn()}</td>" : "");
                        $content .= ($category->getShowKingPrawnPrice()
                        ?  "<td>{$currency}{$item->getPriceKingPrawn()}</td>" : "");
                        $content .= ($category->getShowVegetablePrice()
                        ?  "<td>{$currency}{$item->getPriceVegetable()}</td>" : "");
                        $content .= ($category->getShowMixedPrice()
                        ?  "<td>{$currency}{$item->getPriceMixed()}</td>" : "");
                        $content .= "</tr>";
					}

					$content .= "</tbody></table>";
					echo $content;
					?>
         </div>
      </div>
   </div>
   <a href="#top" class="back-to-top pull-right">Back to top</a>
	<?php } } ?>
</div>
</div>