@media only screen and (min-width: 992px) and (max-width: 1199px) {


}



@media only screen and (min-width: 768px) and (max-width: 991px) {


}





@media only screen and (max-width: 767px) {
.slicknav_menu{
	display: block !important;
}
div.menu {
  display: none !important;
}

}


@media only screen and (min-width: 480px) and (max-width: 767px) {



}


@media only screen and (max-width: 479px) {

form#review dl.zend_form dd#captcha-element pre {
  font-size: 8px;
}

form#review dl.zend_form dd#email-element input, form#review dl.zend_form dd#name-element input {
  max-width: 100%;
}

div.logo h2 {
  font-size: 45px;
}
div.logo p.slogan {
  font-size: 20px;
}


div.reviews div.single-review div.user-thumb {
    float: none !important;
    padding: 0;
}
div.reviews div.single-review div.user-thumb img {
    display: block;
    margin: 0 auto 15px;
}
div.reviews div.single-review div.review-details div.title-price span {
    display: block;
    float: none !important;
    text-align: center !important;
}
div.reviews div.single-review div.review-details div.title-price span.author-name p, div.reviews div.single-review div.review-details div.title-price span.publish-date {
    display: block;
    float: none !important;
    text-align: center !important;
}
div.reviews div.single-review div.review-details div.title-price span.author-name p{
	margin-bottom: 0
}
div.reviews div.single-review div.review-details div.title-price span.publish-date {
	margin-bottom: 5px;
    padding: 0;
}
div.reviews div.single-review div.review-details div.title-price span.review-details {
	margin-top: 5px;
}

div.sng_photo {
  width: 100%;
}

}


