<div class="header-area clearfix">   
   <div class="logo col-md-12 padding-40-0 text-center text-shadow">
      <h2 class="main"><a href=""><?=$this->restaurant->getName()?></a></h2>
   </div>
</div>


<div class="menu clearfix">
   <div class="col-md-12 container">
      <ul id="nav" class="list-unstyled text-center">
         <li><a href="<?=$this->restaurant->getUrl('home')?>">Home</a></li>
         <li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
         <?=( $this->restaurant->getShowPageReviews() ?
            "<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPageVideos() ?
            "<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPagePhotos() ?
            "<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPageOffers() ?
            "<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a></li>" : ""
         )?>
      </ul>
   </div>
</div>

<div class="videos-area padding-40-0 clearfix">
   <div class="container standards videos">
		<?php
       $videoPlayer = null;
       $videos = $this->restaurant->getVideos();
       $pageInfo = $this->restaurant->getPage('videos');
	   echo $this->restaurant->getThemeViewHelpers()->printPageInfo($pageInfo);
    ?>
   <div class="single-menu-item videos-page padding-0-0-20 margin-0-auto-20">
      <div class="clearfix">                    
			 <?php 
				 if ( !$videos->getTotal() ) {
					 echo $this->restaurant->getThemeViewHelpers()->alert('No published videos found.', 'alert alert-info');
				 }else{
				 foreach($videos->getItems() as $video) {
					echo '<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 sing_vid text-center" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">';
					$videoUrl = $this->restaurant->getUrl('videos', 'index', array('video_id' => $video->getId()));
					echo "<a href='$videoUrl' >{$video->getThumbnail()}</a>";
					echo "<h5 itemprop='name'>{$video->getTitle()}</h5>";
					echo "<meta itemprop='thumbnailUrl' content='{$video->getThumbnailUrl()}'/>";
					echo "<span itemprop='description'/>{$video->getDescription()}</span>";
					echo "<meta itemprop='contentURL' content='{$videoUrl}'/>";
					echo '</div>';
					
					if (isset($_GET['video_id']) && $video->getId() == $_GET['video_id']) {
						 $videoPlayer = $video->getYoutubePlayer(array('width'=> '700px'));
					}
				 } 
				 }
			 ?>                                           
			</div>
		 <?php if ($videoPlayer) { ?>
			<div class='col-md-6 padding-25-0 col-md-offset-3 text-center'>
				<?php echo $videoPlayer; ?>
			</div>
		<?php } ?>
		</div>
   </div>
</div>