<?php $cb = $this->checkoutBasket($this->restaurant); ?>
<?php $currency = $this->restaurant->getCurrencySymbol();?>
<div class="reservation text-center">
	<?php echo $this->restaurant->getThemeViewHelpers()->printPhoneNumbers($this->restaurant);?>
</div>

<div class="content-area menu-page clearfix">
	<div class="content-inner clearfix col-md-offset-1 col-md-10">
		<div class="contents">
			<div class="menu-top">
				<?php
					$page = $this->restaurant->getPage('menu');
					echo $this->restaurant->getThemeViewHelpers()->printPageInfo($page);
				?>
			</div>
			
			<div class="sidebar col-md-4 col-sm-4 clearfix">
				<h2>menu types</h2>
				
				<ul class="list-unstyled">
				<?php
					$categories = $this->restaurant->getMenu()->getCategories();
					if ( !empty( $categories ) ) {
						foreach ( $categories->getItems() as $category ) {
                            if (!$category->isPublished()) continue;
                            echo "<li><a class='color-fff' href='#cat-{$category->getId()}'>{$category->getName()}</a></li>";
						}
					}else{
						echo $this->restaurant->getThemeViewHelpers()->alert('No published menu item found.');
					}
				?>
				</ul>
			</div>
			
			<div class="right-content col-md-8 col-sm-8">
				<div class="menus-details">
					<?php
                        $menu = $this->restaurant->getMenu();
                        $id = 0;
                        $spiceLevel = $this->restaurant->getThemeViewHelpers()->spiceLevel($this->restaurant);
                        $recommendButton = $this->restaurant->getThemeViewHelpers()->recommendButton($this->user);
                    ?>
                    <?php 
                    if (empty($categories) ) {
                         echo $this->restaurant->getThemeViewHelpers()->alertInfo('No published menu category found.');
                    } else {
                    foreach ( $categories->getItems() as $category ) {
                        if (!$category->isPublished()) continue;
                        $id++;
                        if ($category->getType() == 'normal') { ?>
                            <div class="single-item" id="<?="cat-{$category->getId()}"?>">
                                <div class="others">
                                    <h3 class="title" itemprop="name"><?=$category->getName()?></h3>
                                    <?php
                                       if ( $category->getDescription() ) {
                                          echo "<p class='description' itemprop='description'>{$category->getDescription()}</p>";
                                       }
                                    ?>
                                </div>
                                
                                <ul class="list-group">
                                <?php
                                    $currency = $this->restaurant->getCurrencySymbol();
                                    foreach ( $category->getFoodItems()->getItems() as $foodItem ) {
                                        if ($foodItem->getPrice() > 0.00) { ?>
                                            <li class="list-group-item" itemscope itemtype="http://schema.org/Product">
                                               <meta itemprop="brand" content="<?=$category->getName()?>" />
                                               <span class="name" itemprop="name"><?=$foodItem->getName()?></span>
                                               <span class="pull-right item-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                  <meta itemprop="priceCurrency" content="<?=$this->restaurant->getWebsiteCurrency()?>" />
                                                  <?=$currency?>
                                                  <span itemprop="price">
                                                     <?=$foodItem->getPrice()?>
                                                  </span>
                                                  <?=$recommendButton->printButton($foodItem)?>
                                               </span>
                                               <?=$spiceLevel->printImage($foodItem)?>
                                               <?php
                                                  if ($foodItem->getDescription()) {
                                                     echo "<span class='description' itemprop='description'>{$foodItem->getDescription()}</span>";
                                                  }

											      echo $cb->printHtmlButton($foodItem);
                                               ?>
                                            </li>
                                        <?php } ?>
                                    <?php }	?>
                                </ul>
                                <a href="#top" class="back-to-top">Back to top</a>
                            </div>
                    <?php } else {  $content = '';?>
                          <div class="single-item clearfix" id='<?="cat-{$category->getId()}"?>'>
                            <div class="others">
                                <h3 class="title"><?=$category->getName();?></h3>
                                <?php
                                   if ( $category->getDescription() ) {
                                      echo "<p class='description' itemprop='description'>{$category->getDescription()}</p>";
                                   }
                                ?>
                                    
                                <div class="clearfix"></div>
                                  <div class="description">
                                    <?php
                                        $content .= "<table class='table table-bordered '>";
                                        foreach($category->getFoodItems()->getItems() as $item) {
                                            $content .= "<tr>";
                                            //$level = \Ezy\Ezy::getSpiceLevelName($item->getSpiceLevel());                    
                                            $content .= "<td><b>{$item->getName()}</b>&ensp;{$spiceLevel->printImage($item)}";
                                            $content .= "<p class='sub-description'>{$item->getDescription()}</p>";
                                            $content .= "<ul class='list-unstyled'>";
                                            $btn = $cb->printHtmlButton($item, 'chicken');
                                            $content .= ($item->getPrice() > 0.00 
                                                ? "<li>{$category->getChickenHeader()} - $currency{$item->getPrice()} $btn</li>" : "");

                                            $btn = $cb->printHtmlButton($item, 'lamb');
                                            $content .= ($category->getShowLambPrice() && $item->getPriceLamb() > 0.00 
                                                ? "<li>{$category->getLambHeader()} - {$currency}{$item->getPriceLamb()} $btn</li>" : "");

                                            $btn = $cb->printHtmlButton($item, 'beef');
                                            $content .= ($category->getShowBeefPrice() && $item->getPriceBeef() > 0.00 
                                                ? "<li>{$category->getBeefHeader()} - {$currency}{$item->getPriceBeef()} $btn</li>" : "");

                                            $btn = $cb->printHtmlButton($item, 'chicken_tikka');
                                            $content .= ($category->getShowChickenTikkaPrice() && $item->getPriceChickenTikka() > 0.00 
                                                ? "<li>{$category->getChickenTikkaHeader()} - {$currency}{$item->getPriceChickenTikka()} $btn" : "");
                                            $btn = $cb->printHtmlButton($item, 'lamb_tikka');
                                            $content .= ($category->getShowLambTikkaPrice() && $item->getPriceLambTikka() > 0.00 
                                                ? "<li>{$category->getLambTikkaHeader()} - {$currency}{$item->getPriceLambTikka()} $btn</li>" : "");
                                            $btn = $cb->printHtmlButton($item, 'chicken_lamb_tikka');
                                            $content .= ($category->getShowChickenLambTikkaPrice() && $item->getPriceChickenLambTikka() > 0.00 
                                                ? "<li>{$category->getChickenLambTikkaHeader()} - {$currency}{$item->getPriceChickenLambTikka()} $btn</li>" : "");
                                            $btn = $cb->printHtmlButton($item, 'duck');
                                            $content .= ($category->getShowDuckPrice() && $item->getPriceDuck() > 0.00 
                                                ? "<li>{$category->getDuckHeader()} - {$currency}{$item->getPriceDuck()} $btn</li>" : "");

                                            $btn = $cb->printHtmlButton($item, 'duck_tikka');
                                            $content .= ($category->getShowDuckTikkaPrice() && $item->getPriceDuckTikka() > 0.00 
                                                ? "<li>{$category->getDuckTikkaHeader()} - {$currency}{$item->getPriceDuckTikka()} $btn</li>" : "");

                                            $btn = $cb->printHtmlButton($item, 'prawn');
                                            $content .= ($category->getShowPrawnPrice() && $item->getPricePrawn() > 0.00 
                                                ? "<li>{$category->getPrawnHeader()} - {$currency}{$item->getPricePrawn()} $btn</li>" : "");
                                            
                                            $btn = $cb->printHtmlButton($item, 'king_prawn');
                                            $content .= ($category->getShowKingPrawnPrice() && $item->getPriceKingPrawn() > 0.00 
                                                ? "<li>{$category->getKingPrawnHeader()} - {$currency}{$item->getPriceKingPrawn()} $btn</li>" : "");
                                            $btn = $cb->printHtmlButton($item, 'tandoori_king_prawn');
                                            $content .= ($category->getShowTandooriKingPrawnPrice() && $item->getPriceTandooriKingPrawn() > 0.00 
                                                ? "<li>{$category->getTandooriKingPrawnHeader()} - {$currency}{$item->getPriceTandooriKingPrawn()} $btn</li>" : "");
                                            $btn = $cb->printHtmlButton($item, 'vegetable');
                                            $content .= ($category->getShowVegetablePrice() && $item->getPriceVegetable() > 0.00 
                                                ? "<li>{$category->getVegetableHeader()} - {$currency}{$item->getPriceVegetable()} $btn</li>" : "");
                                            $btn = $cb->printHtmlButton($item, 'mixed');
                                            $content .= ($category->getShowMixedPrice() && $item->getPriceMixed() > 0.00 
                                                ? "<li>{$category->getMixedHeader()} - {$currency}{$item->getPriceMixed()} $btn</li>" : "");
                                           $content .= "</ul>";
                                           $content .= "</tr>";
                                        }

                                        $content .= "</tbody></table>";
                                        echo $content;
                                    ?>
                                  </div>
                            </div>
                                <a href="#top" class="back-to-top">Back to top</a>
                          </div>
                       <?php } ?> 
                    
                    <?php } ?>
                    
                <?php } ?>
				</div>
				
			</div>
		</div>
	</div>
</div>
