<?php $r = $this->restaurant; ?>
<?php 
if (isset($_POST['no_of_people'])) {
    $to = "k_atike@yahoo.com";
    $sub = "New Booking Received";
    $html .= "Name: " . (isset($_POST['name']) ? $_POST['name'] : 'Unknown') . "<br/>";
    $html .= "Mobile: " . (isset($_POST['mobile']) ? $_POST['mobile'] : 'Unknown') . "<br/>";
    $html .= "From: " . (isset($_POST['from']) ? $_POST['from'] : 'Unknown') . "<br/>";
    $html .= "To: " . (isset($_POST['to']) ? $_POST['to'] : 'Unknown') . "<br/>";
    $html .= "When: " . (isset($_POST['date_time']) ? $_POST['date_time'] : 'Unknown') . "<br/>";
    $html .= "No of people: " . (isset($_POST['no_of_people']) ? $_POST['no_of_people'] : 'Unknown') . "<br/>";

    try {
        $template = new Template_Model_Email(array(
            'sender_name' => 'Admin',
            'sender_email' => 'admin@curryhunter.com',
            'reply_to_name' => 'No Reply',
            'reply_to_email' => 'noreply@curryhunter.com',
        ));
        $mail = new Service_Model_Emailer($template);
        $mail->send('Admin', $to, $html, $sub, $sub);
        $this->message = "Booking request sent successfully, We wil get back to you ASAP to confirm.";
    } catch (Exception $e) {
        $this->messageF = "Booking request sending failed. Please call <a href='tel:+447508403642'>+447508403642</a>.";
    }
}
?>

    <link rel="stylesheet" type="text/css" href="<?=$this->baseUrl('/tr/themes/mo/taxi-booking/vendor/datetimepicker-master/jquery.datetimepicker.css');?>"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="<?=$this->baseUrl('/tr/themes/mo/taxi-booking/vendor/datetimepicker-master/jquery.datetimepicker.js');?>"></script>
<script>$('.datet').datetimepicker({inline: true});</script>


    <!-- Navigation -->
<!--
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><?=$r->getName();?></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Log In</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
-->
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <h1 class="text-primary"><?=$r->getName()?></h1>
            <h4 class="masthead-subheading mb-0"><?=$r->getSlogan()?></h4>
            <p>&nbsp;</p>
            <?php echo $r->getDescription();?>
          </div>
        </div>
      </div>
    </section>

    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
        <!--<h1 class="masthead-heading mb-0"></h1> -->

            <h2 style="color:#ffffff; background-color: coral;">To book your trip please fill the form and continue.</h2>
<?php if ($this->message) { 
    echo "<div class='alert alert-success'>" . $this->message . "</div>";
} elseif ($this->messageF) { 
    echo "<div class='alert alert-danger'>" . $this->messageF . "</div>";
}
?>
            <form method='POST'>
                <div class='row'><input type="text" class="form-control" name="from" placeholder="From" required/></div>
                <div class='row'><input type="text" class="form-control" name="to" placeholder="To" required/></div>
                <div class='row'><input type="text" class="form-control" name="name" placeholder="Your Name" required/></div>
                <div class='row'><input type="text" class="form-control" name="mobile" placeholder="Your Phone" required/></div>
                <div class='row'><input type="text" class="form-control datet" name="date_time" placeholder="When" required/></div>
                <div class='row'><select class="form-control" name="no_of_people" required>
                    <option value="">How many passengers?</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="More">More</option>
                </select></div>
                <div class='row'><input type="submit" class="btn btn-primary btn-xl rounded-pill mt-5" value="Get a Quote"/></div>
            </form>

        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>



    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Designed & Developed By <a target='_blank' href='<?=$this->restaurant->getWebsiteFooterLink();?>'><?=$this->restaurant->getWebsiteFooterLinkText();?></a>
        </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="<?=$this->baseUrl('/tr/themes/mo/taxi-booking/vendor/jquery/jquery.min.js');?>"></script>
    <script src="<?=$this->baseUrl('/tr/themes/mo/taxi-booking/vendor/bootstrap/js/bootstrap.bundle.min.js');?>"></script>


