	<div class="main-content home col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
		<div class="slider-area col-md-12">
			<?php 
				$album = $this->restaurant->getDefaultPhotoAlbum(); 
				if (is_object($album)&& $album->getPhotos()) {
					echo '<section class="slider_area">';
						echo '<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">';
						echo '<ol class="carousel-indicators">';    
						$i = 0;
						foreach ($album->getPhotos()->getItems() as $photo) {
							echo "<li data-target='#carousel-example-generic' data-slide-to='$i' class=active'></li>";
							$i++;
						}
						echo '</ol>';

						$i = 0;
						echo '<div class="carousel-inner" role="listbox">';
						foreach ($album->getPhotos()->getItems() as $photo) {
							$active = ($i == 0 ? "active" : "");
							echo "<div class='item $active'>";
								echo "<img src='{$photo->getImageUrl()}' alt='banner'>";
								echo '<div class="carousel-caption">';
									echo ($album->getTitle() ? '<h2>'. $album->getTitle() .'</h2>' : '');
									echo ($photo->getCaption() ? '<p>'. $photo->getCaption() .'</p>' : '');
								echo '</div>';
							echo '</div>';
							$i++;
						}
						echo '</div>'; ?>

						  <!-- Controls -->
						  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						  </a>
						  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						  </a>
						</div>
					</section>

				<?php } ?>
		</div>
		
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs">
            <?php echo $this->restaurant->getThemeViewHelpers()->printOOFrame($this->restaurant) ?>
        </div>
        
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs">
		<?php
			$page = $this->restaurant->getPage('home');
			echo $this->restaurant->getThemeViewHelpers()->printPageDetails($page);
		?>
		</div>
		
		<div class="home-offers col-md-12">
			<?php
			  $specialOffers = $this->restaurant->getOffers();
			  echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant, 'home');
			?>
		</div>
		
		<div class="home-menu col-md-12">
			 <?php
			 $menu = $this->restaurant->getMenu();
			 $categories = $menu->getNormalCategories();
			 
			 if (!empty($categories)) {
				$menu_limit = 1;
				foreach($categories->getItems() as $category) {
					if ( $menu_limit <= 3 ) {
					if ( $category->getImage() ) {
						$imageSrc = $category->getImage()->getThumbnailUrl();
					}else{
						$imageSrc = $this->baseUrl('/tr/themes/ch/theme8/img/'.$menu_limit.'.jpg');
					}
			?>
				 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 single-item">
					<div class="panel">
					   <div class="panel-heading">
						  <?=$category->getName();?>
					   </div>
					   <div class="panel-body">
						  <img class="hidden-xs hidden-sm" src="<?=$imageSrc?>" alt="" class=""/>
						  <p class="text-justify hidden-xs"><?=substr($category->getDescription(),0,200);?></p>
						  <?php
							 echo "<ul class='list-group'>";
							 $foodItemLimit = 0;
							 foreach($category->getFoodItems()->getItems() as $foodItem) {
								$foodItemLimit += 1;
								echo ( $foodItemLimit < 4 ? "<li class='list-group-item'>{$foodItem->getName()} - {$this->restaurant->getCurrencySymbol()}{$foodItem->getPrice()}</li>" : "" );
							 }
							 echo "</ul>";
						  ?> 
						  <a href="<?=$this->restaurant->getUrl('menu');?>" class="btn btn-default">See All Items</a>
					   </div>
					</div>
				 </div>
			 <?php
				} 
				$menu_limit++;
				}
			   }else{
				   echo $this->restaurant->getThemeViewHelpers()->alert('Sorry no menu item published.');
			   }
			 ?>
		</div>
	</div>
