	<div class="main-content clearfix">
		<div class="left-content reviews col-md-8">
			<?php
				$pageInfo = $this->restaurant->getPage('about');
				echo $this->restaurant->getThemeViewHelpers()->printPageInfo($pageInfo);
			?>
			<div class="single-menu-item videos-page padding-0-0-20 margin-0-auto-20">
				<div class="clearfix">                    
				 <?php
					  $address = $this->restaurant->getAddress();
					  echo $address->getGoogleMap(
						array(
						'width' => '100%',
						'height' => '600'
						)
					  );
				 ?>
				</div> 
			</div>
		</div>