<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <?php echo $this->headTitle() ?>
      <?php echo $this->headMeta();?>
      <?php echo $this->headScript();?>
      <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="shortcut icon" type="image/x-icon" href="<?=$this->baseUrl('favicon.ico')?>" />
	  <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/font-awesome.min.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/slicknav.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/normalize.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/jquery.fancybox.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/bootstrap.min.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/themes/ch/theme7/style.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/themes/ch/theme7/responsive.css');?>">
	  <script src="<?=$this->baseUrl('/tr/vendor/js/vendor/modernizr-2.6.2.min.js');?>"></script>
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
      <?php echo $this->headLink() ?>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
      
	  <div class="col-md-10 col-md-offset-1 web-wrapper">
		<div class="header clearfix">
			<div class="col-md-5 col-sm-6 logo">
                <?php 
                if ($this->restaurant->getLogoImageId()) {
                    echo $this->restaurant->getLogo('', null);
                } else {
                    echo "<h1 class='clearfix'>";
					echo "<a href='{$this->restaurant->getUrl('home')}' class='pull-right'>{$this->restaurant->getName()}</a>";
                    echo "</h1>";
                } ?>
			</div>
			<div class="col-md-7 col-sm-6 restaurant-name clearfix">
				<h3 class="phone-number text-right">
					<span class="phone">
						<?php if ($this->restaurant->getPhoneTakeaway()) { ?>
							<a href="tel:<?=$this->restaurant->getPhoneTakeaway();?>"><i class="fa fa-mobile-phone"></i> 
                            <?=$this->restaurant->getPhoneTakeaway();?></a>
						<?php } ?>
                </h3>
                <h3 class="phone-number text-right">
                        <?php if ($this->restaurant->getPhoneReservation()) { ?>
							<a href="tel:<?=$this->restaurant->getPhoneReservation();?>"><i class="fa fa-mobile-phone"></i> 
                            <?=$this->restaurant->getPhoneReservation();?></a>
						<?php } ?>
					</span>
				</h3>
			</div>
		</div>
		
		<div class="menu">
			<ul id="nav" class="list-unstyled text-center">
				 <li><a href="<?=$this->restaurant->getUrl('home')?>">Home</a></li>
				 <li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
				 <?=( $this->restaurant->getShowPageReviews() ?
					"<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a></li>" : ""
				 )?>
				 <?=( $this->restaurant->getShowPageVideos() ?
					"<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a></li>" : ""
				 )?>
				 <?=( $this->restaurant->getShowPagePhotos() ?
					"<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a></li>" : ""
				 )?>
				 <?=( $this->restaurant->getShowPageOffers() ?
					"<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a></li>" : ""
				 )?>
				 <?=( $this->restaurant->getShowPageAbout() ?
					"<li><a href='{$this->restaurant->getUrl('about')}'>About</a></li>" : ""
				 )?>
			</ul>
		</div>
      <?php echo $this->layout()->content; ?>
			<div class="right-content col-md-4">
				<div class="our-address text-center" itemscope itemtype="http://schema.org/PostalAddress">
					<?php
					   $address = $this->restaurant->getAddress();  
					   if ( $address->getCountry() ) {
						  echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddress($this->restaurant->getAddress());
					   }else{
						  echo $this->restaurant->getThemeViewHelpers()->alert('Sorry no address provided.');
					   }
					?>
                    <hr/>
				</div>
                
				<div class="socials text-center">
					<ul class="list-unstyled text-center">
						<li><a href="http://www.facebook.com/sharer.php?u=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-facebook"></i></a></li>
						<li><a href="http://twitter.com/share?text=<?=$this->restaurant->getName()?>&url=<?=$_SERVER['HTTP_HOST'];?>"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://plus.google.com/share?url=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-google-plus"></i></a></li>
					</ul>
                    <hr/>
				</div>
                
                <?php if ($this->restaurant->getDescription()) { ?>
				<div class="about-us text-center hidden-sm hidden-xs">
					<?=$this->restaurant->getDescription()?>
                    <hr/>
				</div>
                <?php } ?>
                
				<div class="page-fb hidden-sm hidden-xs">
					<?=$this->restaurant->getSocial()->getFacebookLikeBox()?>
                    <hr/>
				</div>
                
                <?php 
                $times = $this->restaurant->getTimes();
                if ( $times->getItems() ) { 
                ?>
				<div class="restaurant-time text-center hidden-sm hidden-xs">
					<p class="ttl"><b>Lunch Hours</b></p>
                    <p class="">
                        <?php
                            foreach ( $times->getItems() as $time ) { 
                        ?>
                        <span><?php echo $time->getDays().' : '.$time->getLunchStart().' - '.$time->getLunchEnd();?></span>
                        <?php } ?>
                    </p>
                    
                    <p class="ttl"><b>Diner Hours</b></p>
                    <p class="">
                        <?php foreach ( $times->getItems() as $time ) { ?>
                        <span><?php echo $time->getDays().' : '.$time->getDinerStart().' - '.$time->getDinerEnd();?></span>
                        <?php } ?>
                    </p>
                    
                    <p class="ttl"><b>Delivery Hours</b></p>
                    <p class="">
                        <?php foreach ( $times->getItems() as $time ) { ?>
                        <span><?php echo $time->getDays().' : '.$time->getDeliveryStart().' - '.$time->getDeliveryEnd();?></span>
                        <?php } ?>
                    </p>
				</div>
                <?php } ?>
			</div>
		</div>
		<div class="footer text-center">
			<p><?=$this->restaurant->getWebsitePoweredByText();?> ; Designed & Developed By 
                <a target='_blank' href='<?=$this->restaurant->getWebsiteFooterLink();?>'><?=$this->restaurant->getWebsiteFooterLinkText();?></a><br/>
				<small><?=$this->restaurant->getSubUnsubLink();?></small>
            </p>
		</div>
      </div>
        
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="vendor/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
		<script src="<?=$this->baseUrl('/tr/vendor/js/bootstrap.min.js');?>"></script>
		<script src="<?php echo $this->baseUrl('/tr/vendor/js/plugins.js');?>"></script>
      <script src="<?=$this->baseUrl('/tr/vendor/js/jquery.fancybox.pack.js')?>"></script>
      <script src="<?=$this->baseUrl('/tr/themes/ch/theme7/theme.js')?>"></script>
   </body>
</html>