	<div class="main-content clearfix">
		<div class="left-content videos col-md-8">
			<?php
                $albums = $this->restaurant->getAlbums();
                $page = $this->restaurant->getPage('photos');
                $sAlbums = $sPhotos = null;
                $pageInfo = $this->restaurant->getPage('photos');
				echo $this->restaurant->getThemeViewHelpers()->printPageInfo($pageInfo);
			?>
            
		    <div class="single-menu-item videos-page padding-0-0-20 margin-0-auto-20">                  
			  
				  <?php
				  if ( !$albums->getTotal() ) {
						echo $this->restaurant->getThemeViewHelpers()->alert('No published photo albums found.', 'alert alert-info');
				  }else{
				  		$index = 0;
				  		foreach ($albums->getItems() as $album ) { 
							 $albumTitle = $album->getTitle();
							 $albumDesc = $album->getDescription();
							 $albumThumbUrl = $album->getThumbnailUrl();                        
							 $albumSlideshowUrl = $this->restaurant->getUrl('photos', 'index', array('album_id' => $album->getId()));
                             
							 if ( $index == 0 && !isset($_GET['album_id'])) {
							 	$sPhotos .= "<div class='first-album-photos'>";
									foreach($album->getPhotos()->getItems() as $photo) {
										$sPhotos .= "<a class='fancybox' href='{$photo->getImageUrl()}' alt='{$photo->getCaption()}' rel='group'>";
										$sPhotos .= "<img src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}'/>";
										$sPhotos .= "</a>";
									}
							 	$sPhotos .= "</div>";
							 } else {							 
							 	$sAlbums .= "<div class='sng_photo'>";
								$sAlbums .= "<h3>$albumTitle</h3>";
                                $sAlbums .= "<a href='$albumSlideshowUrl' title='$albumTitle'>";
                                    $sAlbums .= "<img src='$albumThumbUrl' class='img-responsive img-thumbnail' alt='$albumTitle'>";
                                $sAlbums .= "</a>";
                                $sAlbums .= "<div class='clearfix'></div>";
                                $sAlbums .= "<p>$albumDesc</p>";
							 	$sAlbums .= "</div><div class='clearfix'></div>";
							 }
							 
							 if (isset($_GET['album_id']) && $album->getId() == $_GET['album_id']) {
								  foreach($album->getPhotos()->getItems() as $photo) { 
										$sPhotos .= "<a class='fancybox' href='{$photo->getImageUrl()}' alt='{$photo->getCaption()}' rel='group'>";
                                        $sPhotos .= "<img src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}'/>";
										$sPhotos .= "</a>";
								  }
							 }
							 
							 $index++;
						 }
					} ?>
                    
                <div class="all_videos all_photos clearfix">
                    <?php if ($sPhotos) { ?> 
                        <div id='album-photos <?=$_GET['album_id']?>'>
                            <?php echo $sPhotos; ?>
                        </div>
                    <?php } ?>
                    <div class='clearfix'></div>
                    <?php if ($sAlbums) { ?> 
                        <div id='album-photos <?=$_GET['album_id']?>' class='padding-25-0'>
                        <?php echo $sAlbums; ?>
                        </div>
                    <?php } ?>
                    
				</div>
                
			</div>
		</div>