@media only screen and (min-width: 992px) and (max-width: 1199px) {


}



@media only screen and (min-width: 768px) and (max-width: 991px) {
div.web-wrapper {
  margin: 50px 15px;
}
div.right-content {
  margin-top: 50px;
}
}





@media only screen and (max-width: 767px) {
.slicknav_menu {
  background: #3399ff none repeat scroll 0 0;
  display: block !important;
}
.slicknav_menu a {
  font-size: 18px;
}
div.logo, div.restaurant-name{
	width: 100%;
}
div.logo a img{
	display: block;
	margin: 0 auto;
}
div.header h1 {
  font-size: 65px;
  line-height: 55px;
  margin: 0 auto;
}
div.header div.restaurant-name h1, div.header div.restaurant-name h1 a, div.header div.restaurant-name p.phone-number {
  float: none !important;
  text-align: center;
}
div.menu {
  display: none !important;
}
div.web-wrapper {
  margin: 50px 15px;
}
div.right-content {
  margin-top: 50px;
}
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
div.single-video {
  text-align: center;
}


}


@media only screen and (max-width: 479px) {

form#review dl.zend_form dd#captcha-element pre {
  font-size: 8px;
}

form#review dl.zend_form dd#email-element input, form#review dl.zend_form dd#name-element input {
  max-width: 100%;
}

div.logo h2 {
  font-size: 45px;
}
div.logo p.slogan {
  font-size: 20px;
}
div.header h1 {
  font-size: 55px;
}

div.reviews div.single-review div.review-details div.title-price span.author-name {
  padding-right: 0;
}
div.reviews div.single-review div.review-details div.title-price span.author-name p, div.reviews div.single-review div.review-details div.title-price span.publish-date, div.reviews div.single-review div.review-details div.title-price span.stars {
    display: block;
    float: none !important;
    text-align: center;
}
div.reviews div.single-review div.user-thumb {
    float: none !important;
    padding: 0;
}
div.reviews div.single-review div.user-thumb img {
    display: block;
    margin: 0 auto 15px;
}
div.reviews div.single-review div.review-details div.title-price span.review-details {
    text-align: center;
}
div.single-video {
  text-align: center;
}
div.sng_photo {
  margin-bottom: 25px;
}

}


