@import url(http://fonts.googleapis.com/css?family=Pinyon+Script);
@import url(http://fonts.googleapis.com/css?family=Linden+Hill:400,400italic);
body {
	font-family: verdana;
   background: rgba(0, 0, 0, 0) url("img/footer_lodyas.png") repeat fixed 0 0;
}

a{
	transition: all .4s ease-in-out 0s;
}


/* Header styles */

div.slicknav_menu {
  display: none;
}

div.web-wrapper {
  background: #fff none repeat scroll 0 0;
  border: 4px solid #D8D8D8;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 0;
}

div.header h1 {
	font-family: "Pinyon Script",cursive;
	font-size: 92px;
	line-height: 85px;
	margin: 15px auto 0;
}

div.header h1 a {
  color: #223242;
}

div.header h1 a:hover {
  text-decoration: none;
}
div.logo {
    margin: 15px auto;
}
div.restaurant-name p.phone-number {
    font-size: 20px;
}
div.restaurant-name p.phone-number span.phone a {
    color: #223242;
}


div.menu {
   background: #3399ff none repeat scroll 0 0;
   padding: 20px;
	margin-bottom: 30px;
}

ul#nav {
   margin: 0;
}

ul#nav li {
   display: inline-block;
}

ul#nav li a {
color: #fff;
display: block;
font-size: 16px;
padding: 6px 15px;
}

ul#nav li a:hover {
   text-decoration: none;
}

div.main-content div.carousel-inner div.active {
  overflow: hidden;
}
div.carousel div.carousel-inner div.item img {
  max-height: 350px;
}
div.carousel div.carousel-inner div.item div.carousel-caption {
  font-size: 16px;
}
div.home-offer{
	margin-top: 10px;
}

div.home-offer h2.title {
  padding-left: 15px;
}

div.menus {
  margin: 40px auto;
}
div.menus div.single-item div.panel-heading {
  background: #ddd none repeat scroll 0 0;
  color: #000;
  font-size: 16px;
}
div.main-content div.menus div.single-item p, div.main-content div.menus div.single-item {
  font-size: 16px;
}

/* menus page styles */

div.menus div.single-menu-item div.menu-details {
    font-size: 16px;
}
div.menus div.single-menu-item div.menu-details div.title-price span p {
background: #ddd none repeat scroll 0 0;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
font-size: 20px;
font-weight: bold;
padding: 10px;
}
div.menus div.single-menu-item {
    margin-bottom: 50px;
}
div.menus div.single-menu-item ul.list-group li, div.sng_off_out div.sng_off {
  font-size: 16px;
}
div.menus div.single-menu-item ul.list-group li span.description {
  display: block;
}
div.sng_off_out div.sng_off p.ttl, div.sng_off_out div.sng_off ul li span.price, div.sng_off_out div.sng_off ul li span.priceCurrency {
  font-family: verdana;
  font-size: 20px;
}
div.classic-categories div.title-price img {
  margin-bottom: 10px;
}
div.menus div.single-menu-item a.back-to-top {
  float: right;
  text-align: right;
  font-size: 16px;
}
div.single-menu-item ul.list-group, div.single-menu-item table {
  margin-bottom: 5px;
}

/* Reviews styles */

div.reviews div.single-review {
    margin-bottom: 30px;
}

div.reviews div.single-review div.user-thumb {
    padding-right: 20px;
}

div.reviews div.single-review div.review-details div.title-price span.author-name {
    font-weight: bold;
    padding-right: 10px;
}

div.reviews div.single-review div.review-details div.title-price span.publish-date {
    color: #555;
    font-style: italic;
}

div.reviews div.single-review div.review-details div.title-price span.review-details {
    display: block;
    margin-top: 10px;
}

div.reviews div.single-review div.review-details div.title-price {
    font-size: 16px;
}
div.reviews-form-area form input.btn {
  margin-top: 10px;
}

/* photos page style */

div.first-album-photos {
  margin: 15px auto 50px;
}

/* videos page style */

.single-video-area div.single-video {
  margin-bottom: 55px;
}
.single-video-area div.single-video h4 {
  font-size: 20px;
}

/* photos page styles */

div.all_photos div.sng_photo a div {
  font-size: 16px;
  margin: 5px auto;
}


/* Right sidebar styles */

div.right-content div.our-address h2.name, div.right-content div.about-us h2.name {
font-size: 20px;
font-weight: bold;
margin: 0;
}
div.right-content div.about-us p span {
  font-size: 16px;
}

div.right-content div.our-address h3 {
font-size: 16px;
line-height: 28px;
margin-bottom: 0;
margin-top: 10px;
}
div.right-content div.our-address h3:last-child {
    margin-top: 0;
}

div.right-content div.socials {
    margin: 15px auto;
}

div.right-content div.socials li {
    display: inline-block;
}

div.right-content div.socials li a {
    color: #fff;
    display: block;
    font-size: 16px;
}

div.right-content div.socials li a i.fa-facebook {
    padding: 5px 10px;
}

div.right-content div.socials li a i.fa-facebook {
    background: #3b589f none repeat scroll 0 0;
}

div.right-content div.socials li a i.fa-twitter {
    background: #00abec none repeat scroll 0 0;
}

div.right-content div.socials li a i.fa-google-plus {
    background: #d32e1b none repeat scroll 0 0;
}

div.right-content div.socials li a i {
    padding: 5px;
	 transition: all .4s ease-in-out 0s;
}

div.right-content div.socials li a i:hover {
   opacity: .8
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
	width: 100% !important;
}
div.right-content div.restaurant-time {
    margin: 20px auto;
}
div.right-content div.restaurant-time p span {
  font-size: 16px;
}
div.right-content div.restaurant-time p b {
  font-size: 16px;
}
div.right-content div.restaurant-time p.ttl {
background: #ddd none repeat scroll 0 0;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
padding: 5px;
}
div.right-content div.restaurant-time p:not(.ttl) {
    margin-bottom: 25px;
}


/* footer styles */
div.footer {
	border-top: 1px solid #ccc;
	margin: 30px auto 10px;
	padding-top: 15px;
}
div.footer p {
  font-size: 16px;
}


div.page-info {
    font-size: 16px;
    margin: 0 auto 40px;
}
div.page-info h1 {
    margin: 0 auto 15px;
}
