
header.header_area, .footer_bottom, div.menus div.panel div.panel-heading {
  background: none repeat scroll 0 0 @background_color;
}

header.header_area {
  border-bottom: 3px solid @font_color;
}

div.logo, div.logo a, div.header div.logo h4 small, div.mainmenu ul#nav li a, div.socials ul li a, div.single_menu div.panel div.panel-heading, div.single_menu div.panel div.panel-body a.btn:hover, .footer_area div.col-md-7 p.text-center, .footer_area div.col-md-7 table, .footer_area div.col-md-5 p.text-center, .footer_area div.col-md-5 table, div.footer_txt p,  div.menus div.panel h4 a {
   color: @font_color;
}

div.sng_off p.ttl b {
  border-bottom: 1px solid @background_color;
}

a.more:hover {
  background: none repeat scroll 0 0 @background_color;
}

div.single_menu div.panel, div.menus div.panel-default{
   border-color: @background_color;
}

div.single_menu div.panel div.panel-heading{
   background: none repeat scroll 0 0 @background_color;
   border-color: @background_color;
}

div.single_menu div.panel div.panel-body a.btn:hover{
   background: none repeat scroll 0 0 @background_color;
   border-color: @background_color;
}

section.contact_area {
  border-bottom: 4px solid @background_color;
  border-top: 4px solid @background_color;
}

div.contact_info h2 {
  border-bottom: 1px dashed @background_color;
  color: @background_color;
}

.footer_area {
  background: none repeat scroll 0 0 @background_color;
}

.widget h4 {
  border-bottom: 1px solid @background_color;
}