<div class="header-area background-image clearfix">
   <div class="socials col-md-12">
      <ul class="list-unstyled text-right">
      	 <li><a href="http://www.facebook.com/sharer.php?u=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-facebook"></i></a></li>
         <li><a href="/share?text=<?=$this->restaurant->getName()?>&url=<?=$_SERVER['HTTP_HOST'];?>"><i class="fa fa-twitter"></i></a></li>
         <li><a href="https://plus.google.com/share?url=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-google-plus"></i></a></li>
      </ul>
   </div>
   
   <div class="logo col-md-12 color-fff text-center text-shadow">
      <?php if ($this->restaurant->getLogoImageId()) { 
        echo $this->restaurant->getLogo();
      } else { ?>
         <h2 class=""><i class="fa fa-cutlery"></i> <?=( $this->restaurant->getName() )?></h2>
      <?php } ?>
      <h4 class=""><?=( $this->restaurant->getSlogan() ? $this->restaurant->getSlogan() : 'Your slogan here')?></h4>
      <?php if ($this->restaurant->getPhoneTakeaway()) { ?>
         <h3 class=""><a href="tel:<?=$this->restaurant->getPhoneTakeaway();?>"><i class="fa fa-phone"></i> <?=$this->restaurant->getPhoneTakeaway();?></a></h3>
      <?php } ?>
      <?php if ($this->restaurant->getPhoneReservation()) { ?>
         <h3 class=""><a href="tel:<?=$this->restaurant->getPhoneReservation();?>"><i class="fa fa-phone"></i> <?=$this->restaurant->getPhoneReservation();?></a></h3>
      <?php } 
      if ( $this->restaurant->getAddress()->getCountry() ) {
         echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddressInOneLine($this->restaurant) . "<br/>";
      }
      ?>
   </div>
   
   <div class="menu col-md-12">
      <ul id="nav" class="list-unstyled text-center">
         <li><a href="<?=$this->restaurant->getUrl('home');?>">Home</a></li>
         <li><a href="<?=$this->restaurant->getUrl('menu');?>">Menu</a></li>
         
         <?=( $this->restaurant->getShowPageReviews() ?
            "<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPageVideos() ?
            "<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPagePhotos() ?
            "<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPageOffers() ?
            "<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a></li>" : ""
         )?>
      </ul>
   </div>
   <div class="clearfix"></div>
   
   
<?php if ($this->restaurant->getDescription()) { ?> 
<div class="container">
   <div class="text-center padding-50-0 clearfix" style='font-size: 22px;'>
      <?php echo $this->restaurant->getDescription(); ?>
   </div>    
</div>
<?php } ?>

   <div class="slogan text-center col-md-10 col-md-offset-1 well color-fff clearfix">
      <?php
        $categories = $this->restaurant->getMenu()->getNormalCategories();
        $count = 1;
        if ( !empty( $categories ) ) {
        foreach ( $categories->getItems() as $category ) {
        if ( $count <= 4 ) {
        $count++;
        $menuDescription = $category->getDescription();
        echo "<div class='col-md-3 col-sm-6 col-xs-12 single-service' itemscope itemtype='http://schema.org/Product'>";
        echo "<meta itemprop='brand' content='{$category->getName()}' />";
        echo "<p class='title' itemprop='name'><strong>{$category->getName()}</strong></p>";
        if ( $menuDescription ) {
           echo "<p class='description' itemprop='description'>". $this->restaurant->getThemeViewHelpers()->limitWords($menuDescription, 12) ."</p>";
        }
        ?>
            
            <ul class="list-group home-menu-item">
            <?php
                $show_menu_item = 1;
                $currency = $this->restaurant->getCurrencySymbol();
                foreach ( $category->getFoodItems()->getItems() as $foodItem ) {
                    if ( $show_menu_item <= 3 ) {
                    $show_menu_item++;
            ?>
            <li class="list-group-item" itemscope itemtype="http://schema.org/Product">
                <meta itemprop="brand" content="<?=$category->getName()?>" />
                <span itemprop="name"><?=$foodItem->getName()?></span> - 
                <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <meta itemprop="priceCurrency" content="<?=$this->restaurant->getWebsiteCurrency()?>" />
                    <?=$currency?><span itemprop="price"><?=$foodItem->getPrice()?></span>
                </span>
                <?php
                    if ($foodItem->getDescription()) {
                        echo "<span itemprop='description'>{$foodItem->getDescription()}</span>";
                    }
                ?>
            </li>
            <?php   
                } }
            ?>
          </ul>
            <a class="btn btn-warning" href="<?=$this->restaurant->getUrl('menu')?>">View all</a>
        <?php	
        echo "</div>";
        }
        }
        }else{
        echo $this->restaurant->getThemeViewHelpers()->alert('No published menu item found.');
        }
    ?>
   </div>
</div>


<?php 
$offers = $this->restaurant->getOffers();
if ($offers->getTotal() > 0) { 
?>
<div class="container text-center ">
   <div class="featured-area ">
      <?php
          
          echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($offers, $this->restaurant, 'home');
       ?>
   </div>    
</div>
<?php } ?>


<?php
	$page = $this->restaurant->getPage('home');
    echo $this->restaurant->getThemeViewHelpers()->printPageInfo($page);
?>


<?php 
$reviews = $this->restaurant->getReviews();
if ($reviews->getTotal()) { 
?>
<div class="background-image padding-50-0">
	<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 container ">
      <?php foreach ( $reviews->getItems() as $review ) { ?>
      <div class="col-md-3 col-sm-6 col-xs-12 single-footer">
         <h3><?php echo $review->getCustomer()->getName(); ?>
            <?php
               $count = $review->getRating();
               for ($i=1; $i<=5; $i++) {
                  $class = 'fa fa-star-o';
                  if ($i <= $count) {
                     $class = 'fa fa-star';
                  }
                  echo '<i class="'.$class.'"></i>';
               }
            ?>
            <span class="review-time">
               <?php echo $review->getTs('d F Y');?>
            </span>
         </h3>
         <p><?php echo $review->getText();?></p>
      </div>
      <?php } ?>
	</div>
</div>
<?php } ?>