@media only screen and (min-width: 992px) and (max-width: 1199px) {


}



@media only screen and (min-width: 768px) and (max-width: 991px) {

div.single-service {
  margin-bottom: 50px;
}
div.videos-page div.sing_vid {
  margin-bottom: 30px;
}
div.videos-page {
  margin-bottom: 0;
  padding-bottom: 0;
}

}





@media only screen and (max-width: 767px) {
.slicknav_menu{
	display: block !important;
}
div.menu {
  display: none !important;
}
div.single-service {
  margin-bottom: 50px;
}
div.our-menu {
  padding-left: 15px;
  padding-right: 15px;
}
div.videos-page div.sing_vid {
  margin-bottom: 30px;
}
div.videos-page {
  margin-bottom: 0;
  padding-bottom: 0;
}

}


@media only screen and (min-width: 480px) and (max-width: 767px) {



}


@media only screen and (max-width: 479px) {

form#review dl.zend_form dd#captcha-element pre {
  font-size: 8px;
}

form#review dl.zend_form dd#email-element input, form#review dl.zend_form dd#name-element input {
  max-width: 100%;
}

div.single-featured img {
  height: 200px;
  width: 200px;
}
div.reviews div.single-menu-item div.menu-thumb, div.reviews div.single-menu-item div.review-details, div.reviews div.single-menu-item div.review-details span p, div.reviews div.single-menu-item div.review-details p.price {
  padding: 0;
  text-align: center;
  width: 100%;
  float: none !important;
}

}


