<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <?php echo $this->headMeta();?>
      <?php echo $this->headScript();?>
	  <link rel="shortcut icon" type="image/x-icon" href="<?=$this->baseUrl('favicon.ico');?>" />
	  <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/font-awesome.min.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/slicknav.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/normalize.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/jquery.fancybox.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/bootstrap.min.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/themes/monir/chertsey/style.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/themes/monir/chertsey/responsive.css');?>">
      <script src="<?=$this->baseUrl('/tr/vendor/js/vendor/modernizr-2.6.2.min.js');?>"></script>
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <?php echo $this->headLink() ?>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="col-md-offset-1 col-md-10">
            <div id='wrap'> 
                <div id="main">
                    <div class="header-area clearfix">
                        <div class="branding">
                            <div class="logo col-md-7 pull-left"><a href="<?=$this->restaurant->getUrl('home')?>"><img src="<?=$this->baseUrl('/tr/themes/monir/chertsey/img/logo.png')?>" alt="" /></a></div>
                            <div class="top-address col-md-5 theme_color text-right">
                                <?php
                                    if ($this->restaurant->getPhoneTakeaway()) {
                                        echo "<a href='tel:{$this->restaurant->getPhoneTakeaway()}'><i class='fa fa-mobile-phone'></i> {$this->restaurant->getPhoneTakeaway()}</a>";
                                    }
									if ($this->restaurant->getPhoneReservation()) {
                                        echo " <span class='slash'>/</span> <a href='tel:{$this->restaurant->getPhoneReservation()}'> {$this->restaurant->getPhoneReservation()}</a>";
                                    }
                                    if ( $this->restaurant->getAddress()->getCountry() ) {
                                       echo "<span class='address'>".$this->restaurant->getThemeViewHelpers()->prettyPrintAddressInOneLine($this->restaurant)."</span>";
                                    }
                                ?>
                            </div>
                        </div>
                    </div>
                    <?php echo $this->layout()->content; ?>
                </div>
            </div>
        </div>
		
		<div class="col-md-12 footer">
			<div class="copyright col-md-6 col-sm-6">
				<p><?=$this->restaurant->getWebsitePoweredByText();?></p>
			</div>
			<div class="developer-info col-md-6 col-sm-6 text-right">
				<p>Designed & Developed By 
					<a target='_blank' href='<?=$this->restaurant->getWebsiteFooterLink();?>'><?=$this->restaurant->getWebsiteFooterLinkText();?></a>
				</p>
			</div>
		</div>
		
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="vendor/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
		<script src="<?=$this->baseUrl('/tr/vendor/js/bootstrap.min.js');?>"></script>
      <script src="<?=$this->baseUrl('/tr/vendor/js/plugins.js');?>"></script>
      <script src="<?=$this->baseUrl('/tr/vendor/js/jquery.fancybox.pack.js')?>"></script>
      <script src="<?=$this->baseUrl('/tr/vendor/js/main.js');?>"></script>
      <script src="<?=$this->baseUrl('/tr/themes/monir/chertsey/theme.js');?>"></script>
      <script src="<?=$this->baseUrl('/tr/themes/monir/chertsey/theme.js');?>"></script>
   </body>
</html>