      <div class=" menu-page-area color-fff text-center padding-0-0-25">
      <?php
           $page = $this->restaurant->getPage('about');
       ?>
       <?=($page->title ? '<h1>'.$page->title.'</h1>' : '');?>
       <?=($page->description ? $page->description : '');?>
   </div>
