       <div class="">
		    <div class='color-pink'>
                <div class='text-center'>
                    <?php echo $this->restaurant->getThemeViewHelpers()->printReservationButtonFrame($this->restaurant); ?>
                </div>
                <div class=''><br/>
				<?php echo $this->restaurant->getDescription(); ?>
                </div>
			</div>

            <?php if ($this->restaurant->getTimes()->getTotal()) { ?>
		   <div class='clearfix mid-content color-pink hidden-sm hidden-xs'>
		   <table class="table table-condensed no_border">
            <tr>
               <td>Day</td>
               <td>Lunch</td>
               <td>Dinner</td>
               <td>Delivery</td>
            </tr>
            <?php
               foreach ( $this->restaurant->getTimes()->getItems() as $time ) {
            ?>
            <tr>
               <td><?=($time->getDays() ? $time->getDays() : '')?></td>
               <td><?=($time->getLunchStart() ? $time->getLunchStart() : '')?> - 
               <?=($time->getLunchEnd() ? $time->getLunchEnd() : '')?></td>
               <td><?=($time->getDinerStart() ? $time->getDinerStart() : '')?> - 
               <?=($time->getDinerEnd() ? $time->getDinerEnd() : '')?>
               </td>
               <td><?=($time->getDeliveryStart() ? $time->getDeliveryStart() : '')?> - 
               <?=($time->getDeliveryEnd() ? $time->getDeliveryEnd() : '')?>
               </td>
            </tr>
            <?php } ?>
         </table>
         </div>
        <?php } ?>

        <div class='clearfix mid-content'>
        <?php include_once('menu.phtml'); ?>
        </div>

		<?php if ($this->restaurant->getLogoImageId()) {$logoImage = $this->restaurant->getLogo(); ?>
		  <div class='logo hidden-sm hidden-xs'><?=$logoImage?></div>
        <?php } ?>

          <div class="all_photos clearfix mid-content hidden-sm hidden-xs text-center">
               <?php
                   $album = $this->restaurant->getDefaultPhotoAlbum();
                   $photos = $album->getPhotos();
                   foreach ( $photos->getItems() as $photo ) {
                      echo "<a class='fancybox' rel='group' href='{$photo->getImageUrl()}'>";
                      echo "<img class='img-thumbnail' src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}' /></a>";
                   }
                ?>
           </div>
 
       </div>


