<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <?php echo $this->headTitle() ?>
      <?php echo $this->headMeta();?>
	  <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->baseUrl('favicon.ico');?>" />
	  <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/font-awesome.min.css');?>">
      <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/slicknav.css');?>">
      <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/normalize.css');?>">
      <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/bootstrap.min.css');?>">
      <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/jquery.fancybox.css');?>">
      <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/themes/ch/theme4/style.css');?>">
      <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/themes/ch/theme4/responsive.css');?>">
      <script src="<?php echo $this->baseUrl('/tr/vendor/js/vendor/modernizr-2.6.2.min.js');?>"></script>
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
      <?php echo $this->headLink() ?>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="vendor/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
		<script src="<?php echo $this->baseUrl('/tr/vendor/js/bootstrap.min.js');?>"></script>
      <script src="<?php echo $this->baseUrl('/tr/vendor/js/plugins.js');?>"></script>
      <script src="<?php echo $this->baseUrl('/tr/vendor/js/main.js');?>"></script>
      <script src="<?php echo $this->baseUrl('/tr/vendor/js/jquery.fancybox.pack.js')?>"></script>
      <script src="<?php echo $this->baseUrl('/tr/themes/ch/theme4/theme.js');?>"></script> 
      <?php echo $this->headScript();?>
                </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
      <div id='wrap'>
        <div id="main" class="container clear-top">
<div class="home-body">
   <div class="container" style="width:100%">
       <div class="left-sidebar col-md-3">
          <h1><a class="color-pink text-shadow" href="<?=$this->restaurant->getUrl('home')?>"><?=$this->restaurant->getName()?></a></h1>
		  <?php echo $this->restaurant->getThemeViewHelpers()->printOOFrame($this->restaurant) ?>
		  <ul id="nav">
             <li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
             <?php 
                if ($this->restaurant->getShowPageReservation()) {
                    echo "<li><a href='{$this->restaurant->getUrl('reservation')}'>Reservations</a>";
                }
                if ($this->restaurant->getShowPageReviews()) {
                    echo "<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a>";
                }
                if ($this->restaurant->getShowPageVideos()) {
                    echo "<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a>";
                }
                if ($this->restaurant->getShowPagePhotos()) {
                    echo "<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a>";
                }
                if ($this->restaurant->getShowPageOffers()) {
                    echo "<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a>";
                }
                if ($this->restaurant->getShowPageAbout()) {
                    echo "<li><a href='{$this->restaurant->getUrl('about')}'>About</a>";
                }
             ?>
          </ul>
          <div class="clearfix"></div>
          
          <div class="socials">
            <ul>
            	<li><a href="http://www.facebook.com/sharer.php?u=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-facebook"></i></a></li>
				<li><a href="http://twitter.com/share?text=<?=$this->restaurant->getName()?>&url=<?=$_SERVER['HTTP_HOST'];?>"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://plus.google.com/share?url=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
          
          <div class="address">
            <p>
            <?php
               $address = $this->restaurant->getAddress();  
               if ( $address->getCountry() ) {
                  echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddressInOneLine($this->restaurant->getAddress());
               }else{
                  echo $this->restaurant->getThemeViewHelpers()->alert('Sorry no address provided.');
               }
            ?>
            </p>
          </div>
          <h4 class=''><a href="tel:<?=$this->restaurant->getPhoneTakeaway();?>">
          	<?php echo $this->restaurant->getPhoneTakeaway(); ?></a>
          </h4>

          <div class="">
            <?php
               $specialOffers = $this->restaurant->getOffers();
               echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant, 'home');
            ?>
          </div>

      </div>

      <div class='col-md-9'>
          <?php echo $this->layout()->content; ?>
      </div>

   </div>
</div>
        </div>
      </div>  
      <div class="footer-area">
        <div class="container footer padding-25-0" style="width:100%">
            <div class="copyright col-md-6 col-sm-6">
                <p><?=$this->restaurant->getWebsitePoweredByText();?><br/>
				<small><?=$this->restaurant->getSubUnsubLink();?></small>
				</p>
            </div>
            <div class="developer-info col-md-6 col-sm-6 text-right">
                <p>Designed & Developed By 
                    <a target='_blank' href='<?=$this->restaurant->getWebsiteFooterLink();?>'><?=$this->restaurant->getWebsiteFooterLinkText();?></a>
                </p>
            </div>
        </div>
      </div>
  </body>
</html>
