<?php $cb = $this->checkoutBasket($this->restaurant); ?>
       <!-- changes -->
       <div class=" menu-page-area text-center">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<?php 
				$currency = $this->restaurant->getCurrencySymbol();
				$spiceLevel = $this->restaurant->getThemeViewHelpers()->spiceLevel($this->restaurant);
				$recommendButton = $this->restaurant->getThemeViewHelpers()->recommendButton($this->user);
				$menu = $this->restaurant->getMenu();
				$id = 0;
				$categories = $menu->getCategories();

				if (!empty($categories)) {                     
					foreach($categories->getItems() as $category) {
                        if (!$category->isPublished()) continue;
                        $id++; 
                        if ($category->getType() == 'normal') {
					?>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading<?=$id;?>">
							<h4 class="panel-title">
							<a <?=( $id != 1 ? 'class="collapsed"' : '');?> data-toggle="collapse" data-parent="#accordion" href="#collapse<?=$id;?>" aria-expanded="<?=( $id == 1 ? 'true' : 'false');?>" aria-controls="collapse<?=$id;?>">
							<?=$category->getName();?>
							</a>
							</h4>
						</div>
						<div id="collapse<?=$id;?>" class="panel-collapse collapse<?=( $id == 1 ? ' in' : '');?>" role="tabpanel" aria-labelledby="heading<?=$id;?>">
							<div class="panel-body">
								<?php $categoryImageUrl = ($category->getImage() ? 
										$category->getImage()->getThumbnailUrl() : $this->baseUrl('/tr/themes/ch/theme1/img/fastfood.png')
									);
								?>
								<p class="text-justify hidden-xs"><?=$category->getDescription();?></p>
								<?php
								echo "<ul class='list-group'>";
									foreach($category->getFoodItems()->getItems() as $foodItem) {
										echo "<li class='list-group-item' itemscope itemtype='http://schema.org/Product'>";
										echo "<meta itemprop='brand' content='{$category->getName()}' />";
										echo "<span itemprop='name'><b>{$foodItem->getName()}</b></span> - ";
										echo "<span itemprop='offers' itemscope itemtype='http://schema.org/Offer'>";
											echo "<meta itemprop='priceCurrency' content='{$this->restaurant->getWebsiteCurrency()}' />";
											echo "<b>{$currency}</b><span itemprop='price'><b>{$foodItem->getPrice()}</b></span> ";
											echo "{$recommendButton->printButton($foodItem)}";
											echo $cb->printHtmlButton($foodItem);
										echo "</span>";
										echo "&ensp;".$spiceLevel->printImage($foodItem);
										if ($foodItem->getDescription()) {
											echo "<p itemprop='description' class='text-info'>{$foodItem->getDescription()}</p>";
										}
										echo "</li>";
									}
								echo "</ul>";
								?>
							</div>
						</div>
					</div>

                <?php } elseif ($category->getType() == 'classic') { 
					$content = ''; ?>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse<?=$category->getId()?>" aria-expanded="false" aria-controls="collapseClassic">
								<?=$category->getName();?>
							</a>
							</h4>
						</div>
						<div id="collapse<?=$category->getId()?>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<?php
									$content .= "<table class='table table-bordered '>";
									$content .= "<thead><tr><th>Item</th><th>Chicken</th>";
									if($category->getShowLambPrice()) $content .= "<th>Lamb</th>";
                                    if($category->getShowChickenLambTikkaPrice()) $content .= "<th>Chi/Lmb Tikka</th>";
                                    if($category->getShowChickenTikkaPrice()) $content .= "<th>Chicken Tikka</th>";
                                    if($category->getShowLambTikkaPrice()) $content .= "<th>Lamb Tikka</th>";
                                    if($category->getShowBeefPrice()) $content .= "<th>Beef</th>";
                                    if($category->getShowDuckPrice()) $content .= "<th>Duck</th>";
                                    if($category->getShowDuckTikkaPrice()) $content .= "<th>Duck Tikka</th>";
                                    if($category->getShowPrawnPrice()) $content .= "<th>Prawn</th>";
                                    if($category->getShowKingPrawnPrice()) $content .= "<th>King Prawn</th>";
                                    if($category->getShowTandooriKingPrawnPrice()) $content .= "<th>Tandoori King Prawn</th>";
                                    if($category->getShowVegetablePrice()) $content .= "<th>Vegetable</th>";
                                    if($category->getShowMixedPrice()) $content .= "<th>Mixed</th>";
									$content .= "</tr></thead>";
									$content .= "<tbody>";

									foreach($category->getFoodItems()->getItems() as $item) {
										$content .= "<tr>";
										//$level = \Ezy\Ezy::getSpiceLevelName($item->getSpiceLevel());                    
										$content .= "<td><b>{$item->getName()} </b> &ensp;{$spiceLevel->printImage($item)} <br/><p class='text-info'>{$item->getDescription()}</p></td>";
                                        
                                        ($item->getPrice() > 0 ?
										$content .= "<td>{$currency}{$item->getPrice()}</td>" : "");

										$content .= ($category->getShowLambPrice() && $item->getPriceLamb() > 0
                                        ?  "<td data-sub-type='lamb'>{$currency}{$item->getPriceLamb()}</td>" : "");
                                        $content .= ($category->getShowChickenLambTikkaPrice() && $item->getPriceChickenLambTikka() > 0
                                        ?  "<td data-sub-type='chicken_lamb_tikka'>{$currency}{$item->getPriceChickenLambTikka()}</td>" : "");
                                        $content .= ($category->getShowChickenTikkaPrice() && $item->getPriceChickenTikka() > 0
                                        ?  "<td data-sub-type='chicken_tikka'>{$currency}{$item->getPriceChickenTikka()}</td>" : "");
                                        $content .= ($category->getShowLambTikkaPrice() && $item->getPriceLambTikka() > 0
                                        ?  "<td data-sub-type='lamb_tikka'>{$currency}{$item->getPriceLambTikka()}</td>" : "");
										$content .= ($category->getShowBeefPrice() && $item->getPriceBeef() > 0
										?  "<td data-sub-type='beef'>{$currency}{$item->getPriceBeef()}</td>" : "");
										$content .= ($category->getShowDuckPrice() && $item->getPriceDuck() > 0
										?  "<td data-sub-type='duck'>{$currency}{$item->getPriceDuck()}</td>" : "");
										$content .= ($category->getShowDuckTikkaPrice() && $item->getPriceDuckTikka() > 0
										?  "<td data-sub-type='duck_tikka'>{$currency}{$item->getPriceDuckTikka()}</td>" : "");
										$content .= ($category->getShowPrawnPrice() && $item->getPricePrawn() > 0
										?  "<td data-sub-type='prawn'>{$currency}{$item->getPricePrawn()}</td>" : "");
										$content .= ($category->getShowKingPrawnPrice() && $item->getPriceKingPrawn() > 0
										?  "<td data-sub-type='king_prawn'>{$currency}{$item->getPriceKingPrawn()}</td>" : "");
										$content .= ($category->getShowTandooriKingPrawnPrice() && $item->getPriceTandooriKingPrawn() > 0
										?  "<td data-sub-type='tandoori_king_prawn'>{$currency}{$item->getPriceTandooriKingPrawn()}</td>" : "");
										$content .= ($category->getShowVegetablePrice() && $item->getPriceVegetable() > 0
										?  "<td data-sub-type='vegetable'>{$currency}{$item->getPriceVegetable()}</td>" : "");
										$content .= ($category->getShowMixedPrice() && $item->getPriceMixed() > 0
										?  "<td data-sub-type='mixed'>{$currency}{$item->getPriceMixed()}</td>" : "");
										$content .= "</tr>";
									}

									$content .= "</tbody></table>";
									echo $content;
								?>

							</div>
						</div>
					</div>
				<?php } ?>                    
				<?php } ?>                    
			<?php } ?>
			</div>
       </div>
    </div>   
</div>
