      <div class=" menu-page-area color-fff text-center clearfix padding-0-0-25">
      <?php
           $page = $this->restaurant->getPage('offers');
       ?>
       <?=($page->title ? '<h3 class="hidden-xs margin-0-auto-20">'.$page->title.'</h3>' : '');?>
       <?=($page->description ? $page->description : '');?>
       
       <?php
           $specialOffers = $this->restaurant->getOffers();
           echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
       ?>
   </div>
