      <div class=" menu-page-area color-fff text-center">
      <?php
         $sPhotos = null;
         $albums = $this->restaurant->getAlbums();
         $page = $this->restaurant->getPage('photos');
      ?>
      <?=($page->getTitle() ? '<h2 class="hidden-xs text-center text-shadow padding-0-0-25 margin-15-auto-0">'.$page->getTitle().'</h2>' : '');?>
      <?=($page->getDescription() ? '<h4 class="hidden-xs">'.$page->getDescription().'</h4>' : '');?>
      <div class="all_videos all_photos clearfix">
           <div>
           <?php
           if ( !$albums->getTotal() ) {
               echo $this->restaurant->getThemeViewHelpers()->alert('No published photo albums found.', 'alert alert-info');
           }else{
               foreach ($albums->getItems() as $album ) { 
                   $albumTitle = $album->getTitle();
                   $albumDesc = $album->getDescription();
                   $albumThumbUrl = $album->getThumbnailUrl();                        
                   $albumSlideshowUrl = $this->restaurant->getUrl('photos', 'index', array('album_id' => $album->getId()));

                    echo "<div class='col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center'>";
                    foreach($album->getPhotos()->getItems() as $photo) {                                
                        $sPhotos .= "<a class='fancybox' rel='group' href='{$photo->getImageUrl()}' title='{$photo->getCaption()}'>";
                            $sPhotos .= "<img class='sng_photo' src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}'/>";
                        $sPhotos .= "</a>";
                    }
                    echo "</div>";
                }
            } ?>
         </div>
       </div>
		   
		   <div id='links'>
			 <?php echo $sPhotos; ?>
		   </div>
       </div>
