html, body {
	font-family: verdana;
	height: 100%;
}
.background-image {
	background: rgba(0, 0, 0, 0) url('./img/mowchak.png') no-repeat fixed center center;
}

#wrap {
  min-height: 100%;
}
#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

a{
	transition: all .4s ease-in-out 0s;
}


/* Default styles */
.padding-0{
   padding: 0;
}
.padding-0-0-15{
   padding: 0 0 15px;
}
.padding-0-0-20{
   padding: 0 0 20px;
}
.padding-0-0-25{
   padding: 0 0 25px;
}
.padding-25-0{
   padding: 25px 0;
}
.padding-0-15-25{
   padding: 0 15px 25px;
}
.padding-0-0-50{
   padding: 0 0 50px;
}
.padding-50-0{
   padding: 50px 0;
}
.padding-100-0{
   padding: 100px 0;
}
.padding-150-0{
   padding: 150px 0;
}
.padding-200-0{
   padding: 200px 0;
}
.padding-0-0-150{
   padding: 0 0 150px;
}
.padding-top-90{
   padding: 90px !important;
}


.margin-0{
   margin: 0;
}
.margin-0-auto-20{
   margin: 0 auto 20px;
}
.margin-5-auto{
   margin: 5px auto;
}
.margin-10-auto{
   margin: 10px auto;
}
.margin-25-0{
   margin: 25px 0;
}
.margin-25-auto{
   margin: 25px auto;
}
.margin-15-auto-0{
   margin: 15px auto 0;
}
.margin-50-0{
   margin: 50px 0;
}
.margin-50-0-0{
   margin: 50px 0 0;
}
.margin-25-0-0{
   margin: 25px 0 0;
}
.margin-top-150{
   margin-top: 150px;
}


.text-shadow{
   text-shadow: 1px 1px 2px #333
}


.line-height-23{
   line-height: 23px;
}
.line-height-25{
   line-height: 25px;
}
.line-height-30{
   line-height: 30px;
}
.line-height-35{
   line-height: 35px;
}
.use-background-image{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


.color-fff{
   color: #fff !important;
}
.color-333{
   color: #333 !important;
}
.color-pink{
    color: #9C1F31 !important;
}

.sng_photo {
	border: 1px solid #dddddd;
	padding:2px;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}


div.address p {
  color: rgb(156, 31, 49);
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 20px auto;
}


/* Header styles */
div.slicknav_menu{
   display: none;
}

div.home-body h1 {
  font-family: "brandon-grotesque",sans-serif;
  font-size: 50px;
}

div.home-body h1 a{
  transition: all .4s ease 0s;
}
div.home-body h1 a:hover{
  text-decoration: none;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #bbb;
}


ul#nav {
    margin: 40px auto;
    padding: 0;
}
ul#nav li {
    list-style: outside none none;
}
ul#nav li a {
color: rgb(156, 31, 49);
font-family: "brandon-grotesque",sans-serif;
font-size: 40px;
font-weight: bold;
line-height: 50px;
text-shadow: 1px 2px 1px #333;
}
ul#nav li a:hover {
color: #388e77;
text-decoration: none;
padding-left: 5px;
}


div.right-sidebar {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
div.right-sidebar div.sng_off_out {
  border: medium none;
  border-bottom:3px solid #fff;
  margin: 15px auto;  
  width: 100%;
}

/* menu page */
div.menu-page {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  padding-top: 100px;
}

div.navmenu-fixed-left {
  background: rgb(51, 51, 51) none repeat scroll 0 0;
}

div.navmenu-fixed-left h1 a{
   font-size: 40px;
}
div.navmenu-fixed-left ul.navmenu-nav{
   margin: 25px auto;
}
div.navmenu-fixed-left ul.navmenu-nav li a{
   color: rgb(119, 119, 119);
}
div.navmenu-fixed-left ul.navmenu-nav li a:hover{
   color: rgb(94, 94, 94);
}
#supersized {
  padding: 0;
  margin: 0;
}
.navbar-default .navbar-toggle {
  background-color: #bbbbbb;
}


/* about page */

div.about-page {
  padding: 35px 10px;
}


/* reviews page */

div.sing_rev h4 small {
  color: rgb(255, 255, 255);
}
div.give_rev h4 small {
  color: #fff;
}

/* videos page */

.video-player{
   
}


/* offers page */
div.offer-page {
  padding-top: 100px;
  overflow: hidden;
}
div.sng_off_out:nth-child(2n) {
  border-right: 1px solid;
}


div.mid-content{
    padding-top: 50px;
}
div.menu-page-area {
background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
padding: 25px 15px 0;
min-height: 750px
}
div.menu-page-area div.panel div.panel-heading {
  background: #EBD2D6 none repeat scroll 0 0;
  color: rgb(156, 31, 49);
  padding: 0;
}
div.menu-page-area div.panel div.panel-heading h4 a {
  display: block;
  padding: 20px;
}

/* Footer styles */
div.footer-area {
  background: none repeat scroll 0 0 rgb(51, 51, 51);
}
div.footer p {
  color: rgb(255, 255, 255);
  margin: 0;
}
.footer {
  margin-top: -80px; /* negative value of footer height */
  height: 80px;
} 

div.socials ul {
  padding: 0;
}
div.socials ul li {
    display: inline-block;
    list-style: outside none none;
    margin-right: 15px;
}
div.socials ul li a {
    color: rgb(156, 31, 49);
    font-size: 30px;
    text-shadow: 1px 2px 1px #333;
}
div.socials ul li a i {
   transition: all .4s ease-in-out 0s;
}
div.socials ul li a:hover i {
   transform: rotate(30deg)scale(1.2);
   -webkit-transform: rotate(30deg)scale(1.2);
   -moz-transform: rotate(30deg)scale(1.2);
   -o-transform: rotate(30deg)scale(1.2);
   -ms-transform: rotate(30deg)scale(1.2);
}
