      <div class=" menu-page-area color-fff text-center">
      <?php
         $videoPlayer = null;
         $videos = $this->restaurant->getVideos();
         $page = $this->restaurant->getPage('videos');
       ?>
      <?=($page->title ? '<h2 class="hidden-xs text-center text-shadow padding-0-0-25 margin-15-auto-0">'.$page->title.'</h2>' : '');?>
      <?=($page->description ? '<h4 class="hidden-xs">'.$page->description.'</h4>' : '');?>
      <div class="clearfix">                    
         <?php 
            if ( !$videos->getTotal() ) {
               echo $this->restaurant->getThemeViewHelpers()->alert('No published videos found.', 'alert alert-info');
            }else{
            foreach($videos->getItems() as $video) {
              echo '<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 sing_vid text-center" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">';
              echo "<h5 itemprop='name'>{$video->getTitle()}</h5>";
              $videoUrl = $this->restaurant->getUrl('videos', 'index', array('video_id' => $video->getId()));
              echo "<a href='$videoUrl' >{$video->getThumbnail()}</a>";
              echo "<meta itemprop='thumbnailUrl' content='{$video->getThumbnailUrl()}'/>";
              echo "<span itemprop='description'/>{$video->getDescription()}</span>";
              echo "<meta itemprop='contentURL' content='{$videoUrl}'/>";
              echo '</div>';
           
               if (isset($_GET['video_id']) && $video->getId() == $_GET['video_id']) {
                  $videoPlayer = $video->getYoutubePlayer(array('width'=> '700px'));
              }
 
            } 
            }
         ?>                                           
      </div>
      
      <div class='margin-15-auto-0'>
          <?php echo $videoPlayer; ?>
      </div>
      </div>
