<?php 
$album = $this->restaurant->getDefaultPhotoAlbum(); 
if ($album instanceof \Ezy\Album && $album->getPhotos()) { ?>
    <div class="slider-area col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <?php
        echo '<ol class="carousel-indicators">';
        $i = 0;
        foreach ($album->getPhotos()->getItems() as $photo) {
            echo "<li data-target='#carousel-example-generic' data-slide-to='$i' class='active'></li>";
            $i++;
        }
        echo '</ol>';

        $i = 0;
        echo '<div class="carousel-inner" role="listbox">';
        foreach ($album->getPhotos()->getItems() as $photo) {
            $active = ($i == 0 ? "active" : "");
            echo "<div class='item $active'>";
                echo "<img src='{$photo->getImageUrl()}' alt='banner'>";
                echo '<div class="carousel-caption">';
                    echo ($album->getTitle() ? '<h2>'. $album->getTitle() .'</h2>' : '');
                    echo ($photo->getCaption() ? '<p>'. $photo->getCaption() .'</p>' : '');
                echo '</div>';
            echo '</div>';
            $i++;
        }
        echo '</div>'; ?>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
<?php } ?>

<div class="offers-section col-md-12 clearfix">
	<div class="col-md-4 left-side">
		<h2 class="title text-center"><?=( $this->restaurant->getSlogan() ? $this->restaurant->getSlogan() : 'Your slogan here')?></h2>
		
		<?=( $this->restaurant->getDescription() ? $this->restaurant->getDescription() : $this->restaurant->getThemeViewHelpers()->alert('No published details available.') )?>
	</div>
	
	<div class="right-side col-md-8">
		<div class="single col-md-6">
		
		</div>
	</div>
</div>
