<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <?php echo $this->headTitle(); ?>
      <?php echo $this->headMeta();?>
      <?php echo $this->headScript();?>
	  <link rel="shortcut icon" type="image/x-icon" href="<?=$this->baseUrl('favicon.ico');?>" />
	  <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/font-awesome.min.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/slicknav.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/normalize.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/jquery.fancybox.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/bootstrap.min.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/themes/ch/theme13/style.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/themes/ch/theme13/responsive.css');?>">
      <script src="<?=$this->baseUrl('/tr/vendor/js/vendor/modernizr-2.6.2.min.js');?>"></script>
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <?php echo $this->headLink() ?>
		
		<style type="text/css">
			.view {
				width: 300px;
				height: 200px;
				margin: 10px;
				float: left;
				border: 10px solid #fff;
				overflow: hidden;
				position: relative;
				text-align: center;
				box-shadow: 1px 1px 2px #e6e6e6;
				cursor: default;
				background: #fff url(../images/bgimg.jpg) no-repeat center center
			}
			.view .mask, .view .content {
				width: 300px;
				height: 200px;
				position: absolute;
				overflow: hidden;
				top: 0;
				left: 0
			}
			.view img {
				display: block;
				position: relative
			}
			.view h2 {
				text-transform: uppercase;
				color: #fff;
				text-align: center;
				position: relative;
				font-size: 17px;
				padding: 10px;
				background: rgba(0, 0, 0, 0.8);
				margin: 20px 0 0 0
			}
			.view p {
				font-family: Georgia, serif;
				font-style: italic;
				font-size: 12px;
				position: relative;
				color: #fff;
				padding: 10px 20px 20px;
				text-align: center
			}
			.view a.info {
				display: inline-block;
				text-decoration: none;
				padding: 7px 14px;
				background: #000;
				color: #fff;
				text-transform: uppercase;
				box-shadow: 0 0 1px #000
			}
			.view a.info:hover {
				box-shadow: 0 0 5px #000
			}
		</style>
		
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="col-md-12 top-bar clearifx">
			<div class="inner col-md-10 col-md-offset-1">
				<ul class="list-unstyled socials">
					<li><a href=""><i class="fa fa-facebook"></i></a></li>
					<li><a href=""><i class="fa fa-twitter"></i></a></li>
					<li><a href=""><i class="fa fa-google-plus"></i></a></li>
				</ul>
				
				<ul class="list-unstyled phone">
					<li><i class="fa fa-phone"></i> Call Us Today: <a href="tel:<?=$this->restaurant->getPhoneReservation()?>"><?=$this->restaurant->getPhoneReservation()?></a></li>
				</ul>
			</div>
		</div>
		
		<div class="col-md-12 header clearfix">
			<div class="inner col-md-10 col-md-offset-1">
				<div class="logo col-md-3">
					<a href="<?=$this->restaurant->getUrl('home')?>">
						<?=( $this->restaurant->getLogoImageId() ? $this->restaurant->getLogo('', null) : $this->restaurant->getName() )?>
					</a>
				</div>
				
				<div class="menu col-md-9">
					<ul id="nav" class="text-right list-unstyled">
						<li><a href="<?=$this->restaurant->getUrl('home')?>">Home</a></li>
						<li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
						<?=( $this->restaurant->getShowPageReviews() ?
						"<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a></li>" : ""
						)?>
						<?=( $this->restaurant->getShowPageVideos() ?
						"<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a></li>" : ""
						)?>
						<?=( $this->restaurant->getShowPagePhotos() ?
						"<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a></li>" : ""
						)?>
						<?=( $this->restaurant->getShowPageOffers() ?
						"<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a></li>" : ""
						)?>
					</ul>
				</div>
			</div>
        </div>
		
		<?php echo $this->layout()->content; ?>
		
		<div class="col-md-12 footer clearfix">
			<div class="copyright col-md-6 col-sm-6">
				<p><?=$this->restaurant->getWebsitePoweredByText();?><br/>
				<small><?=$this->restaurant->getSubUnsubLink();?></small></p>
			</div>
			<div class="developer-info col-md-6 col-sm-6 text-right">
				<p>Designed & Developed By 
					<a target='_blank' href='<?=$this->restaurant->getWebsiteFooterLink();?>'><?=$this->restaurant->getWebsiteFooterLinkText();?></a>
				</p>
			</div>
		</div>
		
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="vendor/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
		<script src="<?=$this->baseUrl('/tr/vendor/js/bootstrap.min.js');?>"></script>
      <script src="<?=$this->baseUrl('/tr/vendor/js/plugins.js');?>"></script>
      <script src="<?=$this->baseUrl('/tr/vendor/js/jquery.fancybox.pack.js')?>"></script>
      <script src="<?=$this->baseUrl('/tr/vendor/js/main.js');?>"></script>
      <script src="<?=$this->baseUrl('/tr/themes/ch/theme13/theme.js');?>"></script>
   </body>
</html>
