@media only screen and (min-width: 992px) and (max-width: 1199px) {


}

@media only screen and (min-width: 768px) and (max-width: 991px) {


}





@media only screen and (max-width: 767px) {

div.slicknav_menu{
	display: block;
}
div.header div.inner div.menu{
	display: none;
}

}


@media only screen and (max-width: 479px) {

form#review dl.zend_form dd#captcha-element pre {
  font-size: 8px;
}

form#review dl.zend_form dd#email-element input, form#review dl.zend_form dd#name-element input {
  max-width: 100%;
}


}


