body{
	font-family: verdana;
	background: #F1F1F1;
}
a{
	transition: all .4s ease-in-out 0s;
}
div.slicknav_menu{
	display: none;
}

/* top bar styles */
div.top-bar{
	background: #C79C60;
}
div.top-bar ul li {
    display: inline-block;
}
div.top-bar ul {
    margin: 8px auto;
	display: inline-block;
}
div.top-bar ul li a {
    color: #fff;
	text-decoration:none;
}
div.top-bar ul li a i.fa {
    background: #d9a967 none repeat scroll 0 0;
    border-radius: 2px;
    display: block;
    padding: 6px;
}
div.top-bar ul li a i.fa-facebook {
    padding: 6px 8px;
}

div.top-bar ul.phone {
    color: #fff;
    padding-left: 15px;
}
div.top-bar ul.phone li a {
    font-weight: bold;
}


/* header styles */
div.header{
	background: #fff;
}
div.header div.inner div.logo {
    padding: 15px 0;
}
div.header div.inner div.logo a img {

}
div.header div.inner div.menu {
    padding: 0;
}
div.header div.inner div.menu ul {
    padding: 15px 0;
}
div.header div.inner div.menu ul li {
    display: inline-block;
	border-right: 1px solid;
}
div.header div.inner div.menu ul li a {
	color: #333;
	display: block;
	line-height: 14px;
	padding: 0 10px;
}
div.header div.inner div.menu ul li a:hover {
    color: #c79c60;
    text-decoration: none;
}


/* slider styles */
div.slider-area {
  padding: 0;
}



div.footer{
	background: #1B1B1B;
	padding: 25px 15px;
}
div.footer p {
    color: #bbb;
	margin-bottom:0;
}
div.footer p a {
    color: #ddd;
    font-weight: bold;
}
