<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
<footer class="footer-base footer-parallax">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class='list-unstyled'>
                        <li><a href="<?=CH_SWHOST?>/post/ezy/help-and-support?checkout-customer=true">Email Support</a></li>
                        <li><a href="<?=CH_SWHOST?>/post/ezy/frequently-asked-questions-by-customers#how-secure-is-ch">Safety & Security</a></li>
                        <li><a href="<?=CH_SWHOST?>/post/ezy/frequently-asked-questions-by-customers#order-late">Delivery & Returns</a></li>
                        <li><a href="<?=CH_SWHOST?>/post/ezy/frequently-asked-questions-by-customers#which-payment-methods">Supported Payments</a></li>
                        <li><?=$this->restaurant->getSubUnsubLink();?></li>
                        <li>&nbsp;</li>
                        <li style="font-weight: bold"><?=$this->restaurant->getWebsiteFooterLinkText();?></li>
                    </ul>


                </div>


                <div class="col-md-6">

                    <ul style="float: right;list-style: none;text-align: right;">
                        <li><a href="<?=CH_SWHOST?>/post/ezy/privacy-policy">Privacy policy</a></li>
                        <li><a href="<?=CH_SWHOST?>/post/ezy/frequently-asked-questions-by-customers#why-redirect-to-ch">About CurryHunter</a></li>
                        <li><a href="<?=CH_SWHOST?>/post/ezy/customer-agreement">Terms of Agreement</a></li>
                        <li>&nbsp;</li>
                        <li style="font-weight: bold">Website Managed By</li>
                        <li style="font-weight: bold">CurryHunter Ltd <i class="fa fa-copyright"></i>2019-2021</li>
                    </ul>


                </div>
            </div>
        </div>

<!--        <div class="container footer-no-padding-container">-->
<!--            <div class="row copy-row">-->
<!--                <div class="col-md-12 copy-text" style="overflow: hidden">-->
<!--                    <span class="left-footer-text">© Website Managed By CurryHunter Ltd 2019-2021</span> <span class="right-footer-text">KR READINGLTD Company no. 13030051</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


    </div>


</footer>