
    <!--start header seaction -->
    <header class="fixed-top bg-transparent menu-transparent scroll-change wide-area" data-menu-anima="fade-in"
            style="margin-bottom: 60px;position: fixed;width: 100%;background: #5f0c1f">
        <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation" style="background-color: #5f0c1f !important;">
            <div class="navbar navbar-main">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="Index.html">
                            <img class="logo-default scroll-hide" src="<?=$this->baseUrl('/tr/vendor/assets/images/logo.png');?>" alt="logo" />
                            <img class="logo-default scroll-show" src="<?=$this->baseUrl('/tr/vendor/assets/images/logo.png');?>" alt="logo" />
                            <img class="logo-retina" src="<?=$this->baseUrl('/tr/vendor/assets/images/logo-retina.png');?>" alt="logo" />
                        </a>

                        <!--start mobile cart -->
                        <div class="shop-menu-cnt cart-menu-for-mobile" style="z-index: 200;margin-right: 30px;float: right;">
                            <i class="fa fa-shopping-cart"><span class="cart-count">1</span></i>
                        </div>
                        <!--end mobile cart -->

                    </div>
                    <div class="collapse navbar-collapse">
                        <?php  include_once ("top_menu.phtml")?>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--end header section -->
