<?php
$menu = $this->restaurant->getMenu();
$categories = $menu->getCategories();
$spiceLevel = $this->restaurant->getThemeViewHelpers()->spiceLevel($this->restaurant);
$recommendButton = $this->restaurant->getThemeViewHelpers()->recommendButton($this->user);
//$cb = $this->checkoutBasket($this->restaurant);
$currency = $this->restaurant->getCurrencySymbol();
?>


<ul class="nav navbar-nav custom-nav">

    <?=( $this->restaurant->getShowPageMenu() ?
        "<li class='".@(strpos($this->restaurant->getUrl('home'),$_GET['page']) !== false ? 'dropdown active' : 'dropdown')."'><a href='{$this->restaurant->getUrl('home')}'>{$this->restaurant->getName()}</a></li>" : ""
    )?>

    <?=( $this->restaurant->getShowPageMenu() ?
        "<li class='".@(strpos($this->restaurant->getUrl('menu'),$_GET['page']) !== false ? 'dropdown active' : 'dropdown')."'><a href='{$this->restaurant->getUrl('menu')}'>{$this->restaurant->getPageMenu()->getDisplayName()}</a></li>" : ""
    )?>

    <?=( $this->restaurant->getShowPageReservation() ?
        "<li class='".@(strpos($this->restaurant->getUrl('reservation'),$_GET['page']) !== false ? 'dropdown active' : 'dropdown')."'><a href='{$this->restaurant->getUrl('reservation')}'>{$this->restaurant->getPageReservation()->getDisplayName()}</a></li>" : ""
    )?>

    <?=( $this->restaurant->getShowPageAbout() ?
        "<li class='".@(strpos($this->restaurant->getUrl('about'),$_GET['page']) !== false ? 'dropdown active' : 'dropdown')."'><a href='{$this->restaurant->getUrl('about')}'>{$this->restaurant->getPageAbout()->getDisplayName()}</a></li>" : ""
    )?>
    <?=( $this->restaurant->getShowPageReviews() ?
        "<li class='".@(strpos($this->restaurant->getUrl('reviews'),$_GET['page']) !== false ? 'dropdown active' : 'dropdown')."'><a href='{$this->restaurant->getUrl('reviews')}'>{$this->restaurant->getPageReviews()->getDisplayName()}</a></li>" : ""
    )?>

    <?php
//    <?=( $this->restaurant->getShowPageVideos() ?
//        "<li class='".(strpos($this->restaurant->getUrl('videos'),$_GET['page']) !== false ? 'dropdown active' : 'dropdown')."'><a href='{$this->restaurant->getUrl('videos')}'>{$this->restaurant->getPageVideos()->getDisplayName()}</a></li>" : ""
//    )
    ?>

    <?=( $this->restaurant->getShowPagePhotos() ?
        "<li class='".@(strpos($this->restaurant->getUrl('photos'),$_GET['page']) !== false ? 'dropdown active' : 'dropdown')."'><a href='{$this->restaurant->getUrl('photos')}'>{$this->restaurant->getPagePhotos()->getDisplayName()}</a></li>" : ""
    )?>

    <?=( $this->restaurant->getShowPageOffers() ?
        "<li class='".@(strpos($this->restaurant->getUrl('offers'),$_GET['page']) !== false ? 'dropdown active' : 'dropdown')."'><a href='{$this->restaurant->getUrl('offers')}'>{$this->restaurant->getPageOffers()->getDisplayName()}</a></li>" : ""
    )?>

</ul>

<div class="nav navbar-nav navbar-right">
    <div class="shop-menu-cnt hiden-main-menu-cart">
        <i class="fa fa-shopping-cart"><span class="cart-count">1</span></i>
    </div>


    <ul class="nav navbar-nav lan-menu">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><img src="<?=$this->baseUrl('/tr/vendor/assets/images/en.png');?>" alt="" />En<span class="caret"></span></a>
        </li>
    </ul>
</div>
